Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"],
  "package-lock.json": ["check-duplicate-components"]
}

Deploying to gh-pages from @ Neovici/cosmoz-queue@672d64ad0715ab5651d871b627fa5e68c4ea35ec 🚀
  project.json
Due: prettier --write

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  122d72ba2ef9f211f4bc493ee201b1c3e5c62a71
Due: none

Remove preview for PR 18 🛬
  pr/pr-18/assets/component.stories-DzWJDMar.js
  pr/pr-18/assets/iframe-BGVOnQa5.js
  pr/pr-18/assets/preload-helper-PPVm8Dsz.js
  pr/pr-18/favicon-wrapper.svg
  pr/pr-18/favicon.svg
  pr/pr-18/iframe.html
  pr/pr-18/index.html
  pr/pr-18/index.json
  pr/pr-18/nunito-sans-bold-italic.woff2
  pr/pr-18/nunito-sans-bold.woff2
  pr/pr-18/nunito-sans-italic.woff2
  pr/pr-18/nunito-sans-regular.woff2
  pr/pr-18/project.json
  pr/pr-18/sb-addons/links-1/manager-bundle.js
  pr/pr-18/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-18/sb-common-assets/favicon-wrapper.svg
  pr/pr-18/sb-common-assets/favicon.svg
  pr/pr-18/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-18/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-18/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-18/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-18/sb-manager/globals-runtime.js
  pr/pr-18/sb-manager/globals.js
  pr/pr-18/sb-manager/manager-stores.js
  pr/pr-18/sb-manager/runtime.js
  pr/pr-18/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 19 🛫
  pr/pr-19/assets/component.stories-DzWJDMar.js
  pr/pr-19/assets/iframe-BGVOnQa5.js
  pr/pr-19/assets/preload-helper-PPVm8Dsz.js
  pr/pr-19/favicon-wrapper.svg
  pr/pr-19/favicon.svg
  pr/pr-19/iframe.html
  pr/pr-19/index.html
  pr/pr-19/index.json
  pr/pr-19/nunito-sans-bold-italic.woff2
  pr/pr-19/nunito-sans-bold.woff2
  pr/pr-19/nunito-sans-italic.woff2
  pr/pr-19/nunito-sans-regular.woff2
  pr/pr-19/project.json
  pr/pr-19/sb-addons/links-1/manager-bundle.js
  pr/pr-19/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-19/sb-common-assets/favicon-wrapper.svg
  pr/pr-19/sb-common-assets/favicon.svg
  pr/pr-19/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-19/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-19/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-19/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-19/sb-manager/globals-runtime.js
  pr/pr-19/sb-manager/globals.js
  pr/pr-19/sb-manager/manager-stores.js
  pr/pr-19/sb-manager/runtime.js
  pr/pr-19/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: enable all test files and increase coverage to 66%
  src/queue/test/item-click.test.ts
  src/queue/test/render.test.ts
  src/queue/test/use-pref.test.ts
  src/util/test/path.test.ts
  web-test-runner.config.mjs
Due: eslint --fix, prettier --write

Deploy preview for PR 19 🛫
  pr/pr-19/project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@8e30c81f997494cc0e0699dd3b36c2b7f5ec993e 🚀
  project.json
Due: prettier --write

Remove preview for PR 19 🛬
  pr/pr-19/assets/component.stories-DzWJDMar.js
  pr/pr-19/assets/iframe-BGVOnQa5.js
  pr/pr-19/assets/preload-helper-PPVm8Dsz.js
  pr/pr-19/favicon-wrapper.svg
  pr/pr-19/favicon.svg
  pr/pr-19/iframe.html
  pr/pr-19/index.html
  pr/pr-19/index.json
  pr/pr-19/nunito-sans-bold-italic.woff2
  pr/pr-19/nunito-sans-bold.woff2
  pr/pr-19/nunito-sans-italic.woff2
  pr/pr-19/nunito-sans-regular.woff2
  pr/pr-19/project.json
  pr/pr-19/sb-addons/links-1/manager-bundle.js
  pr/pr-19/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-19/sb-common-assets/favicon-wrapper.svg
  pr/pr-19/sb-common-assets/favicon.svg
  pr/pr-19/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-19/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-19/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-19/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-19/sb-manager/globals-runtime.js
  pr/pr-19/sb-manager/globals.js
  pr/pr-19/sb-manager/manager-stores.js
  pr/pr-19/sb-manager/runtime.js
  pr/pr-19/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  c10292593e6a4494c9b09f0bff4c6c214ac82c7e
Due: none

Deploy preview for PR 20 🛫
  pr/pr-20/assets/component.stories-DzWJDMar.js
  pr/pr-20/assets/iframe-BGVOnQa5.js
  pr/pr-20/assets/preload-helper-PPVm8Dsz.js
  pr/pr-20/favicon-wrapper.svg
  pr/pr-20/favicon.svg
  pr/pr-20/iframe.html
  pr/pr-20/index.html
  pr/pr-20/index.json
  pr/pr-20/nunito-sans-bold-italic.woff2
  pr/pr-20/nunito-sans-bold.woff2
  pr/pr-20/nunito-sans-italic.woff2
  pr/pr-20/nunito-sans-regular.woff2
  pr/pr-20/project.json
  pr/pr-20/sb-addons/links-1/manager-bundle.js
  pr/pr-20/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-20/sb-common-assets/favicon-wrapper.svg
  pr/pr-20/sb-common-assets/favicon.svg
  pr/pr-20/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-20/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-20/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-20/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-20/sb-manager/globals-runtime.js
  pr/pr-20/sb-manager/globals.js
  pr/pr-20/sb-manager/manager-stores.js
  pr/pr-20/sb-manager/runtime.js
  pr/pr-20/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

test: migrate from Web Test Runner to Vitest
  .storybook/main.js
  .storybook/vitest.setup.ts
  package-lock.json
  package.json
  src/queue/test/__snapshots__/render.test.snap.js
  src/queue/test/item-click.test.ts
  src/queue/test/render.test.ts
  src/queue/test/use-pref.test.ts
  src/util/path.test.ts
  stories/item-click.stories.ts
  stories/render.stories.ts
  stories/use-pref.stories.ts
  test/fetch.test.ts
  tsconfig.json
  vitest.config.ts
  web-test-runner.config.mjs
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-DeG0DTOP.js
  pr/pr-21/assets/iframe-Bd9fbOqB.js
  pr/pr-21/assets/item-click.stories-jGPDgptQ.js
  pr/pr-21/assets/lit-haunted-Dp_2alsg.js
  pr/pr-21/assets/preload-helper-PPVm8Dsz.js
  pr/pr-21/assets/render-CEWagV_f.js
  pr/pr-21/assets/render.stories-D2ZJWqIi.js
  pr/pr-21/assets/use-callback-CfUbulJq.js
  pr/pr-21/assets/use-pref.stories-BaUnRQpP.js
  pr/pr-21/favicon-wrapper.svg
  pr/pr-21/favicon.svg
  pr/pr-21/iframe.html
  pr/pr-21/index.html
  pr/pr-21/index.json
  pr/pr-21/nunito-sans-bold-italic.woff2
  pr/pr-21/nunito-sans-bold.woff2
  pr/pr-21/nunito-sans-italic.woff2
  pr/pr-21/nunito-sans-regular.woff2
  pr/pr-21/project.json
  pr/pr-21/sb-addons/links-1/manager-bundle.js
  pr/pr-21/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-21/sb-addons/vitest-2/manager-bundle.js
  pr/pr-21/sb-common-assets/favicon-wrapper.svg
  pr/pr-21/sb-common-assets/favicon.svg
  pr/pr-21/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-21/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-21/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-21/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-21/sb-manager/globals-runtime.js
  pr/pr-21/sb-manager/globals.js
  pr/pr-21/sb-manager/manager-stores.js
  pr/pr-21/sb-manager/runtime.js
  pr/pr-21/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

docs: update README with comprehensive documentation
  README.md
Due: prettier --write

Deploy preview for PR 22 🛫
  pr/pr-22/assets/component.stories-DzWJDMar.js
  pr/pr-22/assets/iframe-BGVOnQa5.js
  pr/pr-22/assets/preload-helper-PPVm8Dsz.js
  pr/pr-22/favicon-wrapper.svg
  pr/pr-22/favicon.svg
  pr/pr-22/iframe.html
  pr/pr-22/index.html
  pr/pr-22/index.json
  pr/pr-22/nunito-sans-bold-italic.woff2
  pr/pr-22/nunito-sans-bold.woff2
  pr/pr-22/nunito-sans-italic.woff2
  pr/pr-22/nunito-sans-regular.woff2
  pr/pr-22/project.json
  pr/pr-22/sb-addons/links-1/manager-bundle.js
  pr/pr-22/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-22/sb-common-assets/favicon-wrapper.svg
  pr/pr-22/sb-common-assets/favicon.svg
  pr/pr-22/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-22/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-22/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-22/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-22/sb-manager/globals-runtime.js
  pr/pr-22/sb-manager/globals.js
  pr/pr-22/sb-manager/manager-stores.js
  pr/pr-22/sb-manager/runtime.js
  pr/pr-22/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: resolve lint errors in test migration
  package-lock.json
  package.json
  stories/render.stories.ts
  stories/use-pref.stories.ts
  tsconfig.json
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-CbN03EfH.js
  pr/pr-21/assets/component.stories-DeG0DTOP.js
  pr/pr-21/assets/iframe-CcVHdtaE.js
  pr/pr-21/assets/item-click.stories-D_rX279c.js
  pr/pr-21/assets/lit-haunted-7drcRuRW.js
  pr/pr-21/assets/lit-haunted-Dp_2alsg.js
  pr/pr-21/assets/render-CEWagV_f.js
  pr/pr-21/assets/render-DWMVOKSd.js
  pr/pr-21/assets/render.stories-DbpavU_h.js
  pr/pr-21/assets/use-callback-CfUbulJq.js
  pr/pr-21/assets/use-callback-DPHY1GC0.js
  pr/pr-21/assets/use-pref.stories-BCXXKoh4.js
  pr/pr-21/assets/use-pref.stories-BaUnRQpP.js
  pr/pr-21/iframe.html
  pr/pr-21/project.json
Due: eslint --fix, prettier --write

refactor: address PR feedback
  stories/helpers/render-hook.ts
  stories/render.stories.ts
  stories/use-pref.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-CXdBf8e0.js
  pr/pr-21/assets/component.stories-CbN03EfH.js
  pr/pr-21/assets/iframe-BMODXThL.js
  pr/pr-21/assets/item-click.stories-Du9LMp3P.js
  pr/pr-21/assets/lit-haunted-7drcRuRW.js
  pr/pr-21/assets/lit-haunted-D_E11GVP.js
  pr/pr-21/assets/render-DWMVOKSd.js
  pr/pr-21/assets/render-DmlPUKxT.js
  pr/pr-21/assets/render.stories-DSwdFCZ4.js
  pr/pr-21/assets/render.stories-DbpavU_h.js
  pr/pr-21/assets/use-callback-Bv00eJ6y.js
  pr/pr-21/assets/use-callback-DPHY1GC0.js
  pr/pr-21/assets/use-pref.stories-BCXXKoh4.js
  pr/pr-21/assets/use-pref.stories-DM9WkN4S.js
  pr/pr-21/iframe.html
  pr/pr-21/project.json
Due: eslint --fix, prettier --write

refactor: use @neovici/testing instead of local renderHook helper
  package-lock.json
  package.json
  stories/helpers/render-hook.ts
  stories/use-pref.stories.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-CXdBf8e0.js
  pr/pr-21/assets/component.stories-GhFFF1OO.js
  pr/pr-21/assets/iframe-32s9o9LL.js
  pr/pr-21/assets/item-click.stories-4Ed2MET-.js
  pr/pr-21/assets/lit-haunted-DGmhBbUE.js
  pr/pr-21/assets/lit-haunted-D_E11GVP.js
  pr/pr-21/assets/render-DmlPUKxT.js
  pr/pr-21/assets/render-rfpmO1rU.js
  pr/pr-21/assets/render.stories-D734ueRg.js
  pr/pr-21/assets/use-callback-BXh127T0.js
  pr/pr-21/assets/use-callback-Bv00eJ6y.js
  pr/pr-21/assets/use-pref.stories-DM9WkN4S.js
  pr/pr-21/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-21/iframe.html
  pr/pr-21/project.json
Due: eslint --fix, prettier --write

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-BSlZyfIi.js
  pr/pr-21/assets/component.stories-GhFFF1OO.js
  pr/pr-21/assets/iframe-DD3_WWwR.js
  pr/pr-21/assets/item-click.stories-C-0YBYI-.js
  pr/pr-21/assets/lit-haunted-DGmhBbUE.js
  pr/pr-21/assets/lit-haunted-DOXodwxI.js
  pr/pr-21/assets/magic-string.es-DjU5CGuV.js
  pr/pr-21/assets/render-BcMI5Afg.js
  pr/pr-21/assets/render-rfpmO1rU.js
  pr/pr-21/assets/render.stories-D734ueRg.js
  pr/pr-21/assets/render.stories-pLAtfbog.js
  pr/pr-21/assets/use-callback-BXh127T0.js
  pr/pr-21/assets/use-callback-DJxZKeNi.js
  pr/pr-21/assets/use-pref.stories-D0c3_T_7.js
  pr/pr-21/iframe.html
  pr/pr-21/project.json
Due: eslint --fix, prettier --write

test: add HTML snapshot testing for render components
  .storybook/vitest.setup.ts
  stories/__snapshots__/render.stories.ts.snap
  stories/render.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 21 🛫
  pr/pr-21/project.json
Due: prettier --write

Deploy preview for PR 23 🛫
  pr/pr-23/assets/async-directive-cKI5krpX.js
  pr/pr-23/assets/component.stories-BfM1Fulj.js
  pr/pr-23/assets/iframe-0U8S8_7f.js
  pr/pr-23/assets/item-click.stories-PoGn8Y-Y.js
  pr/pr-23/assets/lit-haunted-rNEjrBtM.js
  pr/pr-23/assets/load-more.stories-BCbohD__.js
  pr/pr-23/assets/magic-string.es-DjU5CGuV.js
  pr/pr-23/assets/preload-helper-PPVm8Dsz.js
  pr/pr-23/assets/render-D8wmNxbk.js
  pr/pr-23/assets/render.stories-X45RVhbl.js
  pr/pr-23/assets/until-Dmv33ZpH.js
  pr/pr-23/assets/use-callback-B5NYZVFC.js
  pr/pr-23/assets/use-pref.stories-3KOkotFQ.js
  pr/pr-23/favicon-wrapper.svg
  pr/pr-23/favicon.svg
  pr/pr-23/iframe.html
  pr/pr-23/index.html
  pr/pr-23/index.json
  pr/pr-23/nunito-sans-bold-italic.woff2
  pr/pr-23/nunito-sans-bold.woff2
  pr/pr-23/nunito-sans-italic.woff2
  pr/pr-23/nunito-sans-regular.woff2
  pr/pr-23/project.json
  pr/pr-23/sb-addons/links-1/manager-bundle.js
  pr/pr-23/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-23/sb-addons/vitest-2/manager-bundle.js
  pr/pr-23/sb-common-assets/favicon-wrapper.svg
  pr/pr-23/sb-common-assets/favicon.svg
  pr/pr-23/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-23/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-23/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-23/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-23/sb-manager/globals-runtime.js
  pr/pr-23/sb-manager/globals.js
  pr/pr-23/sb-manager/manager-stores.js
  pr/pr-23/sb-manager/runtime.js
  pr/pr-23/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

refactor: remove snapshot tests from stories
  .storybook/vitest.setup.ts
  stories/__snapshots__/render.stories.ts.snap
  stories/render.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 23 🛫
  pr/pr-23/assets/async-directive-BxySECI5.js
  pr/pr-23/assets/async-directive-cKI5krpX.js
  pr/pr-23/assets/component.stories-BfM1Fulj.js
  pr/pr-23/assets/component.stories-DUcszreW.js
  pr/pr-23/assets/iframe-DT-96Rhe.js
  pr/pr-23/assets/item-click.stories-B3ivflIP.js
  pr/pr-23/assets/lit-haunted-C6T_gbj_.js
  pr/pr-23/assets/lit-haunted-rNEjrBtM.js
  pr/pr-23/assets/load-more.stories-BCsA3SVW.js
  pr/pr-23/assets/magic-string.es-DjU5CGuV.js
  pr/pr-23/assets/render-DeZTHZ1l.js
  pr/pr-23/assets/render.stories-C91tZWln.js
  pr/pr-23/assets/render.stories-X45RVhbl.js
  pr/pr-23/assets/until-Dmv33ZpH.js
  pr/pr-23/assets/until-Th2UA_nb.js
  pr/pr-23/assets/use-callback-B5NYZVFC.js
  pr/pr-23/assets/use-callback-D4uv-f6a.js
  pr/pr-23/assets/use-pref.stories-BgDxnemJ.js
  pr/pr-23/iframe.html
  pr/pr-23/project.json
Due: eslint --fix, prettier --write

Deploy preview for PR 21 🛫
  pr/pr-21/assets/component.stories-BSlZyfIi.js
  pr/pr-21/assets/component.stories-GhFFF1OO.js
  pr/pr-21/assets/iframe-32s9o9LL.js
  pr/pr-21/assets/item-click.stories-4Ed2MET-.js
  pr/pr-21/assets/lit-haunted-DGmhBbUE.js
  pr/pr-21/assets/lit-haunted-DOXodwxI.js
  pr/pr-21/assets/magic-string.es-DjU5CGuV.js
  pr/pr-21/assets/render-BcMI5Afg.js
  pr/pr-21/assets/render-rfpmO1rU.js
  pr/pr-21/assets/render.stories-D734ueRg.js
  pr/pr-21/assets/render.stories-pLAtfbog.js
  pr/pr-21/assets/use-callback-BXh127T0.js
  pr/pr-21/assets/use-callback-DJxZKeNi.js
  pr/pr-21/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-21/iframe.html
  pr/pr-21/project.json
Due: eslint --fix, prettier --write

feat: add Load All button to fetch all data at once
  .storybook/preview.js
  src/list/more/render-more.ts
  src/list/more/use-more.ts
  src/list/render-list-core.ts
  src/list/use-list-core.ts
  stories/load-more.stories.ts
Due: eslint --fix, prettier --write

refactor: use single spinner for load more buttons
  src/list/more/render-more.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 23 🛫
  pr/pr-23/assets/async-directive-BdIA-Mru.js
  pr/pr-23/assets/async-directive-BxySECI5.js
  pr/pr-23/assets/component.stories-DUcszreW.js
  pr/pr-23/assets/component.stories-DsIPEmqT.js
  pr/pr-23/assets/iframe-CJyEtxgP.js
  pr/pr-23/assets/item-click.stories-Bp4XSiAC.js
  pr/pr-23/assets/lit-haunted-BljuK1Gr.js
  pr/pr-23/assets/lit-haunted-C6T_gbj_.js
  pr/pr-23/assets/load-more.stories-Ca4YOJIx.js
  pr/pr-23/assets/render-BARjTxtm.js
  pr/pr-23/assets/render.stories-BIdby17k.js
  pr/pr-23/assets/until-0HHlxhrd.js
  pr/pr-23/assets/until-Th2UA_nb.js
  pr/pr-23/assets/use-callback-BjOGDAIZ.js
  pr/pr-23/assets/use-callback-D4uv-f6a.js
  pr/pr-23/assets/use-pref.stories-Ce7RjIiU.js
  pr/pr-23/iframe.html
  pr/pr-23/project.json
Due: eslint --fix, prettier --write

test: migrate from Web Test Runner to Vitest (#21)
  .storybook/main.js
  .storybook/vitest.setup.ts
  package-lock.json
  package.json
  src/queue/test/__snapshots__/render.test.snap.js
  src/queue/test/item-click.test.ts
  src/queue/test/render.test.ts
  src/queue/test/use-pref.test.ts
  src/util/path.test.ts
  stories/item-click.stories.ts
  stories/render.stories.ts
  stories/use-pref.stories.ts
  test/fetch.test.ts
  tsconfig.json
  vitest.config.ts
  web-test-runner.config.mjs
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@e450b2463934148624c7c00ea8ea7034684a4131 🚀
  assets/component.stories-DzWJDMar.js
  assets/component.stories-GhFFF1OO.js
  assets/iframe-32s9o9LL.js
  assets/iframe-BGVOnQa5.js
  assets/item-click.stories-4Ed2MET-.js
  assets/lit-haunted-DGmhBbUE.js
  assets/render-rfpmO1rU.js
  assets/render.stories-D734ueRg.js
  assets/use-callback-BXh127T0.js
  assets/use-pref.stories-DdOQ5wnN.js
  iframe.html
  index.html
  index.json
  project.json
  sb-addons/vitest-2/manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
Due: eslint --fix, prettier --write

Remove preview for PR 21 🛬
  pr/pr-21/assets/component.stories-GhFFF1OO.js
  pr/pr-21/assets/iframe-32s9o9LL.js
  pr/pr-21/assets/item-click.stories-4Ed2MET-.js
  pr/pr-21/assets/lit-haunted-DGmhBbUE.js
  pr/pr-21/assets/preload-helper-PPVm8Dsz.js
  pr/pr-21/assets/render-rfpmO1rU.js
  pr/pr-21/assets/render.stories-D734ueRg.js
  pr/pr-21/assets/use-callback-BXh127T0.js
  pr/pr-21/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-21/favicon-wrapper.svg
  pr/pr-21/favicon.svg
  pr/pr-21/iframe.html
  pr/pr-21/index.html
  pr/pr-21/index.json
  pr/pr-21/nunito-sans-bold-italic.woff2
  pr/pr-21/nunito-sans-bold.woff2
  pr/pr-21/nunito-sans-italic.woff2
  pr/pr-21/nunito-sans-regular.woff2
  pr/pr-21/project.json
  pr/pr-21/sb-addons/links-1/manager-bundle.js
  pr/pr-21/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-21/sb-addons/vitest-2/manager-bundle.js
  pr/pr-21/sb-common-assets/favicon-wrapper.svg
  pr/pr-21/sb-common-assets/favicon.svg
  pr/pr-21/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-21/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-21/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-21/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-21/sb-manager/globals-runtime.js
  pr/pr-21/sb-manager/globals.js
  pr/pr-21/sb-manager/manager-stores.js
  pr/pr-21/sb-manager/runtime.js
  pr/pr-21/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 22 🛬
  pr/pr-22/assets/component.stories-DzWJDMar.js
  pr/pr-22/assets/iframe-BGVOnQa5.js
  pr/pr-22/assets/preload-helper-PPVm8Dsz.js
  pr/pr-22/favicon-wrapper.svg
  pr/pr-22/favicon.svg
  pr/pr-22/iframe.html
  pr/pr-22/index.html
  pr/pr-22/index.json
  pr/pr-22/nunito-sans-bold-italic.woff2
  pr/pr-22/nunito-sans-bold.woff2
  pr/pr-22/nunito-sans-italic.woff2
  pr/pr-22/nunito-sans-regular.woff2
  pr/pr-22/project.json
  pr/pr-22/sb-addons/links-1/manager-bundle.js
  pr/pr-22/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-22/sb-common-assets/favicon-wrapper.svg
  pr/pr-22/sb-common-assets/favicon.svg
  pr/pr-22/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-22/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-22/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-22/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-22/sb-manager/globals-runtime.js
  pr/pr-22/sb-manager/globals.js
  pr/pr-22/sb-manager/manager-stores.js
  pr/pr-22/sb-manager/runtime.js
  pr/pr-22/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

docs: rewrite README with comprehensive API documentation and examples
  README.md
Due: prettier --write

Deploy preview for PR 24 🛫
  pr/pr-24/assets/component.stories-GhFFF1OO.js
  pr/pr-24/assets/iframe-32s9o9LL.js
  pr/pr-24/assets/item-click.stories-4Ed2MET-.js
  pr/pr-24/assets/lit-haunted-DGmhBbUE.js
  pr/pr-24/assets/preload-helper-PPVm8Dsz.js
  pr/pr-24/assets/render-rfpmO1rU.js
  pr/pr-24/assets/render.stories-D734ueRg.js
  pr/pr-24/assets/use-callback-BXh127T0.js
  pr/pr-24/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-24/favicon-wrapper.svg
  pr/pr-24/favicon.svg
  pr/pr-24/iframe.html
  pr/pr-24/index.html
  pr/pr-24/index.json
  pr/pr-24/nunito-sans-bold-italic.woff2
  pr/pr-24/nunito-sans-bold.woff2
  pr/pr-24/nunito-sans-italic.woff2
  pr/pr-24/nunito-sans-regular.woff2
  pr/pr-24/project.json
  pr/pr-24/sb-addons/links-1/manager-bundle.js
  pr/pr-24/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-24/sb-addons/vitest-2/manager-bundle.js
  pr/pr-24/sb-common-assets/favicon-wrapper.svg
  pr/pr-24/sb-common-assets/favicon.svg
  pr/pr-24/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-24/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-24/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-24/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-24/sb-manager/globals-runtime.js
  pr/pr-24/sb-manager/globals.js
  pr/pr-24/sb-manager/manager-stores.js
  pr/pr-24/sb-manager/runtime.js
  pr/pr-24/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

docs: rewrite README with comprehensive API documentation and examples (#24)
  README.md
Due: prettier --write

Remove preview for PR 24 🛬
  pr/pr-24/assets/component.stories-GhFFF1OO.js
  pr/pr-24/assets/iframe-32s9o9LL.js
  pr/pr-24/assets/item-click.stories-4Ed2MET-.js
  pr/pr-24/assets/lit-haunted-DGmhBbUE.js
  pr/pr-24/assets/preload-helper-PPVm8Dsz.js
  pr/pr-24/assets/render-rfpmO1rU.js
  pr/pr-24/assets/render.stories-D734ueRg.js
  pr/pr-24/assets/use-callback-BXh127T0.js
  pr/pr-24/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-24/favicon-wrapper.svg
  pr/pr-24/favicon.svg
  pr/pr-24/iframe.html
  pr/pr-24/index.html
  pr/pr-24/index.json
  pr/pr-24/nunito-sans-bold-italic.woff2
  pr/pr-24/nunito-sans-bold.woff2
  pr/pr-24/nunito-sans-italic.woff2
  pr/pr-24/nunito-sans-regular.woff2
  pr/pr-24/project.json
  pr/pr-24/sb-addons/links-1/manager-bundle.js
  pr/pr-24/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-24/sb-addons/vitest-2/manager-bundle.js
  pr/pr-24/sb-common-assets/favicon-wrapper.svg
  pr/pr-24/sb-common-assets/favicon.svg
  pr/pr-24/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-24/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-24/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-24/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-24/sb-manager/globals-runtime.js
  pr/pr-24/sb-manager/globals.js
  pr/pr-24/sb-manager/manager-stores.js
  pr/pr-24/sb-manager/runtime.js
  pr/pr-24/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write
