Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

fix: ignore codecov uploader artifacts
  .gitignore
Due: none

Deploy preview for PR 69 🛫
  pr/pr-69/assets/chunk-BvrOYcoh.js
  pr/pr-69/assets/component.stories-DhD-6ZYQ.js
  pr/pr-69/assets/haunted-I0Oiii6k.js
  pr/pr-69/assets/iframe-DUrQYmMs.js
  pr/pr-69/assets/item-click.stories-CiPdjPb0.js
  pr/pr-69/assets/lit-html-B0z-6tlh.js
  pr/pr-69/assets/preload-helper-CS2xCIPu.js
  pr/pr-69/assets/render-Bfy20W2c.js
  pr/pr-69/assets/render.stories-d-TnUf08.js
  pr/pr-69/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-69/favicon-wrapper.svg
  pr/pr-69/favicon.svg
  pr/pr-69/iframe.html
  pr/pr-69/index.html
  pr/pr-69/index.json
  pr/pr-69/nunito-sans-bold-italic.woff2
  pr/pr-69/nunito-sans-bold.woff2
  pr/pr-69/nunito-sans-italic.woff2
  pr/pr-69/nunito-sans-regular.woff2
  pr/pr-69/project.json
  pr/pr-69/sb-addons/links-1/manager-bundle.js
  pr/pr-69/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-69/sb-addons/vitest-2/manager-bundle.js
  pr/pr-69/sb-common-assets/favicon-wrapper.svg
  pr/pr-69/sb-common-assets/favicon.svg
  pr/pr-69/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-69/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-69/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-69/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-69/sb-manager/globals-runtime.js
  pr/pr-69/sb-manager/globals.js
  pr/pr-69/sb-manager/manager-stores.js
  pr/pr-69/sb-manager/runtime.js
  pr/pr-69/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: ignore codecov uploader artifacts (#69)
  .gitignore
Due: none

Deploying to gh-pages from @ Neovici/cosmoz-queue@31b33491db6b816d2e27e6210a05512c2b3ef82f 🚀
  project.json
Due: prettier --write

Remove preview for PR 69 🛬
  pr/pr-69/assets/chunk-BvrOYcoh.js
  pr/pr-69/assets/component.stories-DhD-6ZYQ.js
  pr/pr-69/assets/haunted-I0Oiii6k.js
  pr/pr-69/assets/iframe-DUrQYmMs.js
  pr/pr-69/assets/item-click.stories-CiPdjPb0.js
  pr/pr-69/assets/lit-html-B0z-6tlh.js
  pr/pr-69/assets/preload-helper-CS2xCIPu.js
  pr/pr-69/assets/render-Bfy20W2c.js
  pr/pr-69/assets/render.stories-d-TnUf08.js
  pr/pr-69/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-69/favicon-wrapper.svg
  pr/pr-69/favicon.svg
  pr/pr-69/iframe.html
  pr/pr-69/index.html
  pr/pr-69/index.json
  pr/pr-69/nunito-sans-bold-italic.woff2
  pr/pr-69/nunito-sans-bold.woff2
  pr/pr-69/nunito-sans-italic.woff2
  pr/pr-69/nunito-sans-regular.woff2
  pr/pr-69/project.json
  pr/pr-69/sb-addons/links-1/manager-bundle.js
  pr/pr-69/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-69/sb-addons/vitest-2/manager-bundle.js
  pr/pr-69/sb-common-assets/favicon-wrapper.svg
  pr/pr-69/sb-common-assets/favicon.svg
  pr/pr-69/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-69/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-69/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-69/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-69/sb-manager/globals-runtime.js
  pr/pr-69/sb-manager/globals.js
  pr/pr-69/sb-manager/manager-stores.js
  pr/pr-69/sb-manager/runtime.js
  pr/pr-69/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 70 🛫
  pr/pr-70/assets/chunk-BvrOYcoh.js
  pr/pr-70/assets/component.stories-DhD-6ZYQ.js
  pr/pr-70/assets/haunted-I0Oiii6k.js
  pr/pr-70/assets/iframe-DUrQYmMs.js
  pr/pr-70/assets/item-click.stories-CiPdjPb0.js
  pr/pr-70/assets/lit-html-B0z-6tlh.js
  pr/pr-70/assets/preload-helper-CS2xCIPu.js
  pr/pr-70/assets/render-Bfy20W2c.js
  pr/pr-70/assets/render.stories-d-TnUf08.js
  pr/pr-70/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-70/favicon-wrapper.svg
  pr/pr-70/favicon.svg
  pr/pr-70/iframe.html
  pr/pr-70/index.html
  pr/pr-70/index.json
  pr/pr-70/nunito-sans-bold-italic.woff2
  pr/pr-70/nunito-sans-bold.woff2
  pr/pr-70/nunito-sans-italic.woff2
  pr/pr-70/nunito-sans-regular.woff2
  pr/pr-70/project.json
  pr/pr-70/sb-addons/links-1/manager-bundle.js
  pr/pr-70/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-70/sb-addons/vitest-2/manager-bundle.js
  pr/pr-70/sb-common-assets/favicon-wrapper.svg
  pr/pr-70/sb-common-assets/favicon.svg
  pr/pr-70/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-70/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-70/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-70/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-70/sb-manager/globals-runtime.js
  pr/pr-70/sb-manager/globals.js
  pr/pr-70/sb-manager/manager-stores.js
  pr/pr-70/sb-manager/runtime.js
  pr/pr-70/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: bump playwright to 1.60.0
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 70 🛫
  pr/pr-70/project.json
Due: prettier --write

chore: bump playwright to 1.60.0 (#70)
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Remove preview for PR 70 🛬
  pr/pr-70/assets/chunk-BvrOYcoh.js
  pr/pr-70/assets/component.stories-DhD-6ZYQ.js
  pr/pr-70/assets/haunted-I0Oiii6k.js
  pr/pr-70/assets/iframe-DUrQYmMs.js
  pr/pr-70/assets/item-click.stories-CiPdjPb0.js
  pr/pr-70/assets/lit-html-B0z-6tlh.js
  pr/pr-70/assets/preload-helper-CS2xCIPu.js
  pr/pr-70/assets/render-Bfy20W2c.js
  pr/pr-70/assets/render.stories-d-TnUf08.js
  pr/pr-70/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-70/favicon-wrapper.svg
  pr/pr-70/favicon.svg
  pr/pr-70/iframe.html
  pr/pr-70/index.html
  pr/pr-70/index.json
  pr/pr-70/nunito-sans-bold-italic.woff2
  pr/pr-70/nunito-sans-bold.woff2
  pr/pr-70/nunito-sans-italic.woff2
  pr/pr-70/nunito-sans-regular.woff2
  pr/pr-70/project.json
  pr/pr-70/sb-addons/links-1/manager-bundle.js
  pr/pr-70/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-70/sb-addons/vitest-2/manager-bundle.js
  pr/pr-70/sb-common-assets/favicon-wrapper.svg
  pr/pr-70/sb-common-assets/favicon.svg
  pr/pr-70/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-70/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-70/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-70/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-70/sb-manager/globals-runtime.js
  pr/pr-70/sb-manager/globals.js
  pr/pr-70/sb-manager/manager-stores.js
  pr/pr-70/sb-manager/runtime.js
  pr/pr-70/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@a820c18dd5ce327adae6dbbf616611dea2c7d88b 🚀
  project.json
Due: prettier --write

chore: add changeset for UI library migration
  .changeset/busy-bags-grow.md
Due: prettier --write

Deploy preview for PR 68 🛫
  pr/pr-68/project.json
Due: prettier --write

chore: enter beta prerelease mode
  .changeset/pre.json
Due: prettier --write

feat: main queue migrate to untitled ui (#68)
  .changeset/busy-bags-grow.md
  .changeset/pre.json
  .storybook/preview.js
  package-lock.json
  package.json
  src/queue/render.ts
  src/queue/style.ts
  stories/render.stories.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Remove preview for PR 68 🛬
  pr/pr-68/assets/chunk-BvrOYcoh.js
  pr/pr-68/assets/component.stories-Py1pA0me.js
  pr/pr-68/assets/haunted-BJ2yJX4O.js
  pr/pr-68/assets/iframe-BD44XYNQ.js
  pr/pr-68/assets/iframe-CagHpb6E.css
  pr/pr-68/assets/item-click.stories-C9Tppzx7.js
  pr/pr-68/assets/lit-html-BZ3vufxv.js
  pr/pr-68/assets/preload-helper-CS2xCIPu.js
  pr/pr-68/assets/render-Bjn1FtiS.js
  pr/pr-68/assets/render.stories-CMgaLV3N.js
  pr/pr-68/assets/use-pref.stories-Sr0p5Y8-.js
  pr/pr-68/favicon-wrapper.svg
  pr/pr-68/favicon.svg
  pr/pr-68/iframe.html
  pr/pr-68/index.html
  pr/pr-68/index.json
  pr/pr-68/nunito-sans-bold-italic.woff2
  pr/pr-68/nunito-sans-bold.woff2
  pr/pr-68/nunito-sans-italic.woff2
  pr/pr-68/nunito-sans-regular.woff2
  pr/pr-68/project.json
  pr/pr-68/sb-addons/links-1/manager-bundle.js
  pr/pr-68/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-68/sb-addons/vitest-2/manager-bundle.js
  pr/pr-68/sb-common-assets/favicon-wrapper.svg
  pr/pr-68/sb-common-assets/favicon.svg
  pr/pr-68/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-68/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-68/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-68/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-68/sb-manager/globals-runtime.js
  pr/pr-68/sb-manager/globals.js
  pr/pr-68/sb-manager/manager-stores.js
  pr/pr-68/sb-manager/runtime.js
  pr/pr-68/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 71 🛬
  pr/pr-71/assets/chunk-BvrOYcoh.js
  pr/pr-71/assets/component.stories-Py1pA0me.js
  pr/pr-71/assets/haunted-BJ2yJX4O.js
  pr/pr-71/assets/iframe-BD44XYNQ.js
  pr/pr-71/assets/iframe-CagHpb6E.css
  pr/pr-71/assets/item-click.stories-C9Tppzx7.js
  pr/pr-71/assets/lit-html-BZ3vufxv.js
  pr/pr-71/assets/preload-helper-CS2xCIPu.js
  pr/pr-71/assets/render-Bjn1FtiS.js
  pr/pr-71/assets/render.stories-CMgaLV3N.js
  pr/pr-71/assets/use-pref.stories-Sr0p5Y8-.js
  pr/pr-71/favicon-wrapper.svg
  pr/pr-71/favicon.svg
  pr/pr-71/iframe.html
  pr/pr-71/index.html
  pr/pr-71/index.json
  pr/pr-71/nunito-sans-bold-italic.woff2
  pr/pr-71/nunito-sans-bold.woff2
  pr/pr-71/nunito-sans-italic.woff2
  pr/pr-71/nunito-sans-regular.woff2
  pr/pr-71/project.json
  pr/pr-71/sb-addons/links-1/manager-bundle.js
  pr/pr-71/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-71/sb-addons/vitest-2/manager-bundle.js
  pr/pr-71/sb-common-assets/favicon-wrapper.svg
  pr/pr-71/sb-common-assets/favicon.svg
  pr/pr-71/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-71/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-71/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-71/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-71/sb-manager/globals-runtime.js
  pr/pr-71/sb-manager/globals.js
  pr/pr-71/sb-manager/manager-stores.js
  pr/pr-71/sb-manager/runtime.js
  pr/pr-71/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(style): adjust spacing, border, hover color and pagination margin
  .changeset/new-ducks-stare.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 72 🛬
  pr/pr-72/assets/chunk-BvrOYcoh.js
  pr/pr-72/assets/component.stories-DQZsX43x.js
  pr/pr-72/assets/haunted-DyQD3RVI.js
  pr/pr-72/assets/iframe-CXEyqJl6.js
  pr/pr-72/assets/iframe-CagHpb6E.css
  pr/pr-72/assets/item-click.stories-C9Tppzx7.js
  pr/pr-72/assets/lit-html-BZ3vufxv.js
  pr/pr-72/assets/preload-helper-CS2xCIPu.js
  pr/pr-72/assets/render-C8cexhBM.js
  pr/pr-72/assets/render.stories-7R4Zf-2t.js
  pr/pr-72/assets/use-pref.stories-DXn1dhiJ.js
  pr/pr-72/favicon-wrapper.svg
  pr/pr-72/favicon.svg
  pr/pr-72/iframe.html
  pr/pr-72/index.html
  pr/pr-72/index.json
  pr/pr-72/nunito-sans-bold-italic.woff2
  pr/pr-72/nunito-sans-bold.woff2
  pr/pr-72/nunito-sans-italic.woff2
  pr/pr-72/nunito-sans-regular.woff2
  pr/pr-72/project.json
  pr/pr-72/sb-addons/links-1/manager-bundle.js
  pr/pr-72/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-72/sb-addons/vitest-2/manager-bundle.js
  pr/pr-72/sb-common-assets/favicon-wrapper.svg
  pr/pr-72/sb-common-assets/favicon.svg
  pr/pr-72/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-72/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-72/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-72/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-72/sb-manager/globals-runtime.js
  pr/pr-72/sb-manager/globals.js
  pr/pr-72/sb-manager/manager-stores.js
  pr/pr-72/sb-manager/runtime.js
  pr/pr-72/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(style): adjust height/margin for host
  .changeset/dull-loops-taste.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 73 🛬
  pr/pr-73/assets/chunk-BvrOYcoh.js
  pr/pr-73/assets/component.stories-D78NqNpJ.js
  pr/pr-73/assets/haunted-B81_JYKP.js
  pr/pr-73/assets/iframe-CZswhPP5.js
  pr/pr-73/assets/iframe-CagHpb6E.css
  pr/pr-73/assets/item-click.stories-C9Tppzx7.js
  pr/pr-73/assets/lit-html-BZ3vufxv.js
  pr/pr-73/assets/preload-helper-CS2xCIPu.js
  pr/pr-73/assets/render-4yMDzVPo.js
  pr/pr-73/assets/render.stories-mIbPLIUO.js
  pr/pr-73/assets/use-pref.stories-B0k5ONBN.js
  pr/pr-73/favicon-wrapper.svg
  pr/pr-73/favicon.svg
  pr/pr-73/iframe.html
  pr/pr-73/index.html
  pr/pr-73/index.json
  pr/pr-73/nunito-sans-bold-italic.woff2
  pr/pr-73/nunito-sans-bold.woff2
  pr/pr-73/nunito-sans-italic.woff2
  pr/pr-73/nunito-sans-regular.woff2
  pr/pr-73/project.json
  pr/pr-73/sb-addons/links-1/manager-bundle.js
  pr/pr-73/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-73/sb-addons/vitest-2/manager-bundle.js
  pr/pr-73/sb-common-assets/favicon-wrapper.svg
  pr/pr-73/sb-common-assets/favicon.svg
  pr/pr-73/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-73/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-73/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-73/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-73/sb-manager/globals-runtime.js
  pr/pr-73/sb-manager/globals.js
  pr/pr-73/sb-manager/manager-stores.js
  pr/pr-73/sb-manager/runtime.js
  pr/pr-73/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(style): the height of host component
  .changeset/shaggy-boats-fold.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 74 🛬
  pr/pr-74/assets/chunk-BvrOYcoh.js
  pr/pr-74/assets/component.stories-CgfxIN2D.js
  pr/pr-74/assets/haunted-DiMKB45j.js
  pr/pr-74/assets/iframe-CagHpb6E.css
  pr/pr-74/assets/iframe-lqNeL3YX.js
  pr/pr-74/assets/item-click.stories-C9Tppzx7.js
  pr/pr-74/assets/lit-html-BZ3vufxv.js
  pr/pr-74/assets/preload-helper-CS2xCIPu.js
  pr/pr-74/assets/render-d279ih5f.js
  pr/pr-74/assets/render.stories-B5p00Vsj.js
  pr/pr-74/assets/use-pref.stories-BuX3LJg4.js
  pr/pr-74/favicon-wrapper.svg
  pr/pr-74/favicon.svg
  pr/pr-74/iframe.html
  pr/pr-74/index.html
  pr/pr-74/index.json
  pr/pr-74/nunito-sans-bold-italic.woff2
  pr/pr-74/nunito-sans-bold.woff2
  pr/pr-74/nunito-sans-italic.woff2
  pr/pr-74/nunito-sans-regular.woff2
  pr/pr-74/project.json
  pr/pr-74/sb-addons/links-1/manager-bundle.js
  pr/pr-74/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-74/sb-addons/vitest-2/manager-bundle.js
  pr/pr-74/sb-common-assets/favicon-wrapper.svg
  pr/pr-74/sb-common-assets/favicon.svg
  pr/pr-74/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-74/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-74/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-74/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-74/sb-manager/globals-runtime.js
  pr/pr-74/sb-manager/globals.js
  pr/pr-74/sb-manager/manager-stores.js
  pr/pr-74/sb-manager/runtime.js
  pr/pr-74/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: remove border and add cosmoz-button to pagination
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 75 🛫
  pr/pr-75/assets/chunk-BvrOYcoh.js
  pr/pr-75/assets/component.stories-Bq3BfNFy.js
  pr/pr-75/assets/haunted-BG3T9kq-.js
  pr/pr-75/assets/iframe-CagHpb6E.css
  pr/pr-75/assets/iframe-eOQ0wXTj.js
  pr/pr-75/assets/item-click.stories-C9Tppzx7.js
  pr/pr-75/assets/lit-html-BZ3vufxv.js
  pr/pr-75/assets/preload-helper-CS2xCIPu.js
  pr/pr-75/assets/render-DyfVu1kv.js
  pr/pr-75/assets/render.stories-Gwr-lDPI.js
  pr/pr-75/assets/use-pref.stories-DeZ79xVb.js
  pr/pr-75/favicon-wrapper.svg
  pr/pr-75/favicon.svg
  pr/pr-75/iframe.html
  pr/pr-75/index.html
  pr/pr-75/index.json
  pr/pr-75/nunito-sans-bold-italic.woff2
  pr/pr-75/nunito-sans-bold.woff2
  pr/pr-75/nunito-sans-italic.woff2
  pr/pr-75/nunito-sans-regular.woff2
  pr/pr-75/project.json
  pr/pr-75/sb-addons/links-1/manager-bundle.js
  pr/pr-75/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-75/sb-addons/vitest-2/manager-bundle.js
  pr/pr-75/sb-common-assets/favicon-wrapper.svg
  pr/pr-75/sb-common-assets/favicon.svg
  pr/pr-75/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-75/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-75/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-75/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-75/sb-manager/globals-runtime.js
  pr/pr-75/sb-manager/globals.js
  pr/pr-75/sb-manager/manager-stores.js
  pr/pr-75/sb-manager/runtime.js
  pr/pr-75/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: gutter background
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 75 🛫
  pr/pr-75/assets/component.stories-DbrIyqxF.js
  pr/pr-75/assets/haunted-BG3T9kq-.js
  pr/pr-75/assets/haunted-Bgh338bJ.js
  pr/pr-75/assets/iframe-C7xeGqO3.js
  pr/pr-75/assets/render-DuDTWkkA.js
  pr/pr-75/assets/render.stories-dtFE5xo2.js
  pr/pr-75/assets/use-pref.stories-DVVV-RI-.js
  pr/pr-75/iframe.html
  pr/pr-75/project.json
Due: eslint --fix, prettier --write

chore: add changeset
  .changeset/full-zoos-dig.md
Due: prettier --write

Deploy preview for PR 75 🛫
  pr/pr-75/project.json
Due: prettier --write

feat: remove border and add cosmoz-button to pagination (#75)
  .changeset/full-zoos-dig.md
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 75 🛬
  pr/pr-75/assets/chunk-BvrOYcoh.js
  pr/pr-75/assets/component.stories-DbrIyqxF.js
  pr/pr-75/assets/haunted-Bgh338bJ.js
  pr/pr-75/assets/iframe-C7xeGqO3.js
  pr/pr-75/assets/iframe-CagHpb6E.css
  pr/pr-75/assets/item-click.stories-C9Tppzx7.js
  pr/pr-75/assets/lit-html-BZ3vufxv.js
  pr/pr-75/assets/preload-helper-CS2xCIPu.js
  pr/pr-75/assets/render-DuDTWkkA.js
  pr/pr-75/assets/render.stories-dtFE5xo2.js
  pr/pr-75/assets/use-pref.stories-DVVV-RI-.js
  pr/pr-75/favicon-wrapper.svg
  pr/pr-75/favicon.svg
  pr/pr-75/iframe.html
  pr/pr-75/index.html
  pr/pr-75/index.json
  pr/pr-75/nunito-sans-bold-italic.woff2
  pr/pr-75/nunito-sans-bold.woff2
  pr/pr-75/nunito-sans-italic.woff2
  pr/pr-75/nunito-sans-regular.woff2
  pr/pr-75/project.json
  pr/pr-75/sb-addons/links-1/manager-bundle.js
  pr/pr-75/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-75/sb-addons/vitest-2/manager-bundle.js
  pr/pr-75/sb-common-assets/favicon-wrapper.svg
  pr/pr-75/sb-common-assets/favicon.svg
  pr/pr-75/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-75/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-75/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-75/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-75/sb-manager/globals-runtime.js
  pr/pr-75/sb-manager/globals.js
  pr/pr-75/sb-manager/manager-stores.js
  pr/pr-75/sb-manager/runtime.js
  pr/pr-75/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 76 🛬
  pr/pr-76/assets/chunk-BvrOYcoh.js
  pr/pr-76/assets/component.stories-DbrIyqxF.js
  pr/pr-76/assets/haunted-Bgh338bJ.js
  pr/pr-76/assets/iframe-C7xeGqO3.js
  pr/pr-76/assets/iframe-CagHpb6E.css
  pr/pr-76/assets/item-click.stories-C9Tppzx7.js
  pr/pr-76/assets/lit-html-BZ3vufxv.js
  pr/pr-76/assets/preload-helper-CS2xCIPu.js
  pr/pr-76/assets/render-DuDTWkkA.js
  pr/pr-76/assets/render.stories-dtFE5xo2.js
  pr/pr-76/assets/use-pref.stories-DVVV-RI-.js
  pr/pr-76/favicon-wrapper.svg
  pr/pr-76/favicon.svg
  pr/pr-76/iframe.html
  pr/pr-76/index.html
  pr/pr-76/index.json
  pr/pr-76/nunito-sans-bold-italic.woff2
  pr/pr-76/nunito-sans-bold.woff2
  pr/pr-76/nunito-sans-italic.woff2
  pr/pr-76/nunito-sans-regular.woff2
  pr/pr-76/project.json
  pr/pr-76/sb-addons/links-1/manager-bundle.js
  pr/pr-76/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-76/sb-addons/vitest-2/manager-bundle.js
  pr/pr-76/sb-common-assets/favicon-wrapper.svg
  pr/pr-76/sb-common-assets/favicon.svg
  pr/pr-76/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-76/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-76/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-76/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-76/sb-manager/globals-runtime.js
  pr/pr-76/sb-manager/globals.js
  pr/pr-76/sb-manager/manager-stores.js
  pr/pr-76/sb-manager/runtime.js
  pr/pr-76/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(style): remove legacy pagination button styles and improve tab navigation layout
  .changeset/all-taxis-refuse.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 77 🛬
  pr/pr-77/assets/chunk-BvrOYcoh.js
  pr/pr-77/assets/component.stories-S7pVSUiQ.js
  pr/pr-77/assets/haunted-WnI0yfX5.js
  pr/pr-77/assets/iframe-CUgx01YJ.js
  pr/pr-77/assets/iframe-CagHpb6E.css
  pr/pr-77/assets/item-click.stories-C9Tppzx7.js
  pr/pr-77/assets/lit-html-BZ3vufxv.js
  pr/pr-77/assets/preload-helper-CS2xCIPu.js
  pr/pr-77/assets/render-6LzsK4sW.js
  pr/pr-77/assets/render.stories-D81TlVAd.js
  pr/pr-77/assets/use-pref.stories-ClcN9Jdo.js
  pr/pr-77/favicon-wrapper.svg
  pr/pr-77/favicon.svg
  pr/pr-77/iframe.html
  pr/pr-77/index.html
  pr/pr-77/index.json
  pr/pr-77/nunito-sans-bold-italic.woff2
  pr/pr-77/nunito-sans-bold.woff2
  pr/pr-77/nunito-sans-italic.woff2
  pr/pr-77/nunito-sans-regular.woff2
  pr/pr-77/project.json
  pr/pr-77/sb-addons/links-1/manager-bundle.js
  pr/pr-77/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-77/sb-addons/vitest-2/manager-bundle.js
  pr/pr-77/sb-common-assets/favicon-wrapper.svg
  pr/pr-77/sb-common-assets/favicon.svg
  pr/pr-77/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-77/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-77/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-77/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-77/sb-manager/globals-runtime.js
  pr/pr-77/sb-manager/globals.js
  pr/pr-77/sb-manager/manager-stores.js
  pr/pr-77/sb-manager/runtime.js
  pr/pr-77/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: add border top for queue and remove the header border
  .changeset/smart-buckets-watch.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 78 🛬
  pr/pr-78/assets/chunk-BvrOYcoh.js
  pr/pr-78/assets/component.stories-B9IOya0P.js
  pr/pr-78/assets/haunted-Cg1OQRTV.js
  pr/pr-78/assets/iframe-CagHpb6E.css
  pr/pr-78/assets/iframe-D-yDG9Uv.js
  pr/pr-78/assets/item-click.stories-C9Tppzx7.js
  pr/pr-78/assets/lit-html-BZ3vufxv.js
  pr/pr-78/assets/preload-helper-CS2xCIPu.js
  pr/pr-78/assets/render-C_iz7Hib.js
  pr/pr-78/assets/render.stories-Du5i2Stf.js
  pr/pr-78/assets/use-pref.stories-DhGVj9lA.js
  pr/pr-78/favicon-wrapper.svg
  pr/pr-78/favicon.svg
  pr/pr-78/iframe.html
  pr/pr-78/index.html
  pr/pr-78/index.json
  pr/pr-78/nunito-sans-bold-italic.woff2
  pr/pr-78/nunito-sans-bold.woff2
  pr/pr-78/nunito-sans-italic.woff2
  pr/pr-78/nunito-sans-regular.woff2
  pr/pr-78/project.json
  pr/pr-78/sb-addons/links-1/manager-bundle.js
  pr/pr-78/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-78/sb-addons/vitest-2/manager-bundle.js
  pr/pr-78/sb-common-assets/favicon-wrapper.svg
  pr/pr-78/sb-common-assets/favicon.svg
  pr/pr-78/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-78/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-78/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-78/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-78/sb-manager/globals-runtime.js
  pr/pr-78/sb-manager/globals.js
  pr/pr-78/sb-manager/manager-stores.js
  pr/pr-78/sb-manager/runtime.js
  pr/pr-78/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: add border top only to queue
  .changeset/great-mugs-feel.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 79 🛬
  pr/pr-79/assets/chunk-BvrOYcoh.js
  pr/pr-79/assets/component.stories-B2nx4buo.js
  pr/pr-79/assets/haunted-lfvl7cE7.js
  pr/pr-79/assets/iframe-CagHpb6E.css
  pr/pr-79/assets/iframe-DbkdE6oK.js
  pr/pr-79/assets/item-click.stories-C9Tppzx7.js
  pr/pr-79/assets/lit-html-BZ3vufxv.js
  pr/pr-79/assets/preload-helper-CS2xCIPu.js
  pr/pr-79/assets/render-p5fcUeq3.js
  pr/pr-79/assets/render.stories-Buxnkj1g.js
  pr/pr-79/assets/use-pref.stories-CuG8YkF5.js
  pr/pr-79/favicon-wrapper.svg
  pr/pr-79/favicon.svg
  pr/pr-79/iframe.html
  pr/pr-79/index.html
  pr/pr-79/index.json
  pr/pr-79/nunito-sans-bold-italic.woff2
  pr/pr-79/nunito-sans-bold.woff2
  pr/pr-79/nunito-sans-italic.woff2
  pr/pr-79/nunito-sans-regular.woff2
  pr/pr-79/project.json
  pr/pr-79/sb-addons/links-1/manager-bundle.js
  pr/pr-79/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-79/sb-addons/vitest-2/manager-bundle.js
  pr/pr-79/sb-common-assets/favicon-wrapper.svg
  pr/pr-79/sb-common-assets/favicon.svg
  pr/pr-79/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-79/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-79/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-79/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-79/sb-manager/globals-runtime.js
  pr/pr-79/sb-manager/globals.js
  pr/pr-79/sb-manager/manager-stores.js
  pr/pr-79/sb-manager/runtime.js
  pr/pr-79/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: migrate to cosmoz-resizable v2 CSS-driven flex model
  .changeset/css-driven-resizable.md
  package-lock.json
  package.json
  src/queue/index.ts
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
  src/queue/use-queue.ts
  src/queue/use-split.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
