Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@275b12fffc058bf06ac4d6f32d166a571cb1e5de 🚀
  assets/component.stories-CwkcSD5L.js
  assets/component.stories-DrjzpCWO.js
  assets/iframe-seStyLSv.js
  assets/item-click.stories-CnaPCTwQ.js
  assets/lit-haunted-BMnhs42k.js
  assets/lit-haunted-DDd9bf0J.js
  assets/render-B4hithYm.js
  assets/render-Do4BYtlw.js
  assets/render.stories-DS_Hcnjz.js
  assets/use-callback-Cqy5uBuA.js
  assets/use-callback-SMzqPS6U.js
  assets/use-pref.stories-BFF7Hv-W.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 37 🛬
  pr/pr-37/assets/component.stories-CwkcSD5L.js
  pr/pr-37/assets/iframe-seStyLSv.js
  pr/pr-37/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-37/assets/lit-haunted-DDd9bf0J.js
  pr/pr-37/assets/preload-helper-PPVm8Dsz.js
  pr/pr-37/assets/render-Do4BYtlw.js
  pr/pr-37/assets/render.stories-DS_Hcnjz.js
  pr/pr-37/assets/use-callback-SMzqPS6U.js
  pr/pr-37/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-37/favicon-wrapper.svg
  pr/pr-37/favicon.svg
  pr/pr-37/iframe.html
  pr/pr-37/index.html
  pr/pr-37/index.json
  pr/pr-37/nunito-sans-bold-italic.woff2
  pr/pr-37/nunito-sans-bold.woff2
  pr/pr-37/nunito-sans-italic.woff2
  pr/pr-37/nunito-sans-regular.woff2
  pr/pr-37/project.json
  pr/pr-37/sb-addons/links-1/manager-bundle.js
  pr/pr-37/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-37/sb-addons/vitest-2/manager-bundle.js
  pr/pr-37/sb-common-assets/favicon-wrapper.svg
  pr/pr-37/sb-common-assets/favicon.svg
  pr/pr-37/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-37/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-37/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-37/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-37/sb-manager/globals-runtime.js
  pr/pr-37/sb-manager/globals.js
  pr/pr-37/sb-manager/manager-stores.js
  pr/pr-37/sb-manager/runtime.js
  pr/pr-37/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  47fae453cd30d544a13d1265807c8fe47dba5b7d
Due: none

Deploy preview for PR 38 🛫
  pr/pr-38/assets/component.stories-CwkcSD5L.js
  pr/pr-38/assets/iframe-seStyLSv.js
  pr/pr-38/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-38/assets/lit-haunted-DDd9bf0J.js
  pr/pr-38/assets/preload-helper-PPVm8Dsz.js
  pr/pr-38/assets/render-Do4BYtlw.js
  pr/pr-38/assets/render.stories-DS_Hcnjz.js
  pr/pr-38/assets/use-callback-SMzqPS6U.js
  pr/pr-38/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-38/favicon-wrapper.svg
  pr/pr-38/favicon.svg
  pr/pr-38/iframe.html
  pr/pr-38/index.html
  pr/pr-38/index.json
  pr/pr-38/nunito-sans-bold-italic.woff2
  pr/pr-38/nunito-sans-bold.woff2
  pr/pr-38/nunito-sans-italic.woff2
  pr/pr-38/nunito-sans-regular.woff2
  pr/pr-38/project.json
  pr/pr-38/sb-addons/links-1/manager-bundle.js
  pr/pr-38/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-38/sb-addons/vitest-2/manager-bundle.js
  pr/pr-38/sb-common-assets/favicon-wrapper.svg
  pr/pr-38/sb-common-assets/favicon.svg
  pr/pr-38/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-38/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-38/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-38/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-38/sb-manager/globals-runtime.js
  pr/pr-38/sb-manager/globals.js
  pr/pr-38/sb-manager/manager-stores.js
  pr/pr-38/sb-manager/runtime.js
  pr/pr-38/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: update @neovici/cosmoz-form dependency to support v3
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 38 🛫
  pr/pr-38/project.json
Due: prettier --write

Remove preview for PR 38 🛬
  pr/pr-38/assets/component.stories-CwkcSD5L.js
  pr/pr-38/assets/iframe-seStyLSv.js
  pr/pr-38/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-38/assets/lit-haunted-DDd9bf0J.js
  pr/pr-38/assets/preload-helper-PPVm8Dsz.js
  pr/pr-38/assets/render-Do4BYtlw.js
  pr/pr-38/assets/render.stories-DS_Hcnjz.js
  pr/pr-38/assets/use-callback-SMzqPS6U.js
  pr/pr-38/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-38/favicon-wrapper.svg
  pr/pr-38/favicon.svg
  pr/pr-38/iframe.html
  pr/pr-38/index.html
  pr/pr-38/index.json
  pr/pr-38/nunito-sans-bold-italic.woff2
  pr/pr-38/nunito-sans-bold.woff2
  pr/pr-38/nunito-sans-italic.woff2
  pr/pr-38/nunito-sans-regular.woff2
  pr/pr-38/project.json
  pr/pr-38/sb-addons/links-1/manager-bundle.js
  pr/pr-38/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-38/sb-addons/vitest-2/manager-bundle.js
  pr/pr-38/sb-common-assets/favicon-wrapper.svg
  pr/pr-38/sb-common-assets/favicon.svg
  pr/pr-38/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-38/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-38/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-38/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-38/sb-manager/globals-runtime.js
  pr/pr-38/sb-manager/globals.js
  pr/pr-38/sb-manager/manager-stores.js
  pr/pr-38/sb-manager/runtime.js
  pr/pr-38/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@e50d042c55b52191c573e9aa33546ce749252e05 🚀
  project.json
Due: prettier --write

Deploy preview for PR 39 🛫
  pr/pr-39/assets/component.stories-CwkcSD5L.js
  pr/pr-39/assets/iframe-seStyLSv.js
  pr/pr-39/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-39/assets/lit-haunted-DDd9bf0J.js
  pr/pr-39/assets/preload-helper-PPVm8Dsz.js
  pr/pr-39/assets/render-Do4BYtlw.js
  pr/pr-39/assets/render.stories-DS_Hcnjz.js
  pr/pr-39/assets/use-callback-SMzqPS6U.js
  pr/pr-39/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-39/favicon-wrapper.svg
  pr/pr-39/favicon.svg
  pr/pr-39/iframe.html
  pr/pr-39/index.html
  pr/pr-39/index.json
  pr/pr-39/nunito-sans-bold-italic.woff2
  pr/pr-39/nunito-sans-bold.woff2
  pr/pr-39/nunito-sans-italic.woff2
  pr/pr-39/nunito-sans-regular.woff2
  pr/pr-39/project.json
  pr/pr-39/sb-addons/links-1/manager-bundle.js
  pr/pr-39/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-39/sb-addons/vitest-2/manager-bundle.js
  pr/pr-39/sb-common-assets/favicon-wrapper.svg
  pr/pr-39/sb-common-assets/favicon.svg
  pr/pr-39/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-39/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-39/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-39/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-39/sb-manager/globals-runtime.js
  pr/pr-39/sb-manager/globals.js
  pr/pr-39/sb-manager/manager-stores.js
  pr/pr-39/sb-manager/runtime.js
  pr/pr-39/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 39 🛬
  pr/pr-39/assets/component.stories-CwkcSD5L.js
  pr/pr-39/assets/iframe-seStyLSv.js
  pr/pr-39/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-39/assets/lit-haunted-DDd9bf0J.js
  pr/pr-39/assets/preload-helper-PPVm8Dsz.js
  pr/pr-39/assets/render-Do4BYtlw.js
  pr/pr-39/assets/render.stories-DS_Hcnjz.js
  pr/pr-39/assets/use-callback-SMzqPS6U.js
  pr/pr-39/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-39/favicon-wrapper.svg
  pr/pr-39/favicon.svg
  pr/pr-39/iframe.html
  pr/pr-39/index.html
  pr/pr-39/index.json
  pr/pr-39/nunito-sans-bold-italic.woff2
  pr/pr-39/nunito-sans-bold.woff2
  pr/pr-39/nunito-sans-italic.woff2
  pr/pr-39/nunito-sans-regular.woff2
  pr/pr-39/project.json
  pr/pr-39/sb-addons/links-1/manager-bundle.js
  pr/pr-39/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-39/sb-addons/vitest-2/manager-bundle.js
  pr/pr-39/sb-common-assets/favicon-wrapper.svg
  pr/pr-39/sb-common-assets/favicon.svg
  pr/pr-39/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-39/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-39/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-39/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-39/sb-manager/globals-runtime.js
  pr/pr-39/sb-manager/globals.js
  pr/pr-39/sb-manager/manager-stores.js
  pr/pr-39/sb-manager/runtime.js
  pr/pr-39/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@c215c00a4d3417e708957e0755b695229e8e395a 🚀
  project.json
Due: prettier --write

Notes added by 'git notes add'
  2a9ea1e8f2e9aab105c7069bbfa6aedc0734964f
Due: none

Deploy preview for PR 40 🛫
  pr/pr-40/assets/component.stories-CwkcSD5L.js
  pr/pr-40/assets/iframe-seStyLSv.js
  pr/pr-40/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-40/assets/lit-haunted-DDd9bf0J.js
  pr/pr-40/assets/preload-helper-PPVm8Dsz.js
  pr/pr-40/assets/render-Do4BYtlw.js
  pr/pr-40/assets/render.stories-DS_Hcnjz.js
  pr/pr-40/assets/use-callback-SMzqPS6U.js
  pr/pr-40/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-40/favicon-wrapper.svg
  pr/pr-40/favicon.svg
  pr/pr-40/iframe.html
  pr/pr-40/index.html
  pr/pr-40/index.json
  pr/pr-40/nunito-sans-bold-italic.woff2
  pr/pr-40/nunito-sans-bold.woff2
  pr/pr-40/nunito-sans-italic.woff2
  pr/pr-40/nunito-sans-regular.woff2
  pr/pr-40/project.json
  pr/pr-40/sb-addons/links-1/manager-bundle.js
  pr/pr-40/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-40/sb-addons/vitest-2/manager-bundle.js
  pr/pr-40/sb-common-assets/favicon-wrapper.svg
  pr/pr-40/sb-common-assets/favicon.svg
  pr/pr-40/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-40/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-40/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-40/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-40/sb-manager/globals-runtime.js
  pr/pr-40/sb-manager/globals.js
  pr/pr-40/sb-manager/manager-stores.js
  pr/pr-40/sb-manager/runtime.js
  pr/pr-40/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 41 🛫
  pr/pr-41/assets/component.stories-CwkcSD5L.js
  pr/pr-41/assets/iframe-seStyLSv.js
  pr/pr-41/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-41/assets/lit-haunted-DDd9bf0J.js
  pr/pr-41/assets/preload-helper-PPVm8Dsz.js
  pr/pr-41/assets/render-Do4BYtlw.js
  pr/pr-41/assets/render.stories-DS_Hcnjz.js
  pr/pr-41/assets/use-callback-SMzqPS6U.js
  pr/pr-41/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-41/favicon-wrapper.svg
  pr/pr-41/favicon.svg
  pr/pr-41/iframe.html
  pr/pr-41/index.html
  pr/pr-41/index.json
  pr/pr-41/nunito-sans-bold-italic.woff2
  pr/pr-41/nunito-sans-bold.woff2
  pr/pr-41/nunito-sans-italic.woff2
  pr/pr-41/nunito-sans-regular.woff2
  pr/pr-41/project.json
  pr/pr-41/sb-addons/links-1/manager-bundle.js
  pr/pr-41/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-41/sb-addons/vitest-2/manager-bundle.js
  pr/pr-41/sb-common-assets/favicon-wrapper.svg
  pr/pr-41/sb-common-assets/favicon.svg
  pr/pr-41/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-41/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-41/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-41/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-41/sb-manager/globals-runtime.js
  pr/pr-41/sb-manager/globals.js
  pr/pr-41/sb-manager/manager-stores.js
  pr/pr-41/sb-manager/runtime.js
  pr/pr-41/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@34c77f0500b05f275618d4dc85ccfe6261d2d25f 🚀
  project.json
Due: prettier --write

Remove preview for PR 41 🛬
  pr/pr-41/assets/component.stories-CwkcSD5L.js
  pr/pr-41/assets/iframe-seStyLSv.js
  pr/pr-41/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-41/assets/lit-haunted-DDd9bf0J.js
  pr/pr-41/assets/preload-helper-PPVm8Dsz.js
  pr/pr-41/assets/render-Do4BYtlw.js
  pr/pr-41/assets/render.stories-DS_Hcnjz.js
  pr/pr-41/assets/use-callback-SMzqPS6U.js
  pr/pr-41/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-41/favicon-wrapper.svg
  pr/pr-41/favicon.svg
  pr/pr-41/iframe.html
  pr/pr-41/index.html
  pr/pr-41/index.json
  pr/pr-41/nunito-sans-bold-italic.woff2
  pr/pr-41/nunito-sans-bold.woff2
  pr/pr-41/nunito-sans-italic.woff2
  pr/pr-41/nunito-sans-regular.woff2
  pr/pr-41/project.json
  pr/pr-41/sb-addons/links-1/manager-bundle.js
  pr/pr-41/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-41/sb-addons/vitest-2/manager-bundle.js
  pr/pr-41/sb-common-assets/favicon-wrapper.svg
  pr/pr-41/sb-common-assets/favicon.svg
  pr/pr-41/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-41/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-41/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-41/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-41/sb-manager/globals-runtime.js
  pr/pr-41/sb-manager/globals.js
  pr/pr-41/sb-manager/manager-stores.js
  pr/pr-41/sb-manager/runtime.js
  pr/pr-41/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  e735d3d347b0ad721b57f990c8ea2fada9ec0588
Due: none

feat: expand i18next range to >=25.0.0 <27.0.0
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 40 🛫
  pr/pr-40/assets/chunk-BvrOYcoh.js
  pr/pr-40/assets/component.stories-CwkcSD5L.js
  pr/pr-40/assets/component.stories-We2tK5Qg.js
  pr/pr-40/assets/haunted-CE9ZoaqT.js
  pr/pr-40/assets/iframe-DMLwe7_2.js
  pr/pr-40/assets/iframe-seStyLSv.js
  pr/pr-40/assets/item-click.stories-CiPdjPb0.js
  pr/pr-40/assets/lit-haunted-DDd9bf0J.js
  pr/pr-40/assets/lit-html-B0z-6tlh.js
  pr/pr-40/assets/preload-helper-CS2xCIPu.js
  pr/pr-40/assets/preload-helper-PPVm8Dsz.js
  pr/pr-40/assets/render-Do4BYtlw.js
  pr/pr-40/assets/render-DoKBs5-8.js
  pr/pr-40/assets/render.stories-CAyoZbzo.js
  pr/pr-40/assets/use-callback-SMzqPS6U.js
  pr/pr-40/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-40/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-40/iframe.html
  pr/pr-40/index.html
  pr/pr-40/project.json
  pr/pr-40/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-40/sb-addons/vitest-2/manager-bundle.js
  pr/pr-40/sb-manager/globals-runtime.js
  pr/pr-40/sb-manager/runtime.js
  pr/pr-40/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 40 🛫
  pr/pr-40/project.json
Due: prettier --write

feat: replace @neovici/cosmoz-i18next with i18next direct dependency
  package-lock.json
  package.json
  src/queue/use-tabs.ts
  src/types/global.d.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@b4248cbfb90b127397a99e7c0cc948b4cd220ad5 🚀
  assets/chunk-BvrOYcoh.js
  assets/component.stories-CwkcSD5L.js
  assets/component.stories-We2tK5Qg.js
  assets/haunted-CE9ZoaqT.js
  assets/iframe-DMLwe7_2.js
  assets/iframe-seStyLSv.js
  assets/item-click.stories-CiPdjPb0.js
  assets/lit-haunted-DDd9bf0J.js
  assets/lit-html-B0z-6tlh.js
  assets/preload-helper-CS2xCIPu.js
  assets/preload-helper-PPVm8Dsz.js
  assets/render-Do4BYtlw.js
  assets/render-DoKBs5-8.js
  assets/render.stories-CAyoZbzo.js
  assets/use-callback-SMzqPS6U.js
  assets/use-pref.stories-AE8Cdb5a.js
  assets/use-pref.stories-BFF7Hv-W.js
  iframe.html
  index.html
  project.json
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  sb-addons/vitest-2/manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 40 🛬
  pr/pr-40/assets/chunk-BvrOYcoh.js
  pr/pr-40/assets/component.stories-We2tK5Qg.js
  pr/pr-40/assets/haunted-CE9ZoaqT.js
  pr/pr-40/assets/iframe-DMLwe7_2.js
  pr/pr-40/assets/item-click.stories-CiPdjPb0.js
  pr/pr-40/assets/lit-html-B0z-6tlh.js
  pr/pr-40/assets/preload-helper-CS2xCIPu.js
  pr/pr-40/assets/render-DoKBs5-8.js
  pr/pr-40/assets/render.stories-CAyoZbzo.js
  pr/pr-40/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-40/favicon-wrapper.svg
  pr/pr-40/favicon.svg
  pr/pr-40/iframe.html
  pr/pr-40/index.html
  pr/pr-40/index.json
  pr/pr-40/nunito-sans-bold-italic.woff2
  pr/pr-40/nunito-sans-bold.woff2
  pr/pr-40/nunito-sans-italic.woff2
  pr/pr-40/nunito-sans-regular.woff2
  pr/pr-40/project.json
  pr/pr-40/sb-addons/links-1/manager-bundle.js
  pr/pr-40/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-40/sb-addons/vitest-2/manager-bundle.js
  pr/pr-40/sb-common-assets/favicon-wrapper.svg
  pr/pr-40/sb-common-assets/favicon.svg
  pr/pr-40/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-40/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-40/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-40/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-40/sb-manager/globals-runtime.js
  pr/pr-40/sb-manager/globals.js
  pr/pr-40/sb-manager/manager-stores.js
  pr/pr-40/sb-manager/runtime.js
  pr/pr-40/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  839f77178a28aa09f30d3afa0524fe2f86a76db7
Due: none

Deploying to gh-pages from @ Neovici/cosmoz-queue@c87a8d9db21b096b89e6dfea128305219e31d976 🚀
  project.json
Due: prettier --write

Notes added by 'git notes add'
  c92eea5c21700397b59df8446254b763dd76d725
Due: none

Deploy preview for PR 43 🛫
  pr/pr-43/assets/chunk-BvrOYcoh.js
  pr/pr-43/assets/component.stories-We2tK5Qg.js
  pr/pr-43/assets/haunted-CE9ZoaqT.js
  pr/pr-43/assets/iframe-DMLwe7_2.js
  pr/pr-43/assets/item-click.stories-CiPdjPb0.js
  pr/pr-43/assets/lit-html-B0z-6tlh.js
  pr/pr-43/assets/preload-helper-CS2xCIPu.js
  pr/pr-43/assets/render-DoKBs5-8.js
  pr/pr-43/assets/render.stories-CAyoZbzo.js
  pr/pr-43/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-43/favicon-wrapper.svg
  pr/pr-43/favicon.svg
  pr/pr-43/iframe.html
  pr/pr-43/index.html
  pr/pr-43/index.json
  pr/pr-43/nunito-sans-bold-italic.woff2
  pr/pr-43/nunito-sans-bold.woff2
  pr/pr-43/nunito-sans-italic.woff2
  pr/pr-43/nunito-sans-regular.woff2
  pr/pr-43/project.json
  pr/pr-43/sb-addons/links-1/manager-bundle.js
  pr/pr-43/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-43/sb-addons/vitest-2/manager-bundle.js
  pr/pr-43/sb-common-assets/favicon-wrapper.svg
  pr/pr-43/sb-common-assets/favicon.svg
  pr/pr-43/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-43/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-43/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-43/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-43/sb-manager/globals-runtime.js
  pr/pr-43/sb-manager/globals.js
  pr/pr-43/sb-manager/manager-stores.js
  pr/pr-43/sb-manager/runtime.js
  pr/pr-43/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 43 🛬
  pr/pr-43/assets/chunk-BvrOYcoh.js
  pr/pr-43/assets/component.stories-We2tK5Qg.js
  pr/pr-43/assets/haunted-CE9ZoaqT.js
  pr/pr-43/assets/iframe-DMLwe7_2.js
  pr/pr-43/assets/item-click.stories-CiPdjPb0.js
  pr/pr-43/assets/lit-html-B0z-6tlh.js
  pr/pr-43/assets/preload-helper-CS2xCIPu.js
  pr/pr-43/assets/render-DoKBs5-8.js
  pr/pr-43/assets/render.stories-CAyoZbzo.js
  pr/pr-43/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-43/favicon-wrapper.svg
  pr/pr-43/favicon.svg
  pr/pr-43/iframe.html
  pr/pr-43/index.html
  pr/pr-43/index.json
  pr/pr-43/nunito-sans-bold-italic.woff2
  pr/pr-43/nunito-sans-bold.woff2
  pr/pr-43/nunito-sans-italic.woff2
  pr/pr-43/nunito-sans-regular.woff2
  pr/pr-43/project.json
  pr/pr-43/sb-addons/links-1/manager-bundle.js
  pr/pr-43/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-43/sb-addons/vitest-2/manager-bundle.js
  pr/pr-43/sb-common-assets/favicon-wrapper.svg
  pr/pr-43/sb-common-assets/favicon.svg
  pr/pr-43/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-43/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-43/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-43/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-43/sb-manager/globals-runtime.js
  pr/pr-43/sb-manager/globals.js
  pr/pr-43/sb-manager/manager-stores.js
  pr/pr-43/sb-manager/runtime.js
  pr/pr-43/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@fc5b9af94ff2f80fe9621687eba69d5a5ab6b959 🚀
  project.json
Due: prettier --write

Notes added by 'git notes add'
  ae45697a279b91742cc1b136a3babc694f5a7d3d
Due: none

fix: sync package-lock.json with changesets migration
  package-lock.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 44 🛫
  pr/pr-44/assets/chunk-BvrOYcoh.js
  pr/pr-44/assets/component.stories-We2tK5Qg.js
  pr/pr-44/assets/haunted-CE9ZoaqT.js
  pr/pr-44/assets/iframe-DMLwe7_2.js
  pr/pr-44/assets/item-click.stories-CiPdjPb0.js
  pr/pr-44/assets/lit-html-B0z-6tlh.js
  pr/pr-44/assets/preload-helper-CS2xCIPu.js
  pr/pr-44/assets/render-DoKBs5-8.js
  pr/pr-44/assets/render.stories-CAyoZbzo.js
  pr/pr-44/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-44/favicon-wrapper.svg
  pr/pr-44/favicon.svg
  pr/pr-44/iframe.html
  pr/pr-44/index.html
  pr/pr-44/index.json
  pr/pr-44/nunito-sans-bold-italic.woff2
  pr/pr-44/nunito-sans-bold.woff2
  pr/pr-44/nunito-sans-italic.woff2
  pr/pr-44/nunito-sans-regular.woff2
  pr/pr-44/project.json
  pr/pr-44/sb-addons/links-1/manager-bundle.js
  pr/pr-44/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-44/sb-addons/vitest-2/manager-bundle.js
  pr/pr-44/sb-common-assets/favicon-wrapper.svg
  pr/pr-44/sb-common-assets/favicon.svg
  pr/pr-44/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-44/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-44/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-44/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-44/sb-manager/globals-runtime.js
  pr/pr-44/sb-manager/globals.js
  pr/pr-44/sb-manager/manager-stores.js
  pr/pr-44/sb-manager/runtime.js
  pr/pr-44/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 44 🛬
  pr/pr-44/assets/chunk-BvrOYcoh.js
  pr/pr-44/assets/component.stories-We2tK5Qg.js
  pr/pr-44/assets/haunted-CE9ZoaqT.js
  pr/pr-44/assets/iframe-DMLwe7_2.js
  pr/pr-44/assets/item-click.stories-CiPdjPb0.js
  pr/pr-44/assets/lit-html-B0z-6tlh.js
  pr/pr-44/assets/preload-helper-CS2xCIPu.js
  pr/pr-44/assets/render-DoKBs5-8.js
  pr/pr-44/assets/render.stories-CAyoZbzo.js
  pr/pr-44/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-44/favicon-wrapper.svg
  pr/pr-44/favicon.svg
  pr/pr-44/iframe.html
  pr/pr-44/index.html
  pr/pr-44/index.json
  pr/pr-44/nunito-sans-bold-italic.woff2
  pr/pr-44/nunito-sans-bold.woff2
  pr/pr-44/nunito-sans-italic.woff2
  pr/pr-44/nunito-sans-regular.woff2
  pr/pr-44/project.json
  pr/pr-44/sb-addons/links-1/manager-bundle.js
  pr/pr-44/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-44/sb-addons/vitest-2/manager-bundle.js
  pr/pr-44/sb-common-assets/favicon-wrapper.svg
  pr/pr-44/sb-common-assets/favicon.svg
  pr/pr-44/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-44/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-44/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-44/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-44/sb-manager/globals-runtime.js
  pr/pr-44/sb-manager/globals.js
  pr/pr-44/sb-manager/manager-stores.js
  pr/pr-44/sb-manager/runtime.js
  pr/pr-44/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@42bc91e98c12c71dd790a90a80ea5db2eebb8e20 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@c5d091d163650e3763bddaa72142ffbc28a772d3 🚀
  project.json
Due: prettier --write

fix(list): clear stale keys from paramsMeta before assigning new params
  src/list/use-list-core.test.ts
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
