Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

chore: align deps for cosmoz-form v4 and omnitable v19
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 103 🛫
  pr/pr-103/project.json
Due: prettier --write

chore: exit pre mode and prepare v3.0.0 release (#103)
  .changeset/new-ducks-stare.md
  .changeset/pre.json
  .changeset/pre/all-taxis-refuse.md
  .changeset/pre/busy-bags-grow.md
  .changeset/pre/great-mugs-feel.md
  .changeset/pre/mighty-toes-vanish.md
  .storybook/preview.js
  CHANGELOG.md
  codecov
  codecov.SHA256SUM
  codecov.SHA256SUM.sig
  package-lock.json
  package.json
  src/queue/render.ts
  src/queue/style.ts
  src/styles/shared-styles.ts
  stories/render.stories.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@9681fcc5ba4346e9afe47ca35447aec596ae088f 🚀
  assets/component.stories-GW7bHIm3.js
  assets/haunted-CMvVFBUR.js
  assets/haunted-CmjXZ8pk.js
  assets/iframe-BgE95vP1.js
  assets/iframe-Bm6zgdNj.css
  assets/iframe-CasLv3qO.js
  assets/item-click.stories-C9Tppzx7.js
  assets/lit-html-B0z-6tlh.js
  assets/lit-html-BZ3vufxv.js
  assets/render-D5m0zP6T.js
  assets/render-XzqIb14a.js
  assets/render.stories-CqA0CeaK.js
  assets/use-pref.stories-B8D5W3Qf.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 103 🛬
  pr/pr-103/assets/chunk-BvrOYcoh.js
  pr/pr-103/assets/component.stories-GW7bHIm3.js
  pr/pr-103/assets/haunted-CMvVFBUR.js
  pr/pr-103/assets/iframe-BgE95vP1.js
  pr/pr-103/assets/iframe-Bm6zgdNj.css
  pr/pr-103/assets/item-click.stories-C9Tppzx7.js
  pr/pr-103/assets/lit-html-BZ3vufxv.js
  pr/pr-103/assets/preload-helper-CS2xCIPu.js
  pr/pr-103/assets/render-XzqIb14a.js
  pr/pr-103/assets/render.stories-CqA0CeaK.js
  pr/pr-103/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-103/favicon-wrapper.svg
  pr/pr-103/favicon.svg
  pr/pr-103/iframe.html
  pr/pr-103/index.html
  pr/pr-103/index.json
  pr/pr-103/nunito-sans-bold-italic.woff2
  pr/pr-103/nunito-sans-bold.woff2
  pr/pr-103/nunito-sans-italic.woff2
  pr/pr-103/nunito-sans-regular.woff2
  pr/pr-103/project.json
  pr/pr-103/sb-addons/links-1/manager-bundle.js
  pr/pr-103/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-103/sb-addons/vitest-2/manager-bundle.js
  pr/pr-103/sb-common-assets/favicon-wrapper.svg
  pr/pr-103/sb-common-assets/favicon.svg
  pr/pr-103/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-103/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-103/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-103/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-103/sb-manager/globals-runtime.js
  pr/pr-103/sb-manager/globals.js
  pr/pr-103/sb-manager/manager-stores.js
  pr/pr-103/sb-manager/runtime.js
  pr/pr-103/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: clarify 3.0.0 changelog wording
  CHANGELOG.md
Due: prettier --write

Deploy preview for PR 104 🛫
  pr/pr-104/project.json
Due: prettier --write

Remove preview for PR 104 🛬
  pr/pr-104/assets/chunk-BvrOYcoh.js
  pr/pr-104/assets/component.stories-GW7bHIm3.js
  pr/pr-104/assets/haunted-CMvVFBUR.js
  pr/pr-104/assets/iframe-BgE95vP1.js
  pr/pr-104/assets/iframe-Bm6zgdNj.css
  pr/pr-104/assets/item-click.stories-C9Tppzx7.js
  pr/pr-104/assets/lit-html-BZ3vufxv.js
  pr/pr-104/assets/preload-helper-CS2xCIPu.js
  pr/pr-104/assets/render-XzqIb14a.js
  pr/pr-104/assets/render.stories-CqA0CeaK.js
  pr/pr-104/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-104/favicon-wrapper.svg
  pr/pr-104/favicon.svg
  pr/pr-104/iframe.html
  pr/pr-104/index.html
  pr/pr-104/index.json
  pr/pr-104/nunito-sans-bold-italic.woff2
  pr/pr-104/nunito-sans-bold.woff2
  pr/pr-104/nunito-sans-italic.woff2
  pr/pr-104/nunito-sans-regular.woff2
  pr/pr-104/project.json
  pr/pr-104/sb-addons/links-1/manager-bundle.js
  pr/pr-104/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-104/sb-addons/vitest-2/manager-bundle.js
  pr/pr-104/sb-common-assets/favicon-wrapper.svg
  pr/pr-104/sb-common-assets/favicon.svg
  pr/pr-104/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-104/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-104/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-104/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-104/sb-manager/globals-runtime.js
  pr/pr-104/sb-manager/globals.js
  pr/pr-104/sb-manager/manager-stores.js
  pr/pr-104/sb-manager/runtime.js
  pr/pr-104/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@283f4289e619cc2a4f8423317114f0695fee5e51 🚀
  project.json
Due: prettier --write

feat(queue): forward onActivate through queue()
  .changeset/forward-on-activate.md
  src/queue/queue.ts
  test/queue.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 105 🛫
  pr/pr-105/assets/chunk-BvrOYcoh.js
  pr/pr-105/assets/component.stories-GW7bHIm3.js
  pr/pr-105/assets/haunted-CMvVFBUR.js
  pr/pr-105/assets/iframe-BgE95vP1.js
  pr/pr-105/assets/iframe-Bm6zgdNj.css
  pr/pr-105/assets/item-click.stories-C9Tppzx7.js
  pr/pr-105/assets/lit-html-BZ3vufxv.js
  pr/pr-105/assets/preload-helper-CS2xCIPu.js
  pr/pr-105/assets/render-XzqIb14a.js
  pr/pr-105/assets/render.stories-CqA0CeaK.js
  pr/pr-105/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-105/favicon-wrapper.svg
  pr/pr-105/favicon.svg
  pr/pr-105/iframe.html
  pr/pr-105/index.html
  pr/pr-105/index.json
  pr/pr-105/nunito-sans-bold-italic.woff2
  pr/pr-105/nunito-sans-bold.woff2
  pr/pr-105/nunito-sans-italic.woff2
  pr/pr-105/nunito-sans-regular.woff2
  pr/pr-105/project.json
  pr/pr-105/sb-addons/links-1/manager-bundle.js
  pr/pr-105/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-105/sb-addons/vitest-2/manager-bundle.js
  pr/pr-105/sb-common-assets/favicon-wrapper.svg
  pr/pr-105/sb-common-assets/favicon.svg
  pr/pr-105/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-105/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-105/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-105/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-105/sb-manager/globals-runtime.js
  pr/pr-105/sb-manager/globals.js
  pr/pr-105/sb-manager/manager-stores.js
  pr/pr-105/sb-manager/runtime.js
  pr/pr-105/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(queue): own the view preference behind a persist key
  .changeset/forward-on-activate.md
  .changeset/queue-view-preference.md
  src/queue/queue.ts
  src/queue/use-pref.ts
  src/queue/use-queue.ts
  src/queue/use-tabs.ts
  stories/view-preference.stories.ts
  test/queue.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 105 🛫
  pr/pr-105/assets/component.stories-C1yF7myg.js
  pr/pr-105/assets/dist-BGXZWOnu.js
  pr/pr-105/assets/haunted-CMvVFBUR.js
  pr/pr-105/assets/haunted-Cuc4b_8X.js
  pr/pr-105/assets/i18next-BRvxW17T.js
  pr/pr-105/assets/iframe-CMep2Xvr.js
  pr/pr-105/assets/item-click.stories-CmOdhDjF.js
  pr/pr-105/assets/render-DaSxKQki.js
  pr/pr-105/assets/render-XzqIb14a.js
  pr/pr-105/assets/render.stories-EisgrE17.js
  pr/pr-105/assets/use-pref-DguRnasc.js
  pr/pr-105/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-105/assets/use-pref.stories-C5UfUXN6.js
  pr/pr-105/assets/use-tabs-Bs54-PYD.js
  pr/pr-105/assets/view-preference.stories-C1WpZkx7.js
  pr/pr-105/iframe.html
  pr/pr-105/index.json
  pr/pr-105/project.json
Due: eslint --fix, prettier --write

Deploy preview for PR 106 🛫
  pr/pr-106/assets/chunk-BvrOYcoh.js
  pr/pr-106/assets/component.stories-GW7bHIm3.js
  pr/pr-106/assets/haunted-CMvVFBUR.js
  pr/pr-106/assets/iframe-BgE95vP1.js
  pr/pr-106/assets/iframe-Bm6zgdNj.css
  pr/pr-106/assets/item-click.stories-C9Tppzx7.js
  pr/pr-106/assets/lit-html-BZ3vufxv.js
  pr/pr-106/assets/preload-helper-CS2xCIPu.js
  pr/pr-106/assets/render-XzqIb14a.js
  pr/pr-106/assets/render.stories-CqA0CeaK.js
  pr/pr-106/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-106/favicon-wrapper.svg
  pr/pr-106/favicon.svg
  pr/pr-106/iframe.html
  pr/pr-106/index.html
  pr/pr-106/index.json
  pr/pr-106/nunito-sans-bold-italic.woff2
  pr/pr-106/nunito-sans-bold.woff2
  pr/pr-106/nunito-sans-italic.woff2
  pr/pr-106/nunito-sans-regular.woff2
  pr/pr-106/project.json
  pr/pr-106/sb-addons/links-1/manager-bundle.js
  pr/pr-106/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-106/sb-addons/vitest-2/manager-bundle.js
  pr/pr-106/sb-common-assets/favicon-wrapper.svg
  pr/pr-106/sb-common-assets/favicon.svg
  pr/pr-106/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-106/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-106/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-106/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-106/sb-manager/globals-runtime.js
  pr/pr-106/sb-manager/globals.js
  pr/pr-106/sb-manager/manager-stores.js
  pr/pr-106/sb-manager/runtime.js
  pr/pr-106/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 106 🛫
  pr/pr-106/project.json
Due: prettier --write

feat(queue): add header render-prop to wrap the tab row
  .changeset/queue-header-option.md
  src/queue/queue.ts
  src/queue/render.ts
Due: eslint --fix, prettier --write

feat(queue): add header render-prop to wrap the tab row (#106)
  .changeset/queue-header-option.md
  src/queue/queue.ts
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@d2b74c14407c616deb023006b14ebbc9b49263ef 🚀
  project.json
Due: prettier --write

Remove preview for PR 106 🛬
  pr/pr-106/assets/chunk-BvrOYcoh.js
  pr/pr-106/assets/component.stories-GW7bHIm3.js
  pr/pr-106/assets/haunted-CMvVFBUR.js
  pr/pr-106/assets/iframe-BgE95vP1.js
  pr/pr-106/assets/iframe-Bm6zgdNj.css
  pr/pr-106/assets/item-click.stories-C9Tppzx7.js
  pr/pr-106/assets/lit-html-BZ3vufxv.js
  pr/pr-106/assets/preload-helper-CS2xCIPu.js
  pr/pr-106/assets/render-XzqIb14a.js
  pr/pr-106/assets/render.stories-CqA0CeaK.js
  pr/pr-106/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-106/favicon-wrapper.svg
  pr/pr-106/favicon.svg
  pr/pr-106/iframe.html
  pr/pr-106/index.html
  pr/pr-106/index.json
  pr/pr-106/nunito-sans-bold-italic.woff2
  pr/pr-106/nunito-sans-bold.woff2
  pr/pr-106/nunito-sans-italic.woff2
  pr/pr-106/nunito-sans-regular.woff2
  pr/pr-106/project.json
  pr/pr-106/sb-addons/links-1/manager-bundle.js
  pr/pr-106/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-106/sb-addons/vitest-2/manager-bundle.js
  pr/pr-106/sb-common-assets/favicon-wrapper.svg
  pr/pr-106/sb-common-assets/favicon.svg
  pr/pr-106/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-106/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-106/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-106/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-106/sb-manager/globals-runtime.js
  pr/pr-106/sb-manager/globals.js
  pr/pr-106/sb-manager/manager-stores.js
  pr/pr-106/sb-manager/runtime.js
  pr/pr-106/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 107 🛬
  pr/pr-107/assets/chunk-BvrOYcoh.js
  pr/pr-107/assets/component.stories-GW7bHIm3.js
  pr/pr-107/assets/haunted-CMvVFBUR.js
  pr/pr-107/assets/iframe-BgE95vP1.js
  pr/pr-107/assets/iframe-Bm6zgdNj.css
  pr/pr-107/assets/item-click.stories-C9Tppzx7.js
  pr/pr-107/assets/lit-html-BZ3vufxv.js
  pr/pr-107/assets/preload-helper-CS2xCIPu.js
  pr/pr-107/assets/render-XzqIb14a.js
  pr/pr-107/assets/render.stories-CqA0CeaK.js
  pr/pr-107/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-107/favicon-wrapper.svg
  pr/pr-107/favicon.svg
  pr/pr-107/iframe.html
  pr/pr-107/index.html
  pr/pr-107/index.json
  pr/pr-107/nunito-sans-bold-italic.woff2
  pr/pr-107/nunito-sans-bold.woff2
  pr/pr-107/nunito-sans-italic.woff2
  pr/pr-107/nunito-sans-regular.woff2
  pr/pr-107/project.json
  pr/pr-107/sb-addons/links-1/manager-bundle.js
  pr/pr-107/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-107/sb-addons/vitest-2/manager-bundle.js
  pr/pr-107/sb-common-assets/favicon-wrapper.svg
  pr/pr-107/sb-common-assets/favicon.svg
  pr/pr-107/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-107/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-107/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-107/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-107/sb-manager/globals-runtime.js
  pr/pr-107/sb-manager/globals.js
  pr/pr-107/sb-manager/manager-stores.js
  pr/pr-107/sb-manager/runtime.js
  pr/pr-107/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@f86045d27bb6c7d351540566c13ba70ca2da27b5 🚀
  project.json
Due: prettier --write

feat(queue): pass totalAvailable to the header callback
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 108 🛫
  pr/pr-108/assets/chunk-BvrOYcoh.js
  pr/pr-108/assets/component.stories-GW7bHIm3.js
  pr/pr-108/assets/haunted-CMvVFBUR.js
  pr/pr-108/assets/iframe-BgE95vP1.js
  pr/pr-108/assets/iframe-Bm6zgdNj.css
  pr/pr-108/assets/item-click.stories-C9Tppzx7.js
  pr/pr-108/assets/lit-html-BZ3vufxv.js
  pr/pr-108/assets/preload-helper-CS2xCIPu.js
  pr/pr-108/assets/render-XzqIb14a.js
  pr/pr-108/assets/render.stories-CqA0CeaK.js
  pr/pr-108/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-108/favicon-wrapper.svg
  pr/pr-108/favicon.svg
  pr/pr-108/iframe.html
  pr/pr-108/index.html
  pr/pr-108/index.json
  pr/pr-108/nunito-sans-bold-italic.woff2
  pr/pr-108/nunito-sans-bold.woff2
  pr/pr-108/nunito-sans-italic.woff2
  pr/pr-108/nunito-sans-regular.woff2
  pr/pr-108/project.json
  pr/pr-108/sb-addons/links-1/manager-bundle.js
  pr/pr-108/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-108/sb-addons/vitest-2/manager-bundle.js
  pr/pr-108/sb-common-assets/favicon-wrapper.svg
  pr/pr-108/sb-common-assets/favicon.svg
  pr/pr-108/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-108/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-108/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-108/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-108/sb-manager/globals-runtime.js
  pr/pr-108/sb-manager/globals.js
  pr/pr-108/sb-manager/manager-stores.js
  pr/pr-108/sb-manager/runtime.js
  pr/pr-108/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(queue): pass totalAvailable to the header callback (#108)
  src/queue/render.ts
Due: eslint --fix, prettier --write

Remove preview for PR 108 🛬
  pr/pr-108/assets/chunk-BvrOYcoh.js
  pr/pr-108/assets/component.stories-GW7bHIm3.js
  pr/pr-108/assets/haunted-CMvVFBUR.js
  pr/pr-108/assets/iframe-BgE95vP1.js
  pr/pr-108/assets/iframe-Bm6zgdNj.css
  pr/pr-108/assets/item-click.stories-C9Tppzx7.js
  pr/pr-108/assets/lit-html-BZ3vufxv.js
  pr/pr-108/assets/preload-helper-CS2xCIPu.js
  pr/pr-108/assets/render-XzqIb14a.js
  pr/pr-108/assets/render.stories-CqA0CeaK.js
  pr/pr-108/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-108/favicon-wrapper.svg
  pr/pr-108/favicon.svg
  pr/pr-108/iframe.html
  pr/pr-108/index.html
  pr/pr-108/index.json
  pr/pr-108/nunito-sans-bold-italic.woff2
  pr/pr-108/nunito-sans-bold.woff2
  pr/pr-108/nunito-sans-italic.woff2
  pr/pr-108/nunito-sans-regular.woff2
  pr/pr-108/project.json
  pr/pr-108/sb-addons/links-1/manager-bundle.js
  pr/pr-108/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-108/sb-addons/vitest-2/manager-bundle.js
  pr/pr-108/sb-common-assets/favicon-wrapper.svg
  pr/pr-108/sb-common-assets/favicon.svg
  pr/pr-108/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-108/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-108/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-108/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-108/sb-manager/globals-runtime.js
  pr/pr-108/sb-manager/globals.js
  pr/pr-108/sb-manager/manager-stores.js
  pr/pr-108/sb-manager/runtime.js
  pr/pr-108/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@a10491a6fa67e7ed5fdef9c1c5f41f5b256c3dcd 🚀
  project.json
Due: prettier --write

chore: add changeset for header totalAvailable
  .changeset/header-total-available.md
Due: prettier --write

Deploy preview for PR 109 🛫
  pr/pr-109/assets/chunk-BvrOYcoh.js
  pr/pr-109/assets/component.stories-GW7bHIm3.js
  pr/pr-109/assets/haunted-CMvVFBUR.js
  pr/pr-109/assets/iframe-BgE95vP1.js
  pr/pr-109/assets/iframe-Bm6zgdNj.css
  pr/pr-109/assets/item-click.stories-C9Tppzx7.js
  pr/pr-109/assets/lit-html-BZ3vufxv.js
  pr/pr-109/assets/preload-helper-CS2xCIPu.js
  pr/pr-109/assets/render-XzqIb14a.js
  pr/pr-109/assets/render.stories-CqA0CeaK.js
  pr/pr-109/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-109/favicon-wrapper.svg
  pr/pr-109/favicon.svg
  pr/pr-109/iframe.html
  pr/pr-109/index.html
  pr/pr-109/index.json
  pr/pr-109/nunito-sans-bold-italic.woff2
  pr/pr-109/nunito-sans-bold.woff2
  pr/pr-109/nunito-sans-italic.woff2
  pr/pr-109/nunito-sans-regular.woff2
  pr/pr-109/project.json
  pr/pr-109/sb-addons/links-1/manager-bundle.js
  pr/pr-109/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-109/sb-addons/vitest-2/manager-bundle.js
  pr/pr-109/sb-common-assets/favicon-wrapper.svg
  pr/pr-109/sb-common-assets/favicon.svg
  pr/pr-109/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-109/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-109/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-109/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-109/sb-manager/globals-runtime.js
  pr/pr-109/sb-manager/globals.js
  pr/pr-109/sb-manager/manager-stores.js
  pr/pr-109/sb-manager/runtime.js
  pr/pr-109/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: add changeset for header totalAvailable (#109)
  .changeset/header-total-available.md
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0c37c6d2699b0088f21227df3894199239b638ac 🚀
  project.json
Due: prettier --write

Remove preview for PR 109 🛬
  pr/pr-109/assets/chunk-BvrOYcoh.js
  pr/pr-109/assets/component.stories-GW7bHIm3.js
  pr/pr-109/assets/haunted-CMvVFBUR.js
  pr/pr-109/assets/iframe-BgE95vP1.js
  pr/pr-109/assets/iframe-Bm6zgdNj.css
  pr/pr-109/assets/item-click.stories-C9Tppzx7.js
  pr/pr-109/assets/lit-html-BZ3vufxv.js
  pr/pr-109/assets/preload-helper-CS2xCIPu.js
  pr/pr-109/assets/render-XzqIb14a.js
  pr/pr-109/assets/render.stories-CqA0CeaK.js
  pr/pr-109/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-109/favicon-wrapper.svg
  pr/pr-109/favicon.svg
  pr/pr-109/iframe.html
  pr/pr-109/index.html
  pr/pr-109/index.json
  pr/pr-109/nunito-sans-bold-italic.woff2
  pr/pr-109/nunito-sans-bold.woff2
  pr/pr-109/nunito-sans-italic.woff2
  pr/pr-109/nunito-sans-regular.woff2
  pr/pr-109/project.json
  pr/pr-109/sb-addons/links-1/manager-bundle.js
  pr/pr-109/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-109/sb-addons/vitest-2/manager-bundle.js
  pr/pr-109/sb-common-assets/favicon-wrapper.svg
  pr/pr-109/sb-common-assets/favicon.svg
  pr/pr-109/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-109/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-109/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-109/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-109/sb-manager/globals-runtime.js
  pr/pr-109/sb-manager/globals.js
  pr/pr-109/sb-manager/manager-stores.js
  pr/pr-109/sb-manager/runtime.js
  pr/pr-109/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 111 🛫
  pr/pr-111/assets/chunk-BvrOYcoh.js
  pr/pr-111/assets/component.stories-GW7bHIm3.js
  pr/pr-111/assets/haunted-CMvVFBUR.js
  pr/pr-111/assets/iframe-BgE95vP1.js
  pr/pr-111/assets/iframe-Bm6zgdNj.css
  pr/pr-111/assets/item-click.stories-C9Tppzx7.js
  pr/pr-111/assets/lit-html-BZ3vufxv.js
  pr/pr-111/assets/preload-helper-CS2xCIPu.js
  pr/pr-111/assets/render-XzqIb14a.js
  pr/pr-111/assets/render.stories-CqA0CeaK.js
  pr/pr-111/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-111/favicon-wrapper.svg
  pr/pr-111/favicon.svg
  pr/pr-111/iframe.html
  pr/pr-111/index.html
  pr/pr-111/index.json
  pr/pr-111/nunito-sans-bold-italic.woff2
  pr/pr-111/nunito-sans-bold.woff2
  pr/pr-111/nunito-sans-italic.woff2
  pr/pr-111/nunito-sans-regular.woff2
  pr/pr-111/project.json
  pr/pr-111/sb-addons/links-1/manager-bundle.js
  pr/pr-111/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-111/sb-addons/vitest-2/manager-bundle.js
  pr/pr-111/sb-common-assets/favicon-wrapper.svg
  pr/pr-111/sb-common-assets/favicon.svg
  pr/pr-111/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-111/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-111/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-111/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-111/sb-manager/globals-runtime.js
  pr/pr-111/sb-manager/globals.js
  pr/pr-111/sb-manager/manager-stores.js
  pr/pr-111/sb-manager/runtime.js
  pr/pr-111/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

[ci] release (#111)
  .changeset/header-total-available.md
  CHANGELOG.md
  package.json
Due: prettier --write

Remove preview for PR 111 🛬
  pr/pr-111/assets/chunk-BvrOYcoh.js
  pr/pr-111/assets/component.stories-GW7bHIm3.js
  pr/pr-111/assets/haunted-CMvVFBUR.js
  pr/pr-111/assets/iframe-BgE95vP1.js
  pr/pr-111/assets/iframe-Bm6zgdNj.css
  pr/pr-111/assets/item-click.stories-C9Tppzx7.js
  pr/pr-111/assets/lit-html-BZ3vufxv.js
  pr/pr-111/assets/preload-helper-CS2xCIPu.js
  pr/pr-111/assets/render-XzqIb14a.js
  pr/pr-111/assets/render.stories-CqA0CeaK.js
  pr/pr-111/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-111/favicon-wrapper.svg
  pr/pr-111/favicon.svg
  pr/pr-111/iframe.html
  pr/pr-111/index.html
  pr/pr-111/index.json
  pr/pr-111/nunito-sans-bold-italic.woff2
  pr/pr-111/nunito-sans-bold.woff2
  pr/pr-111/nunito-sans-italic.woff2
  pr/pr-111/nunito-sans-regular.woff2
  pr/pr-111/project.json
  pr/pr-111/sb-addons/links-1/manager-bundle.js
  pr/pr-111/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-111/sb-addons/vitest-2/manager-bundle.js
  pr/pr-111/sb-common-assets/favicon-wrapper.svg
  pr/pr-111/sb-common-assets/favicon.svg
  pr/pr-111/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-111/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-111/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-111/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-111/sb-manager/globals-runtime.js
  pr/pr-111/sb-manager/globals.js
  pr/pr-111/sb-manager/manager-stores.js
  pr/pr-111/sb-manager/runtime.js
  pr/pr-111/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@fbd49dd8e120c51eea11e667f183f221d5d383b1 🚀
  project.json
Due: prettier --write

fix(queue): let split sizes reach the resizable view
  .changeset/split-initial-size.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 112 🛫
  pr/pr-112/assets/chunk-BvrOYcoh.js
  pr/pr-112/assets/component.stories-qGA3W-db.js
  pr/pr-112/assets/haunted-Dbm9mBql.js
  pr/pr-112/assets/iframe-Bm6zgdNj.css
  pr/pr-112/assets/iframe-Bz3sm6KX.js
  pr/pr-112/assets/item-click.stories-C9Tppzx7.js
  pr/pr-112/assets/lit-html-BZ3vufxv.js
  pr/pr-112/assets/preload-helper-CS2xCIPu.js
  pr/pr-112/assets/render-BQS3bugp.js
  pr/pr-112/assets/render.stories-Dx8xMT85.js
  pr/pr-112/assets/use-pref.stories-evhd0-0M.js
  pr/pr-112/favicon-wrapper.svg
  pr/pr-112/favicon.svg
  pr/pr-112/iframe.html
  pr/pr-112/index.html
  pr/pr-112/index.json
  pr/pr-112/nunito-sans-bold-italic.woff2
  pr/pr-112/nunito-sans-bold.woff2
  pr/pr-112/nunito-sans-italic.woff2
  pr/pr-112/nunito-sans-regular.woff2
  pr/pr-112/project.json
  pr/pr-112/sb-addons/links-1/manager-bundle.js
  pr/pr-112/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-112/sb-addons/vitest-2/manager-bundle.js
  pr/pr-112/sb-common-assets/favicon-wrapper.svg
  pr/pr-112/sb-common-assets/favicon.svg
  pr/pr-112/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-112/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-112/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-112/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-112/sb-manager/globals-runtime.js
  pr/pr-112/sb-manager/globals.js
  pr/pr-112/sb-manager/manager-stores.js
  pr/pr-112/sb-manager/runtime.js
  pr/pr-112/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
