Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

fix: style the non sloted bottom-bar buttons
  .changeset/mighty-toes-vanish.md
  src/styles/shared-styles.ts
Due: eslint --fix, prettier --write

Remove preview for PR 91 🛬
  pr/pr-91/assets/chunk-BvrOYcoh.js
  pr/pr-91/assets/component.stories-BFtbGEOe.js
  pr/pr-91/assets/haunted-DYBeKhTi.js
  pr/pr-91/assets/iframe-CagHpb6E.css
  pr/pr-91/assets/iframe-DoQhPFAC.js
  pr/pr-91/assets/item-click.stories-C9Tppzx7.js
  pr/pr-91/assets/lit-html-BZ3vufxv.js
  pr/pr-91/assets/preload-helper-CS2xCIPu.js
  pr/pr-91/assets/render-TRr2T0mb.js
  pr/pr-91/assets/render.stories-xxzTgg4U.js
  pr/pr-91/assets/use-pref.stories-BgMBVUYq.js
  pr/pr-91/favicon-wrapper.svg
  pr/pr-91/favicon.svg
  pr/pr-91/iframe.html
  pr/pr-91/index.html
  pr/pr-91/index.json
  pr/pr-91/nunito-sans-bold-italic.woff2
  pr/pr-91/nunito-sans-bold.woff2
  pr/pr-91/nunito-sans-italic.woff2
  pr/pr-91/nunito-sans-regular.woff2
  pr/pr-91/project.json
  pr/pr-91/sb-addons/links-1/manager-bundle.js
  pr/pr-91/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-91/sb-addons/vitest-2/manager-bundle.js
  pr/pr-91/sb-common-assets/favicon-wrapper.svg
  pr/pr-91/sb-common-assets/favicon.svg
  pr/pr-91/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-91/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-91/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-91/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-91/sb-manager/globals-runtime.js
  pr/pr-91/sb-manager/globals.js
  pr/pr-91/sb-manager/manager-stores.js
  pr/pr-91/sb-manager/runtime.js
  pr/pr-91/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: trigger changeset prerelease
  .changeset/kind-ducks-tan.md
Due: prettier --write

Remove preview for PR 92 🛬
  pr/pr-92/assets/chunk-BvrOYcoh.js
  pr/pr-92/assets/component.stories-BFtbGEOe.js
  pr/pr-92/assets/haunted-DYBeKhTi.js
  pr/pr-92/assets/iframe-CagHpb6E.css
  pr/pr-92/assets/iframe-DoQhPFAC.js
  pr/pr-92/assets/item-click.stories-C9Tppzx7.js
  pr/pr-92/assets/lit-html-BZ3vufxv.js
  pr/pr-92/assets/preload-helper-CS2xCIPu.js
  pr/pr-92/assets/render-TRr2T0mb.js
  pr/pr-92/assets/render.stories-xxzTgg4U.js
  pr/pr-92/assets/use-pref.stories-BgMBVUYq.js
  pr/pr-92/favicon-wrapper.svg
  pr/pr-92/favicon.svg
  pr/pr-92/iframe.html
  pr/pr-92/index.html
  pr/pr-92/index.json
  pr/pr-92/nunito-sans-bold-italic.woff2
  pr/pr-92/nunito-sans-bold.woff2
  pr/pr-92/nunito-sans-italic.woff2
  pr/pr-92/nunito-sans-regular.woff2
  pr/pr-92/project.json
  pr/pr-92/sb-addons/links-1/manager-bundle.js
  pr/pr-92/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-92/sb-addons/vitest-2/manager-bundle.js
  pr/pr-92/sb-common-assets/favicon-wrapper.svg
  pr/pr-92/sb-common-assets/favicon.svg
  pr/pr-92/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-92/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-92/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-92/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-92/sb-manager/globals-runtime.js
  pr/pr-92/sb-manager/globals.js
  pr/pr-92/sb-manager/manager-stores.js
  pr/pr-92/sb-manager/runtime.js
  pr/pr-92/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(queue): default split initialSize to 50% when sizes not provided
  src/queue/queue.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 93 🛫
  pr/pr-93/assets/chunk-BvrOYcoh.js
  pr/pr-93/assets/component.stories-P87v8VPe.js
  pr/pr-93/assets/haunted-ZBn_t-7a.js
  pr/pr-93/assets/iframe-CBOhbx73.js
  pr/pr-93/assets/item-click.stories-CiPdjPb0.js
  pr/pr-93/assets/lit-html-B0z-6tlh.js
  pr/pr-93/assets/preload-helper-CS2xCIPu.js
  pr/pr-93/assets/render-Dq9ubPIk.js
  pr/pr-93/assets/render.stories-7aQmul2J.js
  pr/pr-93/assets/use-pref.stories-C08NUwGO.js
  pr/pr-93/favicon-wrapper.svg
  pr/pr-93/favicon.svg
  pr/pr-93/iframe.html
  pr/pr-93/index.html
  pr/pr-93/index.json
  pr/pr-93/nunito-sans-bold-italic.woff2
  pr/pr-93/nunito-sans-bold.woff2
  pr/pr-93/nunito-sans-italic.woff2
  pr/pr-93/nunito-sans-regular.woff2
  pr/pr-93/project.json
  pr/pr-93/sb-addons/links-1/manager-bundle.js
  pr/pr-93/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-93/sb-addons/vitest-2/manager-bundle.js
  pr/pr-93/sb-common-assets/favicon-wrapper.svg
  pr/pr-93/sb-common-assets/favicon.svg
  pr/pr-93/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-93/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-93/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-93/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-93/sb-manager/globals-runtime.js
  pr/pr-93/sb-manager/globals.js
  pr/pr-93/sb-manager/manager-stores.js
  pr/pr-93/sb-manager/runtime.js
  pr/pr-93/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(queue): default split initialSize to 50% when sizes not provided (#93)
  src/queue/queue.ts
Due: eslint --fix, prettier --write

Remove preview for PR 93 🛬
  pr/pr-93/assets/chunk-BvrOYcoh.js
  pr/pr-93/assets/component.stories-P87v8VPe.js
  pr/pr-93/assets/haunted-ZBn_t-7a.js
  pr/pr-93/assets/iframe-CBOhbx73.js
  pr/pr-93/assets/item-click.stories-CiPdjPb0.js
  pr/pr-93/assets/lit-html-B0z-6tlh.js
  pr/pr-93/assets/preload-helper-CS2xCIPu.js
  pr/pr-93/assets/render-Dq9ubPIk.js
  pr/pr-93/assets/render.stories-7aQmul2J.js
  pr/pr-93/assets/use-pref.stories-C08NUwGO.js
  pr/pr-93/favicon-wrapper.svg
  pr/pr-93/favicon.svg
  pr/pr-93/iframe.html
  pr/pr-93/index.html
  pr/pr-93/index.json
  pr/pr-93/nunito-sans-bold-italic.woff2
  pr/pr-93/nunito-sans-bold.woff2
  pr/pr-93/nunito-sans-italic.woff2
  pr/pr-93/nunito-sans-regular.woff2
  pr/pr-93/project.json
  pr/pr-93/sb-addons/links-1/manager-bundle.js
  pr/pr-93/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-93/sb-addons/vitest-2/manager-bundle.js
  pr/pr-93/sb-common-assets/favicon-wrapper.svg
  pr/pr-93/sb-common-assets/favicon.svg
  pr/pr-93/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-93/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-93/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-93/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-93/sb-manager/globals-runtime.js
  pr/pr-93/sb-manager/globals.js
  pr/pr-93/sb-manager/manager-stores.js
  pr/pr-93/sb-manager/runtime.js
  pr/pr-93/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@fdea506f9960f78c57fc72e1b6c97ca3e86dfcd7 🚀
  project.json
Due: prettier --write

chore: add changeset for split default initialSize fix
  .changeset/split-default-size.md
Due: prettier --write

Deploy preview for PR 94 🛫
  pr/pr-94/assets/chunk-BvrOYcoh.js
  pr/pr-94/assets/component.stories-P87v8VPe.js
  pr/pr-94/assets/haunted-ZBn_t-7a.js
  pr/pr-94/assets/iframe-CBOhbx73.js
  pr/pr-94/assets/item-click.stories-CiPdjPb0.js
  pr/pr-94/assets/lit-html-B0z-6tlh.js
  pr/pr-94/assets/preload-helper-CS2xCIPu.js
  pr/pr-94/assets/render-Dq9ubPIk.js
  pr/pr-94/assets/render.stories-7aQmul2J.js
  pr/pr-94/assets/use-pref.stories-C08NUwGO.js
  pr/pr-94/favicon-wrapper.svg
  pr/pr-94/favicon.svg
  pr/pr-94/iframe.html
  pr/pr-94/index.html
  pr/pr-94/index.json
  pr/pr-94/nunito-sans-bold-italic.woff2
  pr/pr-94/nunito-sans-bold.woff2
  pr/pr-94/nunito-sans-italic.woff2
  pr/pr-94/nunito-sans-regular.woff2
  pr/pr-94/project.json
  pr/pr-94/sb-addons/links-1/manager-bundle.js
  pr/pr-94/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-94/sb-addons/vitest-2/manager-bundle.js
  pr/pr-94/sb-common-assets/favicon-wrapper.svg
  pr/pr-94/sb-common-assets/favicon.svg
  pr/pr-94/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-94/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-94/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-94/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-94/sb-manager/globals-runtime.js
  pr/pr-94/sb-manager/globals.js
  pr/pr-94/sb-manager/manager-stores.js
  pr/pr-94/sb-manager/runtime.js
  pr/pr-94/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: add changeset for split default initialSize fix (#94)
  .changeset/split-default-size.md
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0bd045d5d38373476b1fb6a962616654507270ef 🚀
  project.json
Due: prettier --write

Remove preview for PR 94 🛬
  pr/pr-94/assets/chunk-BvrOYcoh.js
  pr/pr-94/assets/component.stories-P87v8VPe.js
  pr/pr-94/assets/haunted-ZBn_t-7a.js
  pr/pr-94/assets/iframe-CBOhbx73.js
  pr/pr-94/assets/item-click.stories-CiPdjPb0.js
  pr/pr-94/assets/lit-html-B0z-6tlh.js
  pr/pr-94/assets/preload-helper-CS2xCIPu.js
  pr/pr-94/assets/render-Dq9ubPIk.js
  pr/pr-94/assets/render.stories-7aQmul2J.js
  pr/pr-94/assets/use-pref.stories-C08NUwGO.js
  pr/pr-94/favicon-wrapper.svg
  pr/pr-94/favicon.svg
  pr/pr-94/iframe.html
  pr/pr-94/index.html
  pr/pr-94/index.json
  pr/pr-94/nunito-sans-bold-italic.woff2
  pr/pr-94/nunito-sans-bold.woff2
  pr/pr-94/nunito-sans-italic.woff2
  pr/pr-94/nunito-sans-regular.woff2
  pr/pr-94/project.json
  pr/pr-94/sb-addons/links-1/manager-bundle.js
  pr/pr-94/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-94/sb-addons/vitest-2/manager-bundle.js
  pr/pr-94/sb-common-assets/favicon-wrapper.svg
  pr/pr-94/sb-common-assets/favicon.svg
  pr/pr-94/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-94/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-94/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-94/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-94/sb-manager/globals-runtime.js
  pr/pr-94/sb-manager/globals.js
  pr/pr-94/sb-manager/manager-stores.js
  pr/pr-94/sb-manager/runtime.js
  pr/pr-94/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 95 🛬
  pr/pr-95/assets/chunk-BvrOYcoh.js
  pr/pr-95/assets/component.stories-P87v8VPe.js
  pr/pr-95/assets/haunted-ZBn_t-7a.js
  pr/pr-95/assets/iframe-CBOhbx73.js
  pr/pr-95/assets/item-click.stories-CiPdjPb0.js
  pr/pr-95/assets/lit-html-B0z-6tlh.js
  pr/pr-95/assets/preload-helper-CS2xCIPu.js
  pr/pr-95/assets/render-Dq9ubPIk.js
  pr/pr-95/assets/render.stories-7aQmul2J.js
  pr/pr-95/assets/use-pref.stories-C08NUwGO.js
  pr/pr-95/favicon-wrapper.svg
  pr/pr-95/favicon.svg
  pr/pr-95/iframe.html
  pr/pr-95/index.html
  pr/pr-95/index.json
  pr/pr-95/nunito-sans-bold-italic.woff2
  pr/pr-95/nunito-sans-bold.woff2
  pr/pr-95/nunito-sans-italic.woff2
  pr/pr-95/nunito-sans-regular.woff2
  pr/pr-95/project.json
  pr/pr-95/sb-addons/links-1/manager-bundle.js
  pr/pr-95/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-95/sb-addons/vitest-2/manager-bundle.js
  pr/pr-95/sb-common-assets/favicon-wrapper.svg
  pr/pr-95/sb-common-assets/favicon.svg
  pr/pr-95/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-95/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-95/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-95/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-95/sb-manager/globals-runtime.js
  pr/pr-95/sb-manager/globals.js
  pr/pr-95/sb-manager/manager-stores.js
  pr/pr-95/sb-manager/runtime.js
  pr/pr-95/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0b6552725909d3f307b4bfda2a43ef1d052be446 🚀
  project.json
Due: prettier --write

chore: changeset prerelease for split default initial size
  .changeset/violet-onions-make.md
Due: prettier --write

Remove preview for PR 96 🛬
  pr/pr-96/assets/chunk-BvrOYcoh.js
  pr/pr-96/assets/component.stories-BFtbGEOe.js
  pr/pr-96/assets/haunted-DYBeKhTi.js
  pr/pr-96/assets/iframe-CagHpb6E.css
  pr/pr-96/assets/iframe-DoQhPFAC.js
  pr/pr-96/assets/item-click.stories-C9Tppzx7.js
  pr/pr-96/assets/lit-html-BZ3vufxv.js
  pr/pr-96/assets/preload-helper-CS2xCIPu.js
  pr/pr-96/assets/render-TRr2T0mb.js
  pr/pr-96/assets/render.stories-xxzTgg4U.js
  pr/pr-96/assets/use-pref.stories-BgMBVUYq.js
  pr/pr-96/favicon-wrapper.svg
  pr/pr-96/favicon.svg
  pr/pr-96/iframe.html
  pr/pr-96/index.html
  pr/pr-96/index.json
  pr/pr-96/nunito-sans-bold-italic.woff2
  pr/pr-96/nunito-sans-bold.woff2
  pr/pr-96/nunito-sans-italic.woff2
  pr/pr-96/nunito-sans-regular.woff2
  pr/pr-96/project.json
  pr/pr-96/sb-addons/links-1/manager-bundle.js
  pr/pr-96/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-96/sb-addons/vitest-2/manager-bundle.js
  pr/pr-96/sb-common-assets/favicon-wrapper.svg
  pr/pr-96/sb-common-assets/favicon.svg
  pr/pr-96/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-96/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-96/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-96/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-96/sb-manager/globals-runtime.js
  pr/pr-96/sb-manager/globals.js
  pr/pr-96/sb-manager/manager-stores.js
  pr/pr-96/sb-manager/runtime.js
  pr/pr-96/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list): always render unnamed slot in renderListCore
  .changeset/list-core-default-slot.md
  src/list/render-list-core.ts
  test/render-list-core.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 97 🛫
  pr/pr-97/assets/chunk-BvrOYcoh.js
  pr/pr-97/assets/component.stories-P87v8VPe.js
  pr/pr-97/assets/haunted-ZBn_t-7a.js
  pr/pr-97/assets/iframe-CBOhbx73.js
  pr/pr-97/assets/item-click.stories-CiPdjPb0.js
  pr/pr-97/assets/lit-html-B0z-6tlh.js
  pr/pr-97/assets/preload-helper-CS2xCIPu.js
  pr/pr-97/assets/render-Dq9ubPIk.js
  pr/pr-97/assets/render.stories-7aQmul2J.js
  pr/pr-97/assets/use-pref.stories-C08NUwGO.js
  pr/pr-97/favicon-wrapper.svg
  pr/pr-97/favicon.svg
  pr/pr-97/iframe.html
  pr/pr-97/index.html
  pr/pr-97/index.json
  pr/pr-97/nunito-sans-bold-italic.woff2
  pr/pr-97/nunito-sans-bold.woff2
  pr/pr-97/nunito-sans-italic.woff2
  pr/pr-97/nunito-sans-regular.woff2
  pr/pr-97/project.json
  pr/pr-97/sb-addons/links-1/manager-bundle.js
  pr/pr-97/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-97/sb-addons/vitest-2/manager-bundle.js
  pr/pr-97/sb-common-assets/favicon-wrapper.svg
  pr/pr-97/sb-common-assets/favicon.svg
  pr/pr-97/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-97/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-97/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-97/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-97/sb-manager/globals-runtime.js
  pr/pr-97/sb-manager/globals.js
  pr/pr-97/sb-manager/manager-stores.js
  pr/pr-97/sb-manager/runtime.js
  pr/pr-97/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list): always render unnamed slot in renderListCore (#97)
  .changeset/list-core-default-slot.md
  src/list/render-list-core.ts
  test/render-list-core.test.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@fe9f4253b55eba0830a0ffe8575a7cffc81b0c17 🚀
  project.json
Due: prettier --write

Remove preview for PR 97 🛬
  pr/pr-97/assets/chunk-BvrOYcoh.js
  pr/pr-97/assets/component.stories-P87v8VPe.js
  pr/pr-97/assets/haunted-ZBn_t-7a.js
  pr/pr-97/assets/iframe-CBOhbx73.js
  pr/pr-97/assets/item-click.stories-CiPdjPb0.js
  pr/pr-97/assets/lit-html-B0z-6tlh.js
  pr/pr-97/assets/preload-helper-CS2xCIPu.js
  pr/pr-97/assets/render-Dq9ubPIk.js
  pr/pr-97/assets/render.stories-7aQmul2J.js
  pr/pr-97/assets/use-pref.stories-C08NUwGO.js
  pr/pr-97/favicon-wrapper.svg
  pr/pr-97/favicon.svg
  pr/pr-97/iframe.html
  pr/pr-97/index.html
  pr/pr-97/index.json
  pr/pr-97/nunito-sans-bold-italic.woff2
  pr/pr-97/nunito-sans-bold.woff2
  pr/pr-97/nunito-sans-italic.woff2
  pr/pr-97/nunito-sans-regular.woff2
  pr/pr-97/project.json
  pr/pr-97/sb-addons/links-1/manager-bundle.js
  pr/pr-97/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-97/sb-addons/vitest-2/manager-bundle.js
  pr/pr-97/sb-common-assets/favicon-wrapper.svg
  pr/pr-97/sb-common-assets/favicon.svg
  pr/pr-97/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-97/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-97/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-97/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-97/sb-manager/globals-runtime.js
  pr/pr-97/sb-manager/globals.js
  pr/pr-97/sb-manager/manager-stores.js
  pr/pr-97/sb-manager/runtime.js
  pr/pr-97/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 98 🛬
  pr/pr-98/assets/chunk-BvrOYcoh.js
  pr/pr-98/assets/component.stories-P87v8VPe.js
  pr/pr-98/assets/haunted-ZBn_t-7a.js
  pr/pr-98/assets/iframe-CBOhbx73.js
  pr/pr-98/assets/item-click.stories-CiPdjPb0.js
  pr/pr-98/assets/lit-html-B0z-6tlh.js
  pr/pr-98/assets/preload-helper-CS2xCIPu.js
  pr/pr-98/assets/render-Dq9ubPIk.js
  pr/pr-98/assets/render.stories-7aQmul2J.js
  pr/pr-98/assets/use-pref.stories-C08NUwGO.js
  pr/pr-98/favicon-wrapper.svg
  pr/pr-98/favicon.svg
  pr/pr-98/iframe.html
  pr/pr-98/index.html
  pr/pr-98/index.json
  pr/pr-98/nunito-sans-bold-italic.woff2
  pr/pr-98/nunito-sans-bold.woff2
  pr/pr-98/nunito-sans-italic.woff2
  pr/pr-98/nunito-sans-regular.woff2
  pr/pr-98/project.json
  pr/pr-98/sb-addons/links-1/manager-bundle.js
  pr/pr-98/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-98/sb-addons/vitest-2/manager-bundle.js
  pr/pr-98/sb-common-assets/favicon-wrapper.svg
  pr/pr-98/sb-common-assets/favicon.svg
  pr/pr-98/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-98/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-98/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-98/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-98/sb-manager/globals-runtime.js
  pr/pr-98/sb-manager/globals.js
  pr/pr-98/sb-manager/manager-stores.js
  pr/pr-98/sb-manager/runtime.js
  pr/pr-98/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@dcd800f4ab3367c689cf66cec312abd37abdc507 🚀
  project.json
Due: prettier --write

fix: default splitAttrs in renderQueue
  .changeset/renderqueue-default-splitattrs.md
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 99 🛫
  pr/pr-99/assets/chunk-BvrOYcoh.js
  pr/pr-99/assets/component.stories-P87v8VPe.js
  pr/pr-99/assets/haunted-ZBn_t-7a.js
  pr/pr-99/assets/iframe-CBOhbx73.js
  pr/pr-99/assets/item-click.stories-CiPdjPb0.js
  pr/pr-99/assets/lit-html-B0z-6tlh.js
  pr/pr-99/assets/preload-helper-CS2xCIPu.js
  pr/pr-99/assets/render-Dq9ubPIk.js
  pr/pr-99/assets/render.stories-7aQmul2J.js
  pr/pr-99/assets/use-pref.stories-C08NUwGO.js
  pr/pr-99/favicon-wrapper.svg
  pr/pr-99/favicon.svg
  pr/pr-99/iframe.html
  pr/pr-99/index.html
  pr/pr-99/index.json
  pr/pr-99/nunito-sans-bold-italic.woff2
  pr/pr-99/nunito-sans-bold.woff2
  pr/pr-99/nunito-sans-italic.woff2
  pr/pr-99/nunito-sans-regular.woff2
  pr/pr-99/project.json
  pr/pr-99/sb-addons/links-1/manager-bundle.js
  pr/pr-99/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-99/sb-addons/vitest-2/manager-bundle.js
  pr/pr-99/sb-common-assets/favicon-wrapper.svg
  pr/pr-99/sb-common-assets/favicon.svg
  pr/pr-99/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-99/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-99/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-99/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-99/sb-manager/globals-runtime.js
  pr/pr-99/sb-manager/globals.js
  pr/pr-99/sb-manager/manager-stores.js
  pr/pr-99/sb-manager/runtime.js
  pr/pr-99/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 100 🛫
  pr/pr-100/assets/chunk-BvrOYcoh.js
  pr/pr-100/assets/component.stories-CO2w_I5p.js
  pr/pr-100/assets/haunted-CmjXZ8pk.js
  pr/pr-100/assets/iframe-CasLv3qO.js
  pr/pr-100/assets/item-click.stories-CiPdjPb0.js
  pr/pr-100/assets/lit-html-B0z-6tlh.js
  pr/pr-100/assets/preload-helper-CS2xCIPu.js
  pr/pr-100/assets/render-D5m0zP6T.js
  pr/pr-100/assets/render.stories-Mi1tJJJ4.js
  pr/pr-100/assets/use-pref.stories-CD6ZZAPk.js
  pr/pr-100/favicon-wrapper.svg
  pr/pr-100/favicon.svg
  pr/pr-100/iframe.html
  pr/pr-100/index.html
  pr/pr-100/index.json
  pr/pr-100/nunito-sans-bold-italic.woff2
  pr/pr-100/nunito-sans-bold.woff2
  pr/pr-100/nunito-sans-italic.woff2
  pr/pr-100/nunito-sans-regular.woff2
  pr/pr-100/project.json
  pr/pr-100/sb-addons/links-1/manager-bundle.js
  pr/pr-100/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-100/sb-addons/vitest-2/manager-bundle.js
  pr/pr-100/sb-common-assets/favicon-wrapper.svg
  pr/pr-100/sb-common-assets/favicon.svg
  pr/pr-100/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-100/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-100/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-100/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-100/sb-manager/globals-runtime.js
  pr/pr-100/sb-manager/globals.js
  pr/pr-100/sb-manager/manager-stores.js
  pr/pr-100/sb-manager/runtime.js
  pr/pr-100/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: default splitAttrs in renderQueue (#99)
  .changeset/renderqueue-default-splitattrs.md
  src/queue/render.ts
Due: eslint --fix, prettier --write

fix: guard persist with ifDefined in renderQueue
  .changeset/renderqueue-persist-ifdefined.md
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0f8459d350c1f02875e646a486ccac04a55a09b5 🚀
  project.json
Due: prettier --write

Remove preview for PR 99 🛬
  pr/pr-99/assets/chunk-BvrOYcoh.js
  pr/pr-99/assets/component.stories-P87v8VPe.js
  pr/pr-99/assets/haunted-ZBn_t-7a.js
  pr/pr-99/assets/iframe-CBOhbx73.js
  pr/pr-99/assets/item-click.stories-CiPdjPb0.js
  pr/pr-99/assets/lit-html-B0z-6tlh.js
  pr/pr-99/assets/preload-helper-CS2xCIPu.js
  pr/pr-99/assets/render-Dq9ubPIk.js
  pr/pr-99/assets/render.stories-7aQmul2J.js
  pr/pr-99/assets/use-pref.stories-C08NUwGO.js
  pr/pr-99/favicon-wrapper.svg
  pr/pr-99/favicon.svg
  pr/pr-99/iframe.html
  pr/pr-99/index.html
  pr/pr-99/index.json
  pr/pr-99/nunito-sans-bold-italic.woff2
  pr/pr-99/nunito-sans-bold.woff2
  pr/pr-99/nunito-sans-italic.woff2
  pr/pr-99/nunito-sans-regular.woff2
  pr/pr-99/project.json
  pr/pr-99/sb-addons/links-1/manager-bundle.js
  pr/pr-99/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-99/sb-addons/vitest-2/manager-bundle.js
  pr/pr-99/sb-common-assets/favicon-wrapper.svg
  pr/pr-99/sb-common-assets/favicon.svg
  pr/pr-99/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-99/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-99/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-99/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-99/sb-manager/globals-runtime.js
  pr/pr-99/sb-manager/globals.js
  pr/pr-99/sb-manager/manager-stores.js
  pr/pr-99/sb-manager/runtime.js
  pr/pr-99/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 100 🛫
  pr/pr-100/project.json
Due: prettier --write

fix: guard persist with ifDefined in renderQueue (#100)
  .changeset/renderqueue-persist-ifdefined.md
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@71820426f3f3867c15563dd05495b188f4ab5e05 🚀
  assets/component.stories-CO2w_I5p.js
  assets/haunted-CmjXZ8pk.js
  assets/haunted-ZBn_t-7a.js
  assets/iframe-CasLv3qO.js
  assets/render-D5m0zP6T.js
  assets/render.stories-Mi1tJJJ4.js
  assets/use-pref.stories-CD6ZZAPk.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 100 🛬
  pr/pr-100/assets/chunk-BvrOYcoh.js
  pr/pr-100/assets/component.stories-CO2w_I5p.js
  pr/pr-100/assets/haunted-CmjXZ8pk.js
  pr/pr-100/assets/iframe-CasLv3qO.js
  pr/pr-100/assets/item-click.stories-CiPdjPb0.js
  pr/pr-100/assets/lit-html-B0z-6tlh.js
  pr/pr-100/assets/preload-helper-CS2xCIPu.js
  pr/pr-100/assets/render-D5m0zP6T.js
  pr/pr-100/assets/render.stories-Mi1tJJJ4.js
  pr/pr-100/assets/use-pref.stories-CD6ZZAPk.js
  pr/pr-100/favicon-wrapper.svg
  pr/pr-100/favicon.svg
  pr/pr-100/iframe.html
  pr/pr-100/index.html
  pr/pr-100/index.json
  pr/pr-100/nunito-sans-bold-italic.woff2
  pr/pr-100/nunito-sans-bold.woff2
  pr/pr-100/nunito-sans-italic.woff2
  pr/pr-100/nunito-sans-regular.woff2
  pr/pr-100/project.json
  pr/pr-100/sb-addons/links-1/manager-bundle.js
  pr/pr-100/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-100/sb-addons/vitest-2/manager-bundle.js
  pr/pr-100/sb-common-assets/favicon-wrapper.svg
  pr/pr-100/sb-common-assets/favicon.svg
  pr/pr-100/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-100/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-100/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-100/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-100/sb-manager/globals-runtime.js
  pr/pr-100/sb-manager/globals.js
  pr/pr-100/sb-manager/manager-stores.js
  pr/pr-100/sb-manager/runtime.js
  pr/pr-100/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@03ace55d75c34c080d01eb6684a091d6a5233964 🚀
  project.json
Due: prettier --write

Remove preview for PR 102 🛬
  pr/pr-102/assets/chunk-BvrOYcoh.js
  pr/pr-102/assets/component.stories-CO2w_I5p.js
  pr/pr-102/assets/haunted-CmjXZ8pk.js
  pr/pr-102/assets/iframe-CasLv3qO.js
  pr/pr-102/assets/item-click.stories-CiPdjPb0.js
  pr/pr-102/assets/lit-html-B0z-6tlh.js
  pr/pr-102/assets/preload-helper-CS2xCIPu.js
  pr/pr-102/assets/render-D5m0zP6T.js
  pr/pr-102/assets/render.stories-Mi1tJJJ4.js
  pr/pr-102/assets/use-pref.stories-CD6ZZAPk.js
  pr/pr-102/favicon-wrapper.svg
  pr/pr-102/favicon.svg
  pr/pr-102/iframe.html
  pr/pr-102/index.html
  pr/pr-102/index.json
  pr/pr-102/nunito-sans-bold-italic.woff2
  pr/pr-102/nunito-sans-bold.woff2
  pr/pr-102/nunito-sans-italic.woff2
  pr/pr-102/nunito-sans-regular.woff2
  pr/pr-102/project.json
  pr/pr-102/sb-addons/links-1/manager-bundle.js
  pr/pr-102/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-102/sb-addons/vitest-2/manager-bundle.js
  pr/pr-102/sb-common-assets/favicon-wrapper.svg
  pr/pr-102/sb-common-assets/favicon.svg
  pr/pr-102/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-102/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-102/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-102/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-102/sb-manager/globals-runtime.js
  pr/pr-102/sb-manager/globals.js
  pr/pr-102/sb-manager/manager-stores.js
  pr/pr-102/sb-manager/runtime.js
  pr/pr-102/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: exit pre mode and prepare v3.0.0 release
  .changeset/dull-loops-taste.md
  .changeset/full-zoos-dig.md
  .changeset/kind-ducks-tan.md
  .changeset/new-ducks-stare.md
  .changeset/pre.json
  .changeset/pre/all-taxis-refuse.md
  .changeset/pre/busy-bags-grow.md
  .changeset/pre/great-mugs-feel.md
  .changeset/pre/mighty-toes-vanish.md
  .changeset/shaggy-boats-fold.md
  .changeset/smart-buckets-watch.md
  .changeset/two-taxis-guess.md
  .changeset/violet-onions-make.md
  CHANGELOG.md
  codecov
  codecov.SHA256SUM
  codecov.SHA256SUM.sig
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 103 🛫
  pr/pr-103/assets/chunk-BvrOYcoh.js
  pr/pr-103/assets/component.stories-GW7bHIm3.js
  pr/pr-103/assets/haunted-CMvVFBUR.js
  pr/pr-103/assets/iframe-BgE95vP1.js
  pr/pr-103/assets/iframe-Bm6zgdNj.css
  pr/pr-103/assets/item-click.stories-C9Tppzx7.js
  pr/pr-103/assets/lit-html-BZ3vufxv.js
  pr/pr-103/assets/preload-helper-CS2xCIPu.js
  pr/pr-103/assets/render-XzqIb14a.js
  pr/pr-103/assets/render.stories-CqA0CeaK.js
  pr/pr-103/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-103/favicon-wrapper.svg
  pr/pr-103/favicon.svg
  pr/pr-103/iframe.html
  pr/pr-103/index.html
  pr/pr-103/index.json
  pr/pr-103/nunito-sans-bold-italic.woff2
  pr/pr-103/nunito-sans-bold.woff2
  pr/pr-103/nunito-sans-italic.woff2
  pr/pr-103/nunito-sans-regular.woff2
  pr/pr-103/project.json
  pr/pr-103/sb-addons/links-1/manager-bundle.js
  pr/pr-103/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-103/sb-addons/vitest-2/manager-bundle.js
  pr/pr-103/sb-common-assets/favicon-wrapper.svg
  pr/pr-103/sb-common-assets/favicon.svg
  pr/pr-103/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-103/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-103/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-103/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-103/sb-manager/globals-runtime.js
  pr/pr-103/sb-manager/globals.js
  pr/pr-103/sb-manager/manager-stores.js
  pr/pr-103/sb-manager/runtime.js
  pr/pr-103/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
