Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"],
  "package-lock.json": ["check-duplicate-components"]
}

feat: render nav and pagination arrows as icon-only buttons
  .changeset/icon-only-nav.md
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 113 🛫
  pr/pr-113/assets/chunk-BvrOYcoh.js
  pr/pr-113/assets/component.stories-BP0y9eXN.js
  pr/pr-113/assets/haunted-CXMiIabh.js
  pr/pr-113/assets/iframe-Bm6zgdNj.css
  pr/pr-113/assets/iframe-CknE9brg.js
  pr/pr-113/assets/item-click.stories-C9Tppzx7.js
  pr/pr-113/assets/lit-html-BZ3vufxv.js
  pr/pr-113/assets/preload-helper-CS2xCIPu.js
  pr/pr-113/assets/render-CsDZfOp5.js
  pr/pr-113/assets/render.stories-CDwsTlBi.js
  pr/pr-113/assets/use-pref.stories-33EOu9m-.js
  pr/pr-113/favicon-wrapper.svg
  pr/pr-113/favicon.svg
  pr/pr-113/iframe.html
  pr/pr-113/index.html
  pr/pr-113/index.json
  pr/pr-113/nunito-sans-bold-italic.woff2
  pr/pr-113/nunito-sans-bold.woff2
  pr/pr-113/nunito-sans-italic.woff2
  pr/pr-113/nunito-sans-regular.woff2
  pr/pr-113/project.json
  pr/pr-113/sb-addons/links-1/manager-bundle.js
  pr/pr-113/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-113/sb-addons/vitest-2/manager-bundle.js
  pr/pr-113/sb-common-assets/favicon-wrapper.svg
  pr/pr-113/sb-common-assets/favicon.svg
  pr/pr-113/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-113/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-113/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-113/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-113/sb-manager/globals-runtime.js
  pr/pr-113/sb-manager/globals.js
  pr/pr-113/sb-manager/manager-stores.js
  pr/pr-113/sb-manager/runtime.js
  pr/pr-113/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(storybook): preserve light-dark() through CSS minification
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 114 🛫
  pr/pr-114/assets/chunk-BvrOYcoh.js
  pr/pr-114/assets/component.stories-GW7bHIm3.js
  pr/pr-114/assets/haunted-CMvVFBUR.js
  pr/pr-114/assets/iframe-BgE95vP1.js
  pr/pr-114/assets/iframe-Bm6zgdNj.css
  pr/pr-114/assets/item-click.stories-C9Tppzx7.js
  pr/pr-114/assets/lit-html-BZ3vufxv.js
  pr/pr-114/assets/preload-helper-CS2xCIPu.js
  pr/pr-114/assets/render-XzqIb14a.js
  pr/pr-114/assets/render.stories-CqA0CeaK.js
  pr/pr-114/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-114/favicon-wrapper.svg
  pr/pr-114/favicon.svg
  pr/pr-114/iframe.html
  pr/pr-114/index.html
  pr/pr-114/index.json
  pr/pr-114/nunito-sans-bold-italic.woff2
  pr/pr-114/nunito-sans-bold.woff2
  pr/pr-114/nunito-sans-italic.woff2
  pr/pr-114/nunito-sans-regular.woff2
  pr/pr-114/project.json
  pr/pr-114/sb-addons/links-1/manager-bundle.js
  pr/pr-114/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-114/sb-addons/vitest-2/manager-bundle.js
  pr/pr-114/sb-common-assets/favicon-wrapper.svg
  pr/pr-114/sb-common-assets/favicon.svg
  pr/pr-114/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-114/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-114/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-114/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-114/sb-manager/globals-runtime.js
  pr/pr-114/sb-manager/globals.js
  pr/pr-114/sb-manager/manager-stores.js
  pr/pr-114/sb-manager/runtime.js
  pr/pr-114/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(storybook): preserve light-dark() through CSS minification (#114)
  .storybook/main.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@46ac1413b5aaa667fc6b0523e545fbdfe78506a4 🚀
  project.json
Due: prettier --write

Remove preview for PR 114 🛬
  pr/pr-114/assets/chunk-BvrOYcoh.js
  pr/pr-114/assets/component.stories-GW7bHIm3.js
  pr/pr-114/assets/haunted-CMvVFBUR.js
  pr/pr-114/assets/iframe-BgE95vP1.js
  pr/pr-114/assets/iframe-Bm6zgdNj.css
  pr/pr-114/assets/item-click.stories-C9Tppzx7.js
  pr/pr-114/assets/lit-html-BZ3vufxv.js
  pr/pr-114/assets/preload-helper-CS2xCIPu.js
  pr/pr-114/assets/render-XzqIb14a.js
  pr/pr-114/assets/render.stories-CqA0CeaK.js
  pr/pr-114/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-114/favicon-wrapper.svg
  pr/pr-114/favicon.svg
  pr/pr-114/iframe.html
  pr/pr-114/index.html
  pr/pr-114/index.json
  pr/pr-114/nunito-sans-bold-italic.woff2
  pr/pr-114/nunito-sans-bold.woff2
  pr/pr-114/nunito-sans-italic.woff2
  pr/pr-114/nunito-sans-regular.woff2
  pr/pr-114/project.json
  pr/pr-114/sb-addons/links-1/manager-bundle.js
  pr/pr-114/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-114/sb-addons/vitest-2/manager-bundle.js
  pr/pr-114/sb-common-assets/favicon-wrapper.svg
  pr/pr-114/sb-common-assets/favicon.svg
  pr/pr-114/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-114/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-114/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-114/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-114/sb-manager/globals-runtime.js
  pr/pr-114/sb-manager/globals.js
  pr/pr-114/sb-manager/manager-stores.js
  pr/pr-114/sb-manager/runtime.js
  pr/pr-114/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(storybook): switch themes via color-scheme
  .storybook/preview.js
Due: eslint --fix, prettier --write

Deploy preview for PR 115 🛫
  pr/pr-115/assets/chunk-BvrOYcoh.js
  pr/pr-115/assets/component.stories-2aidKwS6.js
  pr/pr-115/assets/haunted-BGOLGQYI.js
  pr/pr-115/assets/iframe-8pcH5VIp.js
  pr/pr-115/assets/iframe-Bm6zgdNj.css
  pr/pr-115/assets/item-click.stories-C9Tppzx7.js
  pr/pr-115/assets/lit-html-BZ3vufxv.js
  pr/pr-115/assets/preload-helper-CS2xCIPu.js
  pr/pr-115/assets/render-D1FvLcJ_.js
  pr/pr-115/assets/render.stories-SI-Jt0zn.js
  pr/pr-115/assets/use-pref.stories-DBN8nhSu.js
  pr/pr-115/favicon-wrapper.svg
  pr/pr-115/favicon.svg
  pr/pr-115/iframe.html
  pr/pr-115/index.html
  pr/pr-115/index.json
  pr/pr-115/nunito-sans-bold-italic.woff2
  pr/pr-115/nunito-sans-bold.woff2
  pr/pr-115/nunito-sans-italic.woff2
  pr/pr-115/nunito-sans-regular.woff2
  pr/pr-115/project.json
  pr/pr-115/sb-addons/links-1/manager-bundle.js
  pr/pr-115/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-115/sb-addons/vitest-2/manager-bundle.js
  pr/pr-115/sb-common-assets/favicon-wrapper.svg
  pr/pr-115/sb-common-assets/favicon.svg
  pr/pr-115/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-115/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-115/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-115/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-115/sb-manager/globals-runtime.js
  pr/pr-115/sb-manager/globals.js
  pr/pr-115/sb-manager/manager-stores.js
  pr/pr-115/sb-manager/runtime.js
  pr/pr-115/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: widen @neovici/cosmoz-tokens range to ^3 || ^4
  .changeset/widen-tokens-range.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 116 🛫
  pr/pr-116/assets/chunk-BvrOYcoh.js
  pr/pr-116/assets/component.stories-GW7bHIm3.js
  pr/pr-116/assets/haunted-CMvVFBUR.js
  pr/pr-116/assets/iframe-BgE95vP1.js
  pr/pr-116/assets/iframe-Bm6zgdNj.css
  pr/pr-116/assets/item-click.stories-C9Tppzx7.js
  pr/pr-116/assets/lit-html-BZ3vufxv.js
  pr/pr-116/assets/preload-helper-CS2xCIPu.js
  pr/pr-116/assets/render-XzqIb14a.js
  pr/pr-116/assets/render.stories-CqA0CeaK.js
  pr/pr-116/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-116/favicon-wrapper.svg
  pr/pr-116/favicon.svg
  pr/pr-116/iframe.html
  pr/pr-116/index.html
  pr/pr-116/index.json
  pr/pr-116/nunito-sans-bold-italic.woff2
  pr/pr-116/nunito-sans-bold.woff2
  pr/pr-116/nunito-sans-italic.woff2
  pr/pr-116/nunito-sans-regular.woff2
  pr/pr-116/project.json
  pr/pr-116/sb-addons/links-1/manager-bundle.js
  pr/pr-116/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-116/sb-addons/vitest-2/manager-bundle.js
  pr/pr-116/sb-common-assets/favicon-wrapper.svg
  pr/pr-116/sb-common-assets/favicon.svg
  pr/pr-116/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-116/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-116/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-116/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-116/sb-manager/globals-runtime.js
  pr/pr-116/sb-manager/globals.js
  pr/pr-116/sb-manager/manager-stores.js
  pr/pr-116/sb-manager/runtime.js
  pr/pr-116/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 117 🛫
  pr/pr-117/assets/chunk-BvrOYcoh.js
  pr/pr-117/assets/component.stories-nwtK2H5v.js
  pr/pr-117/assets/haunted-CYMUpIV1.js
  pr/pr-117/assets/iframe-Bm6zgdNj.css
  pr/pr-117/assets/iframe-CuJUXSlU.js
  pr/pr-117/assets/item-click.stories-C9Tppzx7.js
  pr/pr-117/assets/lit-html-BZ3vufxv.js
  pr/pr-117/assets/preload-helper-CS2xCIPu.js
  pr/pr-117/assets/render-JofgdHKv.js
  pr/pr-117/assets/render.stories-CflRV_uL.js
  pr/pr-117/assets/use-pref.stories-B2EL0RNZ.js
  pr/pr-117/favicon-wrapper.svg
  pr/pr-117/favicon.svg
  pr/pr-117/iframe.html
  pr/pr-117/index.html
  pr/pr-117/index.json
  pr/pr-117/nunito-sans-bold-italic.woff2
  pr/pr-117/nunito-sans-bold.woff2
  pr/pr-117/nunito-sans-italic.woff2
  pr/pr-117/nunito-sans-regular.woff2
  pr/pr-117/project.json
  pr/pr-117/sb-addons/links-1/manager-bundle.js
  pr/pr-117/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-117/sb-addons/vitest-2/manager-bundle.js
  pr/pr-117/sb-common-assets/favicon-wrapper.svg
  pr/pr-117/sb-common-assets/favicon.svg
  pr/pr-117/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-117/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-117/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-117/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-117/sb-manager/globals-runtime.js
  pr/pr-117/sb-manager/globals.js
  pr/pr-117/sb-manager/manager-stores.js
  pr/pr-117/sb-manager/runtime.js
  pr/pr-117/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(queue): use untitled icons for view-mode tabs
  .changeset/untitled-layout-icons.md
  package-lock.json
  package.json
  src/queue/icons.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 118 🛫
  pr/pr-118/assets/chunk-BvrOYcoh.js
  pr/pr-118/assets/component.stories-Df1BsFzc.js
  pr/pr-118/assets/haunted-VsMocDs2.js
  pr/pr-118/assets/iframe-AERFRyyP.js
  pr/pr-118/assets/iframe-Bm6zgdNj.css
  pr/pr-118/assets/item-click.stories-C9Tppzx7.js
  pr/pr-118/assets/lit-html-BZ3vufxv.js
  pr/pr-118/assets/preload-helper-CS2xCIPu.js
  pr/pr-118/assets/render-D8qeHxRV.js
  pr/pr-118/assets/render.stories-DhJdCg52.js
  pr/pr-118/assets/use-pref.stories-CP5XORhc.js
  pr/pr-118/favicon-wrapper.svg
  pr/pr-118/favicon.svg
  pr/pr-118/iframe.html
  pr/pr-118/index.html
  pr/pr-118/index.json
  pr/pr-118/nunito-sans-bold-italic.woff2
  pr/pr-118/nunito-sans-bold.woff2
  pr/pr-118/nunito-sans-italic.woff2
  pr/pr-118/nunito-sans-regular.woff2
  pr/pr-118/project.json
  pr/pr-118/sb-addons/links-1/manager-bundle.js
  pr/pr-118/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-118/sb-addons/vitest-2/manager-bundle.js
  pr/pr-118/sb-common-assets/favicon-wrapper.svg
  pr/pr-118/sb-common-assets/favicon.svg
  pr/pr-118/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-118/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-118/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-118/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-118/sb-manager/globals-runtime.js
  pr/pr-118/sb-manager/globals.js
  pr/pr-118/sb-manager/manager-stores.js
  pr/pr-118/sb-manager/runtime.js
  pr/pr-118/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(queue): expose --cz-queue-tab-padding
  .changeset/untitled-layout-icons.md
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 118 🛫
  pr/pr-118/assets/component.stories-VyH2gVS9.js
  pr/pr-118/assets/haunted-B0Vr0TPG.js
  pr/pr-118/assets/haunted-VsMocDs2.js
  pr/pr-118/assets/iframe-CzvVsxij.js
  pr/pr-118/assets/render-CaFxXUln.js
  pr/pr-118/assets/render.stories-BE3VbZx2.js
  pr/pr-118/assets/use-pref.stories-D-Hymycf.js
  pr/pr-118/iframe.html
  pr/pr-118/project.json
Due: eslint --fix, prettier --write

feat: static queue stylesheet via rowPartFn
  .changeset/static-queue-stylesheet.md
  src/list/render-list-core.ts
  src/queue/index.ts
  src/queue/omnitable.ts
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 117 🛫
  pr/pr-117/project.json
Due: prettier --write

feat!: render default actions as cosmoz-button
  .changeset/cosmoz-button-actions.md
  package-lock.json
  package.json
  src/actions/index.ts
  src/list/style.css.ts
  src/styles/shared-styles.ts
  test/actions.test.ts
  test/render-list-core.test.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 119 🛫
  pr/pr-119/assets/chunk-BvrOYcoh.js
  pr/pr-119/assets/component.stories-CeLyenDk.js
  pr/pr-119/assets/haunted-qmRshrok.js
  pr/pr-119/assets/iframe-C183Prbc.js
  pr/pr-119/assets/iframe-CgJjdfQG.css
  pr/pr-119/assets/item-click.stories-C9Tppzx7.js
  pr/pr-119/assets/lit-html-BZ3vufxv.js
  pr/pr-119/assets/preload-helper-CS2xCIPu.js
  pr/pr-119/assets/render-DH-nDi9Q.js
  pr/pr-119/assets/render.stories-Bln9sHmb.js
  pr/pr-119/assets/use-pref.stories-C4feme4T.js
  pr/pr-119/favicon-wrapper.svg
  pr/pr-119/favicon.svg
  pr/pr-119/iframe.html
  pr/pr-119/index.html
  pr/pr-119/index.json
  pr/pr-119/nunito-sans-bold-italic.woff2
  pr/pr-119/nunito-sans-bold.woff2
  pr/pr-119/nunito-sans-italic.woff2
  pr/pr-119/nunito-sans-regular.woff2
  pr/pr-119/project.json
  pr/pr-119/sb-addons/links-1/manager-bundle.js
  pr/pr-119/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-119/sb-addons/vitest-2/manager-bundle.js
  pr/pr-119/sb-common-assets/favicon-wrapper.svg
  pr/pr-119/sb-common-assets/favicon.svg
  pr/pr-119/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-119/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-119/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-119/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-119/sb-manager/globals-runtime.js
  pr/pr-119/sb-manager/globals.js
  pr/pr-119/sb-manager/manager-stores.js
  pr/pr-119/sb-manager/runtime.js
  pr/pr-119/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(actions): render action group as data-group
  .changeset/action-group.md
  src/actions/index.ts
  test/actions.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 120 🛫
  pr/pr-120/assets/chunk-BvrOYcoh.js
  pr/pr-120/assets/component.stories-GW7bHIm3.js
  pr/pr-120/assets/haunted-CMvVFBUR.js
  pr/pr-120/assets/iframe-BgE95vP1.js
  pr/pr-120/assets/iframe-Bm6zgdNj.css
  pr/pr-120/assets/item-click.stories-C9Tppzx7.js
  pr/pr-120/assets/lit-html-BZ3vufxv.js
  pr/pr-120/assets/preload-helper-CS2xCIPu.js
  pr/pr-120/assets/render-XzqIb14a.js
  pr/pr-120/assets/render.stories-CqA0CeaK.js
  pr/pr-120/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-120/favicon-wrapper.svg
  pr/pr-120/favicon.svg
  pr/pr-120/iframe.html
  pr/pr-120/index.html
  pr/pr-120/index.json
  pr/pr-120/nunito-sans-bold-italic.woff2
  pr/pr-120/nunito-sans-bold.woff2
  pr/pr-120/nunito-sans-italic.woff2
  pr/pr-120/nunito-sans-regular.woff2
  pr/pr-120/project.json
  pr/pr-120/sb-addons/links-1/manager-bundle.js
  pr/pr-120/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-120/sb-addons/vitest-2/manager-bundle.js
  pr/pr-120/sb-common-assets/favicon-wrapper.svg
  pr/pr-120/sb-common-assets/favicon.svg
  pr/pr-120/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-120/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-120/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-120/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-120/sb-manager/globals-runtime.js
  pr/pr-120/sb-manager/globals.js
  pr/pr-120/sb-manager/manager-stores.js
  pr/pr-120/sb-manager/runtime.js
  pr/pr-120/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(changeset): release as a minor
  .changeset/cosmoz-button-actions.md
Due: prettier --write

Deploy preview for PR 119 🛫
  pr/pr-119/project.json
Due: prettier --write

fix: pass pagination to custom queue headers
  .changeset/quiet-pages-travel.md
  src/queue/render.ts
  stories/header-pagination.test.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 121 🛫
  pr/pr-121/assets/chunk-BvrOYcoh.js
  pr/pr-121/assets/component.stories-BkF_uN1x.js
  pr/pr-121/assets/haunted-BBRtTTcy.js
  pr/pr-121/assets/header-pagination.test.stories--YpeFkZ6.js
  pr/pr-121/assets/iframe-Bm6zgdNj.css
  pr/pr-121/assets/iframe-Cdhh2oP8.js
  pr/pr-121/assets/item-click.stories-BVpDgttc.js
  pr/pr-121/assets/lit-html-BZ3vufxv.js
  pr/pr-121/assets/preload-helper-CS2xCIPu.js
  pr/pr-121/assets/render-BDWaTRNt.js
  pr/pr-121/assets/render.stories-DJIPPAhh.js
  pr/pr-121/assets/use-pref.stories-B9v07Q_V.js
  pr/pr-121/favicon-wrapper.svg
  pr/pr-121/favicon.svg
  pr/pr-121/iframe.html
  pr/pr-121/index.html
  pr/pr-121/index.json
  pr/pr-121/nunito-sans-bold-italic.woff2
  pr/pr-121/nunito-sans-bold.woff2
  pr/pr-121/nunito-sans-italic.woff2
  pr/pr-121/nunito-sans-regular.woff2
  pr/pr-121/project.json
  pr/pr-121/sb-addons/links-1/manager-bundle.js
  pr/pr-121/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-121/sb-addons/vitest-2/manager-bundle.js
  pr/pr-121/sb-common-assets/favicon-wrapper.svg
  pr/pr-121/sb-common-assets/favicon.svg
  pr/pr-121/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-121/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-121/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-121/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-121/sb-manager/globals-runtime.js
  pr/pr-121/sb-manager/globals.js
  pr/pr-121/sb-manager/manager-stores.js
  pr/pr-121/sb-manager/runtime.js
  pr/pr-121/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: widen @neovici/cosmoz-tokens range to ^3 || ^4 (#116)
  .changeset/widen-tokens-range.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@3dc5a7ab9efecce4a6503aac26bd0f06852e6c3a 🚀
  project.json
Due: prettier --write

Remove preview for PR 116 🛬
  pr/pr-116/assets/chunk-BvrOYcoh.js
  pr/pr-116/assets/component.stories-GW7bHIm3.js
  pr/pr-116/assets/haunted-CMvVFBUR.js
  pr/pr-116/assets/iframe-BgE95vP1.js
  pr/pr-116/assets/iframe-Bm6zgdNj.css
  pr/pr-116/assets/item-click.stories-C9Tppzx7.js
  pr/pr-116/assets/lit-html-BZ3vufxv.js
  pr/pr-116/assets/preload-helper-CS2xCIPu.js
  pr/pr-116/assets/render-XzqIb14a.js
  pr/pr-116/assets/render.stories-CqA0CeaK.js
  pr/pr-116/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-116/favicon-wrapper.svg
  pr/pr-116/favicon.svg
  pr/pr-116/iframe.html
  pr/pr-116/index.html
  pr/pr-116/index.json
  pr/pr-116/nunito-sans-bold-italic.woff2
  pr/pr-116/nunito-sans-bold.woff2
  pr/pr-116/nunito-sans-italic.woff2
  pr/pr-116/nunito-sans-regular.woff2
  pr/pr-116/project.json
  pr/pr-116/sb-addons/links-1/manager-bundle.js
  pr/pr-116/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-116/sb-addons/vitest-2/manager-bundle.js
  pr/pr-116/sb-common-assets/favicon-wrapper.svg
  pr/pr-116/sb-common-assets/favicon.svg
  pr/pr-116/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-116/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-116/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-116/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-116/sb-manager/globals-runtime.js
  pr/pr-116/sb-manager/globals.js
  pr/pr-116/sb-manager/manager-stores.js
  pr/pr-116/sb-manager/runtime.js
  pr/pr-116/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(queue): skip useListSSE fetch when no updated item is listed
  .changeset/list-sse-skip-empty-fetch.md
  src/queue/use-list-sse.ts
  test/use-list-sse.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 123 🛫
  pr/pr-123/assets/chunk-BvrOYcoh.js
  pr/pr-123/assets/component.stories-GW7bHIm3.js
  pr/pr-123/assets/haunted-CMvVFBUR.js
  pr/pr-123/assets/iframe-BgE95vP1.js
  pr/pr-123/assets/iframe-Bm6zgdNj.css
  pr/pr-123/assets/item-click.stories-C9Tppzx7.js
  pr/pr-123/assets/lit-html-BZ3vufxv.js
  pr/pr-123/assets/preload-helper-CS2xCIPu.js
  pr/pr-123/assets/render-XzqIb14a.js
  pr/pr-123/assets/render.stories-CqA0CeaK.js
  pr/pr-123/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-123/favicon-wrapper.svg
  pr/pr-123/favicon.svg
  pr/pr-123/iframe.html
  pr/pr-123/index.html
  pr/pr-123/index.json
  pr/pr-123/nunito-sans-bold-italic.woff2
  pr/pr-123/nunito-sans-bold.woff2
  pr/pr-123/nunito-sans-italic.woff2
  pr/pr-123/nunito-sans-regular.woff2
  pr/pr-123/project.json
  pr/pr-123/sb-addons/links-1/manager-bundle.js
  pr/pr-123/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-123/sb-addons/vitest-2/manager-bundle.js
  pr/pr-123/sb-common-assets/favicon-wrapper.svg
  pr/pr-123/sb-common-assets/favicon.svg
  pr/pr-123/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-123/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-123/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-123/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-123/sb-manager/globals-runtime.js
  pr/pr-123/sb-manager/globals.js
  pr/pr-123/sb-manager/manager-stores.js
  pr/pr-123/sb-manager/runtime.js
  pr/pr-123/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(queue): skip useListSSE fetch when no updated item is listed (#123)
  .changeset/list-sse-skip-empty-fetch.md
  src/queue/use-list-sse.ts
  test/use-list-sse.test.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@5c907661fd31845907c5da87f524bd0d197aff18 🚀
  project.json
Due: prettier --write

Remove preview for PR 123 🛬
  pr/pr-123/assets/chunk-BvrOYcoh.js
  pr/pr-123/assets/component.stories-GW7bHIm3.js
  pr/pr-123/assets/haunted-CMvVFBUR.js
  pr/pr-123/assets/iframe-BgE95vP1.js
  pr/pr-123/assets/iframe-Bm6zgdNj.css
  pr/pr-123/assets/item-click.stories-C9Tppzx7.js
  pr/pr-123/assets/lit-html-BZ3vufxv.js
  pr/pr-123/assets/preload-helper-CS2xCIPu.js
  pr/pr-123/assets/render-XzqIb14a.js
  pr/pr-123/assets/render.stories-CqA0CeaK.js
  pr/pr-123/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-123/favicon-wrapper.svg
  pr/pr-123/favicon.svg
  pr/pr-123/iframe.html
  pr/pr-123/index.html
  pr/pr-123/index.json
  pr/pr-123/nunito-sans-bold-italic.woff2
  pr/pr-123/nunito-sans-bold.woff2
  pr/pr-123/nunito-sans-italic.woff2
  pr/pr-123/nunito-sans-regular.woff2
  pr/pr-123/project.json
  pr/pr-123/sb-addons/links-1/manager-bundle.js
  pr/pr-123/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-123/sb-addons/vitest-2/manager-bundle.js
  pr/pr-123/sb-common-assets/favicon-wrapper.svg
  pr/pr-123/sb-common-assets/favicon.svg
  pr/pr-123/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-123/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-123/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-123/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-123/sb-manager/globals-runtime.js
  pr/pr-123/sb-manager/globals.js
  pr/pr-123/sb-manager/manager-stores.js
  pr/pr-123/sb-manager/runtime.js
  pr/pr-123/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@20efcb6705ca23d2c5ed730c7a145dfec1051fba 🚀
  project.json
Due: prettier --write

Remove preview for PR 122 🛬
  pr/pr-122/assets/chunk-BvrOYcoh.js
  pr/pr-122/assets/component.stories-GW7bHIm3.js
  pr/pr-122/assets/haunted-CMvVFBUR.js
  pr/pr-122/assets/iframe-BgE95vP1.js
  pr/pr-122/assets/iframe-Bm6zgdNj.css
  pr/pr-122/assets/item-click.stories-C9Tppzx7.js
  pr/pr-122/assets/lit-html-BZ3vufxv.js
  pr/pr-122/assets/preload-helper-CS2xCIPu.js
  pr/pr-122/assets/render-XzqIb14a.js
  pr/pr-122/assets/render.stories-CqA0CeaK.js
  pr/pr-122/assets/use-pref.stories-B8D5W3Qf.js
  pr/pr-122/favicon-wrapper.svg
  pr/pr-122/favicon.svg
  pr/pr-122/iframe.html
  pr/pr-122/index.html
  pr/pr-122/index.json
  pr/pr-122/nunito-sans-bold-italic.woff2
  pr/pr-122/nunito-sans-bold.woff2
  pr/pr-122/nunito-sans-italic.woff2
  pr/pr-122/nunito-sans-regular.woff2
  pr/pr-122/project.json
  pr/pr-122/sb-addons/links-1/manager-bundle.js
  pr/pr-122/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-122/sb-addons/vitest-2/manager-bundle.js
  pr/pr-122/sb-common-assets/favicon-wrapper.svg
  pr/pr-122/sb-common-assets/favicon.svg
  pr/pr-122/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-122/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-122/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-122/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-122/sb-manager/globals-runtime.js
  pr/pr-122/sb-manager/globals.js
  pr/pr-122/sb-manager/manager-stores.js
  pr/pr-122/sb-manager/runtime.js
  pr/pr-122/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: static queue stylesheet via rowPartFn (#117)
  .changeset/static-queue-stylesheet.md
  src/list/render-list-core.ts
  src/queue/index.ts
  src/queue/omnitable.ts
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@5c14810165ef914ba13964ba940884036cb28d52 🚀
  assets/component.stories-nwtK2H5v.js
  assets/haunted-CMvVFBUR.js
  assets/haunted-CYMUpIV1.js
  assets/iframe-CuJUXSlU.js
  assets/render-JofgdHKv.js
  assets/render.stories-CflRV_uL.js
  assets/use-pref.stories-B2EL0RNZ.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 117 🛬
  pr/pr-117/assets/chunk-BvrOYcoh.js
  pr/pr-117/assets/component.stories-nwtK2H5v.js
  pr/pr-117/assets/haunted-CYMUpIV1.js
  pr/pr-117/assets/iframe-Bm6zgdNj.css
  pr/pr-117/assets/iframe-CuJUXSlU.js
  pr/pr-117/assets/item-click.stories-C9Tppzx7.js
  pr/pr-117/assets/lit-html-BZ3vufxv.js
  pr/pr-117/assets/preload-helper-CS2xCIPu.js
  pr/pr-117/assets/render-JofgdHKv.js
  pr/pr-117/assets/render.stories-CflRV_uL.js
  pr/pr-117/assets/use-pref.stories-B2EL0RNZ.js
  pr/pr-117/favicon-wrapper.svg
  pr/pr-117/favicon.svg
  pr/pr-117/iframe.html
  pr/pr-117/index.html
  pr/pr-117/index.json
  pr/pr-117/nunito-sans-bold-italic.woff2
  pr/pr-117/nunito-sans-bold.woff2
  pr/pr-117/nunito-sans-italic.woff2
  pr/pr-117/nunito-sans-regular.woff2
  pr/pr-117/project.json
  pr/pr-117/sb-addons/links-1/manager-bundle.js
  pr/pr-117/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-117/sb-addons/vitest-2/manager-bundle.js
  pr/pr-117/sb-common-assets/favicon-wrapper.svg
  pr/pr-117/sb-common-assets/favicon.svg
  pr/pr-117/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-117/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-117/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-117/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-117/sb-manager/globals-runtime.js
  pr/pr-117/sb-manager/globals.js
  pr/pr-117/sb-manager/manager-stores.js
  pr/pr-117/sb-manager/runtime.js
  pr/pr-117/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@89e80d34ccc897d7f84ac92a435e5d9c9caa6b3b 🚀
  project.json
Due: prettier --write
