Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"],
  "package-lock.json": ["check-duplicate-components"]
}

Deploy preview for PR 80 🛫
  pr/pr-80/assets/chunk-BvrOYcoh.js
  pr/pr-80/assets/component.stories-DvCqa8yt.js
  pr/pr-80/assets/haunted-CwpXWIMl.js
  pr/pr-80/assets/iframe-Wbjr-eSB.js
  pr/pr-80/assets/item-click.stories-CiPdjPb0.js
  pr/pr-80/assets/lit-html-B0z-6tlh.js
  pr/pr-80/assets/preload-helper-CS2xCIPu.js
  pr/pr-80/assets/render-B3hGmVqr.js
  pr/pr-80/assets/render.stories-Dkr3bwFG.js
  pr/pr-80/assets/use-pref.stories-BYJS3Gkg.js
  pr/pr-80/favicon-wrapper.svg
  pr/pr-80/favicon.svg
  pr/pr-80/iframe.html
  pr/pr-80/index.html
  pr/pr-80/index.json
  pr/pr-80/nunito-sans-bold-italic.woff2
  pr/pr-80/nunito-sans-bold.woff2
  pr/pr-80/nunito-sans-italic.woff2
  pr/pr-80/nunito-sans-regular.woff2
  pr/pr-80/project.json
  pr/pr-80/sb-addons/links-1/manager-bundle.js
  pr/pr-80/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-80/sb-addons/vitest-2/manager-bundle.js
  pr/pr-80/sb-common-assets/favicon-wrapper.svg
  pr/pr-80/sb-common-assets/favicon.svg
  pr/pr-80/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-80/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-80/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-80/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-80/sb-manager/globals-runtime.js
  pr/pr-80/sb-manager/globals.js
  pr/pr-80/sb-manager/manager-stores.js
  pr/pr-80/sb-manager/runtime.js
  pr/pr-80/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: update storybook demo to use cosmoz-resizable-view
  stories/component.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 80 🛫
  pr/pr-80/assets/component.stories-C936JC0Y.js
  pr/pr-80/assets/haunted-CwpXWIMl.js
  pr/pr-80/assets/haunted-D3RiLG1W.js
  pr/pr-80/assets/iframe-CyOoKo9l.js
  pr/pr-80/assets/render-evWsmsAq.js
  pr/pr-80/assets/render.stories-DreN-msX.js
  pr/pr-80/assets/use-pref.stories-DfqWRPDJ.js
  pr/pr-80/iframe.html
  pr/pr-80/project.json
Due: eslint --fix, prettier --write

feat: migrate to cosmoz-resizable v2 CSS-driven flex model (#80)
  .changeset/css-driven-resizable.md
  package-lock.json
  package.json
  src/queue/index.ts
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
  src/queue/use-queue.ts
  src/queue/use-split.ts
  stories/component.stories.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@e331ef44c4902f4e62d66f72e9ed97f8e1036037 🚀
  assets/component.stories-C936JC0Y.js
  assets/haunted-D3RiLG1W.js
  assets/haunted-I0Oiii6k.js
  assets/iframe-CyOoKo9l.js
  assets/render-Bfy20W2c.js
  assets/render-evWsmsAq.js
  assets/render.stories-DreN-msX.js
  assets/use-pref.stories-CDF8lbSh.js
  assets/use-pref.stories-DfqWRPDJ.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 80 🛬
  pr/pr-80/assets/chunk-BvrOYcoh.js
  pr/pr-80/assets/component.stories-C936JC0Y.js
  pr/pr-80/assets/haunted-D3RiLG1W.js
  pr/pr-80/assets/iframe-CyOoKo9l.js
  pr/pr-80/assets/item-click.stories-CiPdjPb0.js
  pr/pr-80/assets/lit-html-B0z-6tlh.js
  pr/pr-80/assets/preload-helper-CS2xCIPu.js
  pr/pr-80/assets/render-evWsmsAq.js
  pr/pr-80/assets/render.stories-DreN-msX.js
  pr/pr-80/assets/use-pref.stories-DfqWRPDJ.js
  pr/pr-80/favicon-wrapper.svg
  pr/pr-80/favicon.svg
  pr/pr-80/iframe.html
  pr/pr-80/index.html
  pr/pr-80/index.json
  pr/pr-80/nunito-sans-bold-italic.woff2
  pr/pr-80/nunito-sans-bold.woff2
  pr/pr-80/nunito-sans-italic.woff2
  pr/pr-80/nunito-sans-regular.woff2
  pr/pr-80/project.json
  pr/pr-80/sb-addons/links-1/manager-bundle.js
  pr/pr-80/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-80/sb-addons/vitest-2/manager-bundle.js
  pr/pr-80/sb-common-assets/favicon-wrapper.svg
  pr/pr-80/sb-common-assets/favicon.svg
  pr/pr-80/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-80/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-80/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-80/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-80/sb-manager/globals-runtime.js
  pr/pr-80/sb-manager/globals.js
  pr/pr-80/sb-manager/manager-stores.js
  pr/pr-80/sb-manager/runtime.js
  pr/pr-80/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 81 🛬
  pr/pr-81/assets/chunk-BvrOYcoh.js
  pr/pr-81/assets/component.stories-C936JC0Y.js
  pr/pr-81/assets/haunted-D3RiLG1W.js
  pr/pr-81/assets/iframe-CyOoKo9l.js
  pr/pr-81/assets/item-click.stories-CiPdjPb0.js
  pr/pr-81/assets/lit-html-B0z-6tlh.js
  pr/pr-81/assets/preload-helper-CS2xCIPu.js
  pr/pr-81/assets/render-evWsmsAq.js
  pr/pr-81/assets/render.stories-DreN-msX.js
  pr/pr-81/assets/use-pref.stories-DfqWRPDJ.js
  pr/pr-81/favicon-wrapper.svg
  pr/pr-81/favicon.svg
  pr/pr-81/iframe.html
  pr/pr-81/index.html
  pr/pr-81/index.json
  pr/pr-81/nunito-sans-bold-italic.woff2
  pr/pr-81/nunito-sans-bold.woff2
  pr/pr-81/nunito-sans-italic.woff2
  pr/pr-81/nunito-sans-regular.woff2
  pr/pr-81/project.json
  pr/pr-81/sb-addons/links-1/manager-bundle.js
  pr/pr-81/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-81/sb-addons/vitest-2/manager-bundle.js
  pr/pr-81/sb-common-assets/favicon-wrapper.svg
  pr/pr-81/sb-common-assets/favicon.svg
  pr/pr-81/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-81/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-81/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-81/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-81/sb-manager/globals-runtime.js
  pr/pr-81/sb-manager/globals.js
  pr/pr-81/sb-manager/manager-stores.js
  pr/pr-81/sb-manager/runtime.js
  pr/pr-81/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@b0c6fa3facd2456a7c61bb824a4aebadcc07dbc4 🚀
  project.json
Due: prettier --write

fix: restore split prop compatibility via CSS custom properties
  .changeset/split-prop-compat.md
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 82 🛫
  pr/pr-82/assets/chunk-BvrOYcoh.js
  pr/pr-82/assets/component.stories-BhITa2w1.js
  pr/pr-82/assets/haunted-CpopsvhT.js
  pr/pr-82/assets/iframe-uecfwfQN.js
  pr/pr-82/assets/item-click.stories-CiPdjPb0.js
  pr/pr-82/assets/lit-html-B0z-6tlh.js
  pr/pr-82/assets/preload-helper-CS2xCIPu.js
  pr/pr-82/assets/render-BsWlOo0v.js
  pr/pr-82/assets/render.stories-CHrTo7oU.js
  pr/pr-82/assets/use-pref.stories-B3vLK8as.js
  pr/pr-82/favicon-wrapper.svg
  pr/pr-82/favicon.svg
  pr/pr-82/iframe.html
  pr/pr-82/index.html
  pr/pr-82/index.json
  pr/pr-82/nunito-sans-bold-italic.woff2
  pr/pr-82/nunito-sans-bold.woff2
  pr/pr-82/nunito-sans-italic.woff2
  pr/pr-82/nunito-sans-regular.woff2
  pr/pr-82/project.json
  pr/pr-82/sb-addons/links-1/manager-bundle.js
  pr/pr-82/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-82/sb-addons/vitest-2/manager-bundle.js
  pr/pr-82/sb-common-assets/favicon-wrapper.svg
  pr/pr-82/sb-common-assets/favicon.svg
  pr/pr-82/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-82/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-82/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-82/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-82/sb-manager/globals-runtime.js
  pr/pr-82/sb-manager/globals.js
  pr/pr-82/sb-manager/manager-stores.js
  pr/pr-82/sb-manager/runtime.js
  pr/pr-82/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: restore split prop compatibility via CSS custom properties (#82)
  .changeset/split-prop-compat.md
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@9a6e7eb2dfc19ef535d54677df6872fa9f89333e 🚀
  assets/component.stories-BhITa2w1.js
  assets/haunted-CpopsvhT.js
  assets/haunted-D3RiLG1W.js
  assets/iframe-uecfwfQN.js
  assets/render-BsWlOo0v.js
  assets/render.stories-CHrTo7oU.js
  assets/use-pref.stories-B3vLK8as.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 82 🛬
  pr/pr-82/assets/chunk-BvrOYcoh.js
  pr/pr-82/assets/component.stories-BhITa2w1.js
  pr/pr-82/assets/haunted-CpopsvhT.js
  pr/pr-82/assets/iframe-uecfwfQN.js
  pr/pr-82/assets/item-click.stories-CiPdjPb0.js
  pr/pr-82/assets/lit-html-B0z-6tlh.js
  pr/pr-82/assets/preload-helper-CS2xCIPu.js
  pr/pr-82/assets/render-BsWlOo0v.js
  pr/pr-82/assets/render.stories-CHrTo7oU.js
  pr/pr-82/assets/use-pref.stories-B3vLK8as.js
  pr/pr-82/favicon-wrapper.svg
  pr/pr-82/favicon.svg
  pr/pr-82/iframe.html
  pr/pr-82/index.html
  pr/pr-82/index.json
  pr/pr-82/nunito-sans-bold-italic.woff2
  pr/pr-82/nunito-sans-bold.woff2
  pr/pr-82/nunito-sans-italic.woff2
  pr/pr-82/nunito-sans-regular.woff2
  pr/pr-82/project.json
  pr/pr-82/sb-addons/links-1/manager-bundle.js
  pr/pr-82/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-82/sb-addons/vitest-2/manager-bundle.js
  pr/pr-82/sb-common-assets/favicon-wrapper.svg
  pr/pr-82/sb-common-assets/favicon.svg
  pr/pr-82/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-82/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-82/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-82/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-82/sb-manager/globals-runtime.js
  pr/pr-82/sb-manager/globals.js
  pr/pr-82/sb-manager/manager-stores.js
  pr/pr-82/sb-manager/runtime.js
  pr/pr-82/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@2f20d845649836716c85b6f271966b9b09e65c1a 🚀
  project.json
Due: prettier --write

Remove preview for PR 83 🛬
  pr/pr-83/assets/chunk-BvrOYcoh.js
  pr/pr-83/assets/component.stories-BhITa2w1.js
  pr/pr-83/assets/haunted-CpopsvhT.js
  pr/pr-83/assets/iframe-uecfwfQN.js
  pr/pr-83/assets/item-click.stories-CiPdjPb0.js
  pr/pr-83/assets/lit-html-B0z-6tlh.js
  pr/pr-83/assets/preload-helper-CS2xCIPu.js
  pr/pr-83/assets/render-BsWlOo0v.js
  pr/pr-83/assets/render.stories-CHrTo7oU.js
  pr/pr-83/assets/use-pref.stories-B3vLK8as.js
  pr/pr-83/favicon-wrapper.svg
  pr/pr-83/favicon.svg
  pr/pr-83/iframe.html
  pr/pr-83/index.html
  pr/pr-83/index.json
  pr/pr-83/nunito-sans-bold-italic.woff2
  pr/pr-83/nunito-sans-bold.woff2
  pr/pr-83/nunito-sans-italic.woff2
  pr/pr-83/nunito-sans-regular.woff2
  pr/pr-83/project.json
  pr/pr-83/sb-addons/links-1/manager-bundle.js
  pr/pr-83/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-83/sb-addons/vitest-2/manager-bundle.js
  pr/pr-83/sb-common-assets/favicon-wrapper.svg
  pr/pr-83/sb-common-assets/favicon.svg
  pr/pr-83/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-83/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-83/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-83/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-83/sb-manager/globals-runtime.js
  pr/pr-83/sb-manager/globals.js
  pr/pr-83/sb-manager/manager-stores.js
  pr/pr-83/sb-manager/runtime.js
  pr/pr-83/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: release to @3.0.0-beta.8
  .changeset/two-taxis-guess.md
Due: prettier --write

Remove preview for PR 84 🛬
  pr/pr-84/assets/chunk-BvrOYcoh.js
  pr/pr-84/assets/component.stories-BFtbGEOe.js
  pr/pr-84/assets/haunted-DYBeKhTi.js
  pr/pr-84/assets/iframe-CagHpb6E.css
  pr/pr-84/assets/iframe-DoQhPFAC.js
  pr/pr-84/assets/item-click.stories-C9Tppzx7.js
  pr/pr-84/assets/lit-html-BZ3vufxv.js
  pr/pr-84/assets/preload-helper-CS2xCIPu.js
  pr/pr-84/assets/render-TRr2T0mb.js
  pr/pr-84/assets/render.stories-xxzTgg4U.js
  pr/pr-84/assets/use-pref.stories-BgMBVUYq.js
  pr/pr-84/favicon-wrapper.svg
  pr/pr-84/favicon.svg
  pr/pr-84/iframe.html
  pr/pr-84/index.html
  pr/pr-84/index.json
  pr/pr-84/nunito-sans-bold-italic.woff2
  pr/pr-84/nunito-sans-bold.woff2
  pr/pr-84/nunito-sans-italic.woff2
  pr/pr-84/nunito-sans-regular.woff2
  pr/pr-84/project.json
  pr/pr-84/sb-addons/links-1/manager-bundle.js
  pr/pr-84/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-84/sb-addons/vitest-2/manager-bundle.js
  pr/pr-84/sb-common-assets/favicon-wrapper.svg
  pr/pr-84/sb-common-assets/favicon.svg
  pr/pr-84/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-84/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-84/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-84/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-84/sb-manager/globals-runtime.js
  pr/pr-84/sb-manager/globals.js
  pr/pr-84/sb-manager/manager-stores.js
  pr/pr-84/sb-manager/runtime.js
  pr/pr-84/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: map split prop to cosmoz-resizable-view attributes
  .changeset/split-prop-compat.md
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 85 🛫
  pr/pr-85/assets/chunk-BvrOYcoh.js
  pr/pr-85/assets/component.stories-P87v8VPe.js
  pr/pr-85/assets/haunted-ZBn_t-7a.js
  pr/pr-85/assets/iframe-CBOhbx73.js
  pr/pr-85/assets/item-click.stories-CiPdjPb0.js
  pr/pr-85/assets/lit-html-B0z-6tlh.js
  pr/pr-85/assets/preload-helper-CS2xCIPu.js
  pr/pr-85/assets/render-Dq9ubPIk.js
  pr/pr-85/assets/render.stories-7aQmul2J.js
  pr/pr-85/assets/use-pref.stories-C08NUwGO.js
  pr/pr-85/favicon-wrapper.svg
  pr/pr-85/favicon.svg
  pr/pr-85/iframe.html
  pr/pr-85/index.html
  pr/pr-85/index.json
  pr/pr-85/nunito-sans-bold-italic.woff2
  pr/pr-85/nunito-sans-bold.woff2
  pr/pr-85/nunito-sans-italic.woff2
  pr/pr-85/nunito-sans-regular.woff2
  pr/pr-85/project.json
  pr/pr-85/sb-addons/links-1/manager-bundle.js
  pr/pr-85/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-85/sb-addons/vitest-2/manager-bundle.js
  pr/pr-85/sb-common-assets/favicon-wrapper.svg
  pr/pr-85/sb-common-assets/favicon.svg
  pr/pr-85/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-85/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-85/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-85/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-85/sb-manager/globals-runtime.js
  pr/pr-85/sb-manager/globals.js
  pr/pr-85/sb-manager/manager-stores.js
  pr/pr-85/sb-manager/runtime.js
  pr/pr-85/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: map split prop to cosmoz-resizable-view attributes (#85)
  .changeset/split-prop-compat.md
  src/queue/queue.ts
  src/queue/render.ts
  src/queue/style.ts
Due: eslint --fix, prettier --write

Remove preview for PR 85 🛬
  pr/pr-85/assets/chunk-BvrOYcoh.js
  pr/pr-85/assets/component.stories-P87v8VPe.js
  pr/pr-85/assets/haunted-ZBn_t-7a.js
  pr/pr-85/assets/iframe-CBOhbx73.js
  pr/pr-85/assets/item-click.stories-CiPdjPb0.js
  pr/pr-85/assets/lit-html-B0z-6tlh.js
  pr/pr-85/assets/preload-helper-CS2xCIPu.js
  pr/pr-85/assets/render-Dq9ubPIk.js
  pr/pr-85/assets/render.stories-7aQmul2J.js
  pr/pr-85/assets/use-pref.stories-C08NUwGO.js
  pr/pr-85/favicon-wrapper.svg
  pr/pr-85/favicon.svg
  pr/pr-85/iframe.html
  pr/pr-85/index.html
  pr/pr-85/index.json
  pr/pr-85/nunito-sans-bold-italic.woff2
  pr/pr-85/nunito-sans-bold.woff2
  pr/pr-85/nunito-sans-italic.woff2
  pr/pr-85/nunito-sans-regular.woff2
  pr/pr-85/project.json
  pr/pr-85/sb-addons/links-1/manager-bundle.js
  pr/pr-85/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-85/sb-addons/vitest-2/manager-bundle.js
  pr/pr-85/sb-common-assets/favicon-wrapper.svg
  pr/pr-85/sb-common-assets/favicon.svg
  pr/pr-85/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-85/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-85/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-85/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-85/sb-manager/globals-runtime.js
  pr/pr-85/sb-manager/globals.js
  pr/pr-85/sb-manager/manager-stores.js
  pr/pr-85/sb-manager/runtime.js
  pr/pr-85/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@7b1099693c7a3924a3af3401cdff02bcba8ab738 🚀
  assets/component.stories-P87v8VPe.js
  assets/haunted-CpopsvhT.js
  assets/haunted-ZBn_t-7a.js
  assets/iframe-CBOhbx73.js
  assets/render-Dq9ubPIk.js
  assets/render.stories-7aQmul2J.js
  assets/use-pref.stories-C08NUwGO.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 86 🛬
  pr/pr-86/assets/chunk-BvrOYcoh.js
  pr/pr-86/assets/component.stories-P87v8VPe.js
  pr/pr-86/assets/haunted-ZBn_t-7a.js
  pr/pr-86/assets/iframe-CBOhbx73.js
  pr/pr-86/assets/item-click.stories-CiPdjPb0.js
  pr/pr-86/assets/lit-html-B0z-6tlh.js
  pr/pr-86/assets/preload-helper-CS2xCIPu.js
  pr/pr-86/assets/render-Dq9ubPIk.js
  pr/pr-86/assets/render.stories-7aQmul2J.js
  pr/pr-86/assets/use-pref.stories-C08NUwGO.js
  pr/pr-86/favicon-wrapper.svg
  pr/pr-86/favicon.svg
  pr/pr-86/iframe.html
  pr/pr-86/index.html
  pr/pr-86/index.json
  pr/pr-86/nunito-sans-bold-italic.woff2
  pr/pr-86/nunito-sans-bold.woff2
  pr/pr-86/nunito-sans-italic.woff2
  pr/pr-86/nunito-sans-regular.woff2
  pr/pr-86/project.json
  pr/pr-86/sb-addons/links-1/manager-bundle.js
  pr/pr-86/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-86/sb-addons/vitest-2/manager-bundle.js
  pr/pr-86/sb-common-assets/favicon-wrapper.svg
  pr/pr-86/sb-common-assets/favicon.svg
  pr/pr-86/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-86/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-86/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-86/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-86/sb-manager/globals-runtime.js
  pr/pr-86/sb-manager/globals.js
  pr/pr-86/sb-manager/manager-stores.js
  pr/pr-86/sb-manager/runtime.js
  pr/pr-86/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@967d41dbbc71aa592e3e5a3af884560f70f9a1f3 🚀
  project.json
Due: prettier --write

fix: guard against unmounted component in overlaps() (#FE-959)
  src/queue/use-key-nav.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 87 🛫
  pr/pr-87/assets/chunk-BvrOYcoh.js
  pr/pr-87/assets/component.stories-P87v8VPe.js
  pr/pr-87/assets/haunted-ZBn_t-7a.js
  pr/pr-87/assets/iframe-CBOhbx73.js
  pr/pr-87/assets/item-click.stories-CiPdjPb0.js
  pr/pr-87/assets/lit-html-B0z-6tlh.js
  pr/pr-87/assets/preload-helper-CS2xCIPu.js
  pr/pr-87/assets/render-Dq9ubPIk.js
  pr/pr-87/assets/render.stories-7aQmul2J.js
  pr/pr-87/assets/use-pref.stories-C08NUwGO.js
  pr/pr-87/favicon-wrapper.svg
  pr/pr-87/favicon.svg
  pr/pr-87/iframe.html
  pr/pr-87/index.html
  pr/pr-87/index.json
  pr/pr-87/nunito-sans-bold-italic.woff2
  pr/pr-87/nunito-sans-bold.woff2
  pr/pr-87/nunito-sans-italic.woff2
  pr/pr-87/nunito-sans-regular.woff2
  pr/pr-87/project.json
  pr/pr-87/sb-addons/links-1/manager-bundle.js
  pr/pr-87/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-87/sb-addons/vitest-2/manager-bundle.js
  pr/pr-87/sb-common-assets/favicon-wrapper.svg
  pr/pr-87/sb-common-assets/favicon.svg
  pr/pr-87/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-87/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-87/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-87/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-87/sb-manager/globals-runtime.js
  pr/pr-87/sb-manager/globals.js
  pr/pr-87/sb-manager/manager-stores.js
  pr/pr-87/sb-manager/runtime.js
  pr/pr-87/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: add changeset for overlaps() null guard fix (FE-959)
  .changeset/fix-overlaps-null-guard.md
Due: prettier --write

Deploy preview for PR 87 🛫
  pr/pr-87/project.json
Due: prettier --write

fix: guard against unmounted component in overlaps() (FE-959) (#87)
  .changeset/fix-overlaps-null-guard.md
  src/queue/use-key-nav.ts
Due: eslint --fix, prettier --write

Remove preview for PR 87 🛬
  pr/pr-87/assets/chunk-BvrOYcoh.js
  pr/pr-87/assets/component.stories-P87v8VPe.js
  pr/pr-87/assets/haunted-ZBn_t-7a.js
  pr/pr-87/assets/iframe-CBOhbx73.js
  pr/pr-87/assets/item-click.stories-CiPdjPb0.js
  pr/pr-87/assets/lit-html-B0z-6tlh.js
  pr/pr-87/assets/preload-helper-CS2xCIPu.js
  pr/pr-87/assets/render-Dq9ubPIk.js
  pr/pr-87/assets/render.stories-7aQmul2J.js
  pr/pr-87/assets/use-pref.stories-C08NUwGO.js
  pr/pr-87/favicon-wrapper.svg
  pr/pr-87/favicon.svg
  pr/pr-87/iframe.html
  pr/pr-87/index.html
  pr/pr-87/index.json
  pr/pr-87/nunito-sans-bold-italic.woff2
  pr/pr-87/nunito-sans-bold.woff2
  pr/pr-87/nunito-sans-italic.woff2
  pr/pr-87/nunito-sans-regular.woff2
  pr/pr-87/project.json
  pr/pr-87/sb-addons/links-1/manager-bundle.js
  pr/pr-87/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-87/sb-addons/vitest-2/manager-bundle.js
  pr/pr-87/sb-common-assets/favicon-wrapper.svg
  pr/pr-87/sb-common-assets/favicon.svg
  pr/pr-87/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-87/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-87/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-87/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-87/sb-manager/globals-runtime.js
  pr/pr-87/sb-manager/globals.js
  pr/pr-87/sb-manager/manager-stores.js
  pr/pr-87/sb-manager/runtime.js
  pr/pr-87/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@929e5dd2490487a6480ed466c3f50fc4e546c12f 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0a499214a0b75265ca3c8fdb3dce83161a583fa9 🚀
  project.json
Due: prettier --write

Remove preview for PR 88 🛬
  pr/pr-88/assets/chunk-BvrOYcoh.js
  pr/pr-88/assets/component.stories-P87v8VPe.js
  pr/pr-88/assets/haunted-ZBn_t-7a.js
  pr/pr-88/assets/iframe-CBOhbx73.js
  pr/pr-88/assets/item-click.stories-CiPdjPb0.js
  pr/pr-88/assets/lit-html-B0z-6tlh.js
  pr/pr-88/assets/preload-helper-CS2xCIPu.js
  pr/pr-88/assets/render-Dq9ubPIk.js
  pr/pr-88/assets/render.stories-7aQmul2J.js
  pr/pr-88/assets/use-pref.stories-C08NUwGO.js
  pr/pr-88/favicon-wrapper.svg
  pr/pr-88/favicon.svg
  pr/pr-88/iframe.html
  pr/pr-88/index.html
  pr/pr-88/index.json
  pr/pr-88/nunito-sans-bold-italic.woff2
  pr/pr-88/nunito-sans-bold.woff2
  pr/pr-88/nunito-sans-italic.woff2
  pr/pr-88/nunito-sans-regular.woff2
  pr/pr-88/project.json
  pr/pr-88/sb-addons/links-1/manager-bundle.js
  pr/pr-88/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-88/sb-addons/vitest-2/manager-bundle.js
  pr/pr-88/sb-common-assets/favicon-wrapper.svg
  pr/pr-88/sb-common-assets/favicon.svg
  pr/pr-88/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-88/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-88/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-88/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-88/sb-manager/globals-runtime.js
  pr/pr-88/sb-manager/globals.js
  pr/pr-88/sb-manager/manager-stores.js
  pr/pr-88/sb-manager/runtime.js
  pr/pr-88/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list/more): add AbortSignal support to useMore (FE-438)
  .changeset/fe-438-abort-signal.md
  package-lock.json
  src/list/more/use-more.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 89 🛫
  pr/pr-89/assets/chunk-BvrOYcoh.js
  pr/pr-89/assets/component.stories-P87v8VPe.js
  pr/pr-89/assets/haunted-ZBn_t-7a.js
  pr/pr-89/assets/iframe-CBOhbx73.js
  pr/pr-89/assets/item-click.stories-CiPdjPb0.js
  pr/pr-89/assets/lit-html-B0z-6tlh.js
  pr/pr-89/assets/preload-helper-CS2xCIPu.js
  pr/pr-89/assets/render-Dq9ubPIk.js
  pr/pr-89/assets/render.stories-7aQmul2J.js
  pr/pr-89/assets/use-pref.stories-C08NUwGO.js
  pr/pr-89/favicon-wrapper.svg
  pr/pr-89/favicon.svg
  pr/pr-89/iframe.html
  pr/pr-89/index.html
  pr/pr-89/index.json
  pr/pr-89/nunito-sans-bold-italic.woff2
  pr/pr-89/nunito-sans-bold.woff2
  pr/pr-89/nunito-sans-italic.woff2
  pr/pr-89/nunito-sans-regular.woff2
  pr/pr-89/project.json
  pr/pr-89/sb-addons/links-1/manager-bundle.js
  pr/pr-89/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-89/sb-addons/vitest-2/manager-bundle.js
  pr/pr-89/sb-common-assets/favicon-wrapper.svg
  pr/pr-89/sb-common-assets/favicon.svg
  pr/pr-89/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-89/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-89/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-89/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-89/sb-manager/globals-runtime.js
  pr/pr-89/sb-manager/globals.js
  pr/pr-89/sb-manager/manager-stores.js
  pr/pr-89/sb-manager/runtime.js
  pr/pr-89/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list/more): add AbortSignal support to useMore (FE-438) (#89)
  .changeset/fe-438-abort-signal.md
  package-lock.json
  src/list/more/use-more.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Remove preview for PR 89 🛬
  pr/pr-89/assets/chunk-BvrOYcoh.js
  pr/pr-89/assets/component.stories-P87v8VPe.js
  pr/pr-89/assets/haunted-ZBn_t-7a.js
  pr/pr-89/assets/iframe-CBOhbx73.js
  pr/pr-89/assets/item-click.stories-CiPdjPb0.js
  pr/pr-89/assets/lit-html-B0z-6tlh.js
  pr/pr-89/assets/preload-helper-CS2xCIPu.js
  pr/pr-89/assets/render-Dq9ubPIk.js
  pr/pr-89/assets/render.stories-7aQmul2J.js
  pr/pr-89/assets/use-pref.stories-C08NUwGO.js
  pr/pr-89/favicon-wrapper.svg
  pr/pr-89/favicon.svg
  pr/pr-89/iframe.html
  pr/pr-89/index.html
  pr/pr-89/index.json
  pr/pr-89/nunito-sans-bold-italic.woff2
  pr/pr-89/nunito-sans-bold.woff2
  pr/pr-89/nunito-sans-italic.woff2
  pr/pr-89/nunito-sans-regular.woff2
  pr/pr-89/project.json
  pr/pr-89/sb-addons/links-1/manager-bundle.js
  pr/pr-89/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-89/sb-addons/vitest-2/manager-bundle.js
  pr/pr-89/sb-common-assets/favicon-wrapper.svg
  pr/pr-89/sb-common-assets/favicon.svg
  pr/pr-89/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-89/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-89/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-89/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-89/sb-manager/globals-runtime.js
  pr/pr-89/sb-manager/globals.js
  pr/pr-89/sb-manager/manager-stores.js
  pr/pr-89/sb-manager/runtime.js
  pr/pr-89/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@41e71f2db2c870e54b36c76bce345e26ce21ad11 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@7f03ba1e318a5b80a259fecb96c4b03a2cad0180 🚀
  project.json
Due: prettier --write

Remove preview for PR 90 🛬
  pr/pr-90/assets/chunk-BvrOYcoh.js
  pr/pr-90/assets/component.stories-P87v8VPe.js
  pr/pr-90/assets/haunted-ZBn_t-7a.js
  pr/pr-90/assets/iframe-CBOhbx73.js
  pr/pr-90/assets/item-click.stories-CiPdjPb0.js
  pr/pr-90/assets/lit-html-B0z-6tlh.js
  pr/pr-90/assets/preload-helper-CS2xCIPu.js
  pr/pr-90/assets/render-Dq9ubPIk.js
  pr/pr-90/assets/render.stories-7aQmul2J.js
  pr/pr-90/assets/use-pref.stories-C08NUwGO.js
  pr/pr-90/favicon-wrapper.svg
  pr/pr-90/favicon.svg
  pr/pr-90/iframe.html
  pr/pr-90/index.html
  pr/pr-90/index.json
  pr/pr-90/nunito-sans-bold-italic.woff2
  pr/pr-90/nunito-sans-bold.woff2
  pr/pr-90/nunito-sans-italic.woff2
  pr/pr-90/nunito-sans-regular.woff2
  pr/pr-90/project.json
  pr/pr-90/sb-addons/links-1/manager-bundle.js
  pr/pr-90/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-90/sb-addons/vitest-2/manager-bundle.js
  pr/pr-90/sb-common-assets/favicon-wrapper.svg
  pr/pr-90/sb-common-assets/favicon.svg
  pr/pr-90/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-90/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-90/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-90/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-90/sb-manager/globals-runtime.js
  pr/pr-90/sb-manager/globals.js
  pr/pr-90/sb-manager/manager-stores.js
  pr/pr-90/sb-manager/runtime.js
  pr/pr-90/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write
