Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"],
  "package-lock.json": ["check-duplicate-components"]
}

Deploy preview for PR 46 🛫
  pr/pr-46/assets/chunk-BvrOYcoh.js
  pr/pr-46/assets/component.stories-We2tK5Qg.js
  pr/pr-46/assets/haunted-CE9ZoaqT.js
  pr/pr-46/assets/iframe-DMLwe7_2.js
  pr/pr-46/assets/item-click.stories-CiPdjPb0.js
  pr/pr-46/assets/lit-html-B0z-6tlh.js
  pr/pr-46/assets/preload-helper-CS2xCIPu.js
  pr/pr-46/assets/render-DoKBs5-8.js
  pr/pr-46/assets/render.stories-CAyoZbzo.js
  pr/pr-46/assets/use-pref.stories-AE8Cdb5a.js
  pr/pr-46/favicon-wrapper.svg
  pr/pr-46/favicon.svg
  pr/pr-46/iframe.html
  pr/pr-46/index.html
  pr/pr-46/index.json
  pr/pr-46/nunito-sans-bold-italic.woff2
  pr/pr-46/nunito-sans-bold.woff2
  pr/pr-46/nunito-sans-italic.woff2
  pr/pr-46/nunito-sans-regular.woff2
  pr/pr-46/project.json
  pr/pr-46/sb-addons/links-1/manager-bundle.js
  pr/pr-46/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-46/sb-addons/vitest-2/manager-bundle.js
  pr/pr-46/sb-common-assets/favicon-wrapper.svg
  pr/pr-46/sb-common-assets/favicon.svg
  pr/pr-46/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-46/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-46/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-46/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-46/sb-manager/globals-runtime.js
  pr/pr-46/sb-manager/globals.js
  pr/pr-46/sb-manager/manager-stores.js
  pr/pr-46/sb-manager/runtime.js
  pr/pr-46/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

refactor: use keyof TParams cast instead of Record<string, unknown>
  src/list/use-list-core.test.ts
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 46 🛫
  pr/pr-46/project.json
Due: prettier --write

chore: remove trivial use-list-core test
  src/list/use-list-core.test.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 46 🛫
  pr/pr-46/assets/component.stories-CUINw8yT.js
  pr/pr-46/assets/haunted-B6Vrkcpn.js
  pr/pr-46/assets/haunted-CE9ZoaqT.js
  pr/pr-46/assets/iframe-hAQfsyk-.js
  pr/pr-46/assets/render-DoKBs5-8.js
  pr/pr-46/assets/render-DsiVwM8q.js
  pr/pr-46/assets/render.stories-CiaxTomF.js
  pr/pr-46/assets/use-pref.stories-2DxruPOF.js
  pr/pr-46/iframe.html
  pr/pr-46/project.json
Due: eslint --fix, prettier --write

chore: upgrade playwright to ^1.60.0, deduplicate i18next
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 46 🛫
  pr/pr-46/assets/chunk-BvrOYcoh.js
  pr/pr-46/assets/component.stories-wSzNUSAS.js
  pr/pr-46/assets/haunted-B6Vrkcpn.js
  pr/pr-46/assets/haunted-Ca3jwJCr.js
  pr/pr-46/assets/iframe-CD8xr6vf.js
  pr/pr-46/assets/iframe-hAQfsyk-.js
  pr/pr-46/assets/item-click.stories-B8n9FEqc.js
  pr/pr-46/assets/lit-html-B0z-6tlh.js
  pr/pr-46/assets/preload-helper-CS2xCIPu.js
  pr/pr-46/assets/preload-helper-Dcl5TOAQ.js
  pr/pr-46/assets/render-DsiVwM8q.js
  pr/pr-46/assets/render-GoE5wUR6.js
  pr/pr-46/assets/render.stories-DO1K629a.js
  pr/pr-46/assets/use-pref.stories-2DxruPOF.js
  pr/pr-46/assets/use-pref.stories-BKe8GIRz.js
  pr/pr-46/iframe.html
  pr/pr-46/index.html
  pr/pr-46/project.json
  pr/pr-46/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-46/sb-addons/vitest-2/manager-bundle.js
  pr/pr-46/sb-manager/globals-runtime.js
  pr/pr-46/sb-manager/runtime.js
  pr/pr-46/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(list): clear stale keys from paramsMeta (#46)
  package-lock.json
  package.json
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@f1ad58badc0333293ad76aa1341dbc40b4217a69 🚀
  assets/chunk-BvrOYcoh.js
  assets/component.stories-wSzNUSAS.js
  assets/haunted-CE9ZoaqT.js
  assets/haunted-Ca3jwJCr.js
  assets/iframe-CD8xr6vf.js
  assets/iframe-DMLwe7_2.js
  assets/item-click.stories-B8n9FEqc.js
  assets/lit-html-B0z-6tlh.js
  assets/preload-helper-CS2xCIPu.js
  assets/preload-helper-Dcl5TOAQ.js
  assets/render-DoKBs5-8.js
  assets/render-GoE5wUR6.js
  assets/render.stories-DO1K629a.js
  assets/use-pref.stories-AE8Cdb5a.js
  assets/use-pref.stories-BKe8GIRz.js
  iframe.html
  index.html
  project.json
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  sb-addons/vitest-2/manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 46 🛬
  pr/pr-46/assets/component.stories-wSzNUSAS.js
  pr/pr-46/assets/haunted-Ca3jwJCr.js
  pr/pr-46/assets/iframe-CD8xr6vf.js
  pr/pr-46/assets/item-click.stories-B8n9FEqc.js
  pr/pr-46/assets/preload-helper-Dcl5TOAQ.js
  pr/pr-46/assets/render-GoE5wUR6.js
  pr/pr-46/assets/render.stories-DO1K629a.js
  pr/pr-46/assets/use-pref.stories-BKe8GIRz.js
  pr/pr-46/favicon-wrapper.svg
  pr/pr-46/favicon.svg
  pr/pr-46/iframe.html
  pr/pr-46/index.html
  pr/pr-46/index.json
  pr/pr-46/nunito-sans-bold-italic.woff2
  pr/pr-46/nunito-sans-bold.woff2
  pr/pr-46/nunito-sans-italic.woff2
  pr/pr-46/nunito-sans-regular.woff2
  pr/pr-46/project.json
  pr/pr-46/sb-addons/links-1/manager-bundle.js
  pr/pr-46/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-46/sb-addons/vitest-2/manager-bundle.js
  pr/pr-46/sb-common-assets/favicon-wrapper.svg
  pr/pr-46/sb-common-assets/favicon.svg
  pr/pr-46/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-46/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-46/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-46/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-46/sb-manager/globals-runtime.js
  pr/pr-46/sb-manager/globals.js
  pr/pr-46/sb-manager/manager-stores.js
  pr/pr-46/sb-manager/runtime.js
  pr/pr-46/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: add changeset for paramsMeta stale key fix
  .changeset/paramsmeta-stale-key-fix.md
Due: prettier --write

Deploy preview for PR 47 🛫
  pr/pr-47/assets/component.stories-wSzNUSAS.js
  pr/pr-47/assets/haunted-Ca3jwJCr.js
  pr/pr-47/assets/iframe-CD8xr6vf.js
  pr/pr-47/assets/item-click.stories-B8n9FEqc.js
  pr/pr-47/assets/preload-helper-Dcl5TOAQ.js
  pr/pr-47/assets/render-GoE5wUR6.js
  pr/pr-47/assets/render.stories-DO1K629a.js
  pr/pr-47/assets/use-pref.stories-BKe8GIRz.js
  pr/pr-47/favicon-wrapper.svg
  pr/pr-47/favicon.svg
  pr/pr-47/iframe.html
  pr/pr-47/index.html
  pr/pr-47/index.json
  pr/pr-47/nunito-sans-bold-italic.woff2
  pr/pr-47/nunito-sans-bold.woff2
  pr/pr-47/nunito-sans-italic.woff2
  pr/pr-47/nunito-sans-regular.woff2
  pr/pr-47/project.json
  pr/pr-47/sb-addons/links-1/manager-bundle.js
  pr/pr-47/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-47/sb-addons/vitest-2/manager-bundle.js
  pr/pr-47/sb-common-assets/favicon-wrapper.svg
  pr/pr-47/sb-common-assets/favicon.svg
  pr/pr-47/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-47/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-47/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-47/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-47/sb-manager/globals-runtime.js
  pr/pr-47/sb-manager/globals.js
  pr/pr-47/sb-manager/manager-stores.js
  pr/pr-47/sb-manager/runtime.js
  pr/pr-47/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 47 🛫
  pr/pr-47/project.json
Due: prettier --write

chore: add changeset for paramsMeta stale key fix (#47)
  .changeset/paramsmeta-stale-key-fix.md
Due: prettier --write

Remove preview for PR 47 🛬
  pr/pr-47/assets/component.stories-wSzNUSAS.js
  pr/pr-47/assets/haunted-Ca3jwJCr.js
  pr/pr-47/assets/iframe-CD8xr6vf.js
  pr/pr-47/assets/item-click.stories-B8n9FEqc.js
  pr/pr-47/assets/preload-helper-Dcl5TOAQ.js
  pr/pr-47/assets/render-GoE5wUR6.js
  pr/pr-47/assets/render.stories-DO1K629a.js
  pr/pr-47/assets/use-pref.stories-BKe8GIRz.js
  pr/pr-47/favicon-wrapper.svg
  pr/pr-47/favicon.svg
  pr/pr-47/iframe.html
  pr/pr-47/index.html
  pr/pr-47/index.json
  pr/pr-47/nunito-sans-bold-italic.woff2
  pr/pr-47/nunito-sans-bold.woff2
  pr/pr-47/nunito-sans-italic.woff2
  pr/pr-47/nunito-sans-regular.woff2
  pr/pr-47/project.json
  pr/pr-47/sb-addons/links-1/manager-bundle.js
  pr/pr-47/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-47/sb-addons/vitest-2/manager-bundle.js
  pr/pr-47/sb-common-assets/favicon-wrapper.svg
  pr/pr-47/sb-common-assets/favicon.svg
  pr/pr-47/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-47/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-47/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-47/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-47/sb-manager/globals-runtime.js
  pr/pr-47/sb-manager/globals.js
  pr/pr-47/sb-manager/manager-stores.js
  pr/pr-47/sb-manager/runtime.js
  pr/pr-47/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@2f4ef25d23263c164ef12aac9525148b27f5a667 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@c63cc894f611f0a26021b75e978bda7213e73920 🚀
  project.json
Due: prettier --write

chore: require cosmoz-form ^3.2.0 for useFormDialogable$
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 49 🛫
  pr/pr-49/assets/chunk-BvrOYcoh.js
  pr/pr-49/assets/component.stories-DhD-6ZYQ.js
  pr/pr-49/assets/haunted-I0Oiii6k.js
  pr/pr-49/assets/iframe-DUrQYmMs.js
  pr/pr-49/assets/item-click.stories-CiPdjPb0.js
  pr/pr-49/assets/lit-html-B0z-6tlh.js
  pr/pr-49/assets/preload-helper-CS2xCIPu.js
  pr/pr-49/assets/render-Bfy20W2c.js
  pr/pr-49/assets/render.stories-d-TnUf08.js
  pr/pr-49/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-49/favicon-wrapper.svg
  pr/pr-49/favicon.svg
  pr/pr-49/iframe.html
  pr/pr-49/index.html
  pr/pr-49/index.json
  pr/pr-49/nunito-sans-bold-italic.woff2
  pr/pr-49/nunito-sans-bold.woff2
  pr/pr-49/nunito-sans-italic.woff2
  pr/pr-49/nunito-sans-regular.woff2
  pr/pr-49/project.json
  pr/pr-49/sb-addons/links-1/manager-bundle.js
  pr/pr-49/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-49/sb-addons/vitest-2/manager-bundle.js
  pr/pr-49/sb-common-assets/favicon-wrapper.svg
  pr/pr-49/sb-common-assets/favicon.svg
  pr/pr-49/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-49/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-49/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-49/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-49/sb-manager/globals-runtime.js
  pr/pr-49/sb-manager/globals.js
  pr/pr-49/sb-manager/manager-stores.js
  pr/pr-49/sb-manager/runtime.js
  pr/pr-49/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 49 🛬
  pr/pr-49/assets/chunk-BvrOYcoh.js
  pr/pr-49/assets/component.stories-DhD-6ZYQ.js
  pr/pr-49/assets/haunted-I0Oiii6k.js
  pr/pr-49/assets/iframe-DUrQYmMs.js
  pr/pr-49/assets/item-click.stories-CiPdjPb0.js
  pr/pr-49/assets/lit-html-B0z-6tlh.js
  pr/pr-49/assets/preload-helper-CS2xCIPu.js
  pr/pr-49/assets/render-Bfy20W2c.js
  pr/pr-49/assets/render.stories-d-TnUf08.js
  pr/pr-49/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-49/favicon-wrapper.svg
  pr/pr-49/favicon.svg
  pr/pr-49/iframe.html
  pr/pr-49/index.html
  pr/pr-49/index.json
  pr/pr-49/nunito-sans-bold-italic.woff2
  pr/pr-49/nunito-sans-bold.woff2
  pr/pr-49/nunito-sans-italic.woff2
  pr/pr-49/nunito-sans-regular.woff2
  pr/pr-49/project.json
  pr/pr-49/sb-addons/links-1/manager-bundle.js
  pr/pr-49/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-49/sb-addons/vitest-2/manager-bundle.js
  pr/pr-49/sb-common-assets/favicon-wrapper.svg
  pr/pr-49/sb-common-assets/favicon.svg
  pr/pr-49/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-49/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-49/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-49/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-49/sb-manager/globals-runtime.js
  pr/pr-49/sb-manager/globals.js
  pr/pr-49/sb-manager/manager-stores.js
  pr/pr-49/sb-manager/runtime.js
  pr/pr-49/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@555dc1758b34f0933fece84dddaf9ac1c1c9227e 🚀
  assets/chunk-BvrOYcoh.js
  assets/component.stories-DhD-6ZYQ.js
  assets/haunted-Ca3jwJCr.js
  assets/haunted-I0Oiii6k.js
  assets/iframe-CD8xr6vf.js
  assets/iframe-DUrQYmMs.js
  assets/item-click.stories-CiPdjPb0.js
  assets/lit-html-B0z-6tlh.js
  assets/preload-helper-CS2xCIPu.js
  assets/preload-helper-Dcl5TOAQ.js
  assets/render-Bfy20W2c.js
  assets/render-GoE5wUR6.js
  assets/render.stories-d-TnUf08.js
  assets/use-pref.stories-BKe8GIRz.js
  assets/use-pref.stories-CDF8lbSh.js
  iframe.html
  index.html
  project.json
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  sb-addons/vitest-2/manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 50 🛫
  pr/pr-50/assets/chunk-BvrOYcoh.js
  pr/pr-50/assets/component.stories-DhD-6ZYQ.js
  pr/pr-50/assets/haunted-I0Oiii6k.js
  pr/pr-50/assets/iframe-DUrQYmMs.js
  pr/pr-50/assets/item-click.stories-CiPdjPb0.js
  pr/pr-50/assets/lit-html-B0z-6tlh.js
  pr/pr-50/assets/preload-helper-CS2xCIPu.js
  pr/pr-50/assets/render-Bfy20W2c.js
  pr/pr-50/assets/render.stories-d-TnUf08.js
  pr/pr-50/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-50/favicon-wrapper.svg
  pr/pr-50/favicon.svg
  pr/pr-50/iframe.html
  pr/pr-50/index.html
  pr/pr-50/index.json
  pr/pr-50/nunito-sans-bold-italic.woff2
  pr/pr-50/nunito-sans-bold.woff2
  pr/pr-50/nunito-sans-italic.woff2
  pr/pr-50/nunito-sans-regular.woff2
  pr/pr-50/project.json
  pr/pr-50/sb-addons/links-1/manager-bundle.js
  pr/pr-50/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-50/sb-addons/vitest-2/manager-bundle.js
  pr/pr-50/sb-common-assets/favicon-wrapper.svg
  pr/pr-50/sb-common-assets/favicon.svg
  pr/pr-50/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-50/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-50/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-50/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-50/sb-manager/globals-runtime.js
  pr/pr-50/sb-manager/globals.js
  pr/pr-50/sb-manager/manager-stores.js
  pr/pr-50/sb-manager/runtime.js
  pr/pr-50/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@ce43a256b230d36fc41bc9dc57b7db1ff47c067e 🚀
  project.json
Due: prettier --write

Remove preview for PR 50 🛬
  pr/pr-50/assets/chunk-BvrOYcoh.js
  pr/pr-50/assets/component.stories-DhD-6ZYQ.js
  pr/pr-50/assets/haunted-I0Oiii6k.js
  pr/pr-50/assets/iframe-DUrQYmMs.js
  pr/pr-50/assets/item-click.stories-CiPdjPb0.js
  pr/pr-50/assets/lit-html-B0z-6tlh.js
  pr/pr-50/assets/preload-helper-CS2xCIPu.js
  pr/pr-50/assets/render-Bfy20W2c.js
  pr/pr-50/assets/render.stories-d-TnUf08.js
  pr/pr-50/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-50/favicon-wrapper.svg
  pr/pr-50/favicon.svg
  pr/pr-50/iframe.html
  pr/pr-50/index.html
  pr/pr-50/index.json
  pr/pr-50/nunito-sans-bold-italic.woff2
  pr/pr-50/nunito-sans-bold.woff2
  pr/pr-50/nunito-sans-italic.woff2
  pr/pr-50/nunito-sans-regular.woff2
  pr/pr-50/project.json
  pr/pr-50/sb-addons/links-1/manager-bundle.js
  pr/pr-50/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-50/sb-addons/vitest-2/manager-bundle.js
  pr/pr-50/sb-common-assets/favicon-wrapper.svg
  pr/pr-50/sb-common-assets/favicon.svg
  pr/pr-50/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-50/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-50/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-50/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-50/sb-manager/globals-runtime.js
  pr/pr-50/sb-manager/globals.js
  pr/pr-50/sb-manager/manager-stores.js
  pr/pr-50/sb-manager/runtime.js
  pr/pr-50/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@699c127fc1827df3f9fd15cfa837290dd0e2f5fb 🚀
  project.json
Due: prettier --write

feat(actions): make ActionOpts.open generic over SyncOpenFn | AsyncOpenFn
  src/actions/index.ts
Due: eslint --fix, prettier --write

chore: version 2.9.0
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@508d695ca58792c7f0da6e2a8211a6f0417e2253 🚀
  project.json
Due: prettier --write

chore: version 2.9.1-beta.0
  package.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@f421fe97747054a893397879274b1c089626a9bd 🚀
  project.json
Due: prettier --write

chore: version 2.9.1-beta.1
  package.json
  src/actions/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@da47aac293c22fa5594593061103f9324531bdac 🚀
  project.json
Due: prettier --write

Deploy preview for PR 52 🛫
  pr/pr-52/assets/chunk-BvrOYcoh.js
  pr/pr-52/assets/component.stories-DhD-6ZYQ.js
  pr/pr-52/assets/haunted-I0Oiii6k.js
  pr/pr-52/assets/iframe-DUrQYmMs.js
  pr/pr-52/assets/item-click.stories-CiPdjPb0.js
  pr/pr-52/assets/lit-html-B0z-6tlh.js
  pr/pr-52/assets/preload-helper-CS2xCIPu.js
  pr/pr-52/assets/render-Bfy20W2c.js
  pr/pr-52/assets/render.stories-d-TnUf08.js
  pr/pr-52/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-52/favicon-wrapper.svg
  pr/pr-52/favicon.svg
  pr/pr-52/iframe.html
  pr/pr-52/index.html
  pr/pr-52/index.json
  pr/pr-52/nunito-sans-bold-italic.woff2
  pr/pr-52/nunito-sans-bold.woff2
  pr/pr-52/nunito-sans-italic.woff2
  pr/pr-52/nunito-sans-regular.woff2
  pr/pr-52/project.json
  pr/pr-52/sb-addons/links-1/manager-bundle.js
  pr/pr-52/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-52/sb-addons/vitest-2/manager-bundle.js
  pr/pr-52/sb-common-assets/favicon-wrapper.svg
  pr/pr-52/sb-common-assets/favicon.svg
  pr/pr-52/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-52/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-52/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-52/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-52/sb-manager/globals-runtime.js
  pr/pr-52/sb-manager/globals.js
  pr/pr-52/sb-manager/manager-stores.js
  pr/pr-52/sb-manager/runtime.js
  pr/pr-52/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@3668f9d755423fb516a20c02b87b9f3ea4b841c7 🚀
  project.json
Due: prettier --write

Remove preview for PR 52 🛬
  pr/pr-52/assets/chunk-BvrOYcoh.js
  pr/pr-52/assets/component.stories-DhD-6ZYQ.js
  pr/pr-52/assets/haunted-I0Oiii6k.js
  pr/pr-52/assets/iframe-DUrQYmMs.js
  pr/pr-52/assets/item-click.stories-CiPdjPb0.js
  pr/pr-52/assets/lit-html-B0z-6tlh.js
  pr/pr-52/assets/preload-helper-CS2xCIPu.js
  pr/pr-52/assets/render-Bfy20W2c.js
  pr/pr-52/assets/render.stories-d-TnUf08.js
  pr/pr-52/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-52/favicon-wrapper.svg
  pr/pr-52/favicon.svg
  pr/pr-52/iframe.html
  pr/pr-52/index.html
  pr/pr-52/index.json
  pr/pr-52/nunito-sans-bold-italic.woff2
  pr/pr-52/nunito-sans-bold.woff2
  pr/pr-52/nunito-sans-italic.woff2
  pr/pr-52/nunito-sans-regular.woff2
  pr/pr-52/project.json
  pr/pr-52/sb-addons/links-1/manager-bundle.js
  pr/pr-52/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-52/sb-addons/vitest-2/manager-bundle.js
  pr/pr-52/sb-common-assets/favicon-wrapper.svg
  pr/pr-52/sb-common-assets/favicon.svg
  pr/pr-52/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-52/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-52/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-52/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-52/sb-manager/globals-runtime.js
  pr/pr-52/sb-manager/globals.js
  pr/pr-52/sb-manager/manager-stores.js
  pr/pr-52/sb-manager/runtime.js
  pr/pr-52/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@091ba82639d14bc58f2467e44fe20b443e358b09 🚀
  project.json
Due: prettier --write

Deploy preview for PR 54 🛫
  pr/pr-54/assets/chunk-BvrOYcoh.js
  pr/pr-54/assets/component.stories-DhD-6ZYQ.js
  pr/pr-54/assets/haunted-I0Oiii6k.js
  pr/pr-54/assets/iframe-DUrQYmMs.js
  pr/pr-54/assets/item-click.stories-CiPdjPb0.js
  pr/pr-54/assets/lit-html-B0z-6tlh.js
  pr/pr-54/assets/preload-helper-CS2xCIPu.js
  pr/pr-54/assets/render-Bfy20W2c.js
  pr/pr-54/assets/render.stories-d-TnUf08.js
  pr/pr-54/assets/use-pref.stories-CDF8lbSh.js
  pr/pr-54/favicon-wrapper.svg
  pr/pr-54/favicon.svg
  pr/pr-54/iframe.html
  pr/pr-54/index.html
  pr/pr-54/index.json
  pr/pr-54/nunito-sans-bold-italic.woff2
  pr/pr-54/nunito-sans-bold.woff2
  pr/pr-54/nunito-sans-italic.woff2
  pr/pr-54/nunito-sans-regular.woff2
  pr/pr-54/project.json
  pr/pr-54/sb-addons/links-1/manager-bundle.js
  pr/pr-54/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-54/sb-addons/vitest-2/manager-bundle.js
  pr/pr-54/sb-common-assets/favicon-wrapper.svg
  pr/pr-54/sb-common-assets/favicon.svg
  pr/pr-54/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-54/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-54/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-54/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-54/sb-manager/globals-runtime.js
  pr/pr-54/sb-manager/globals.js
  pr/pr-54/sb-manager/manager-stores.js
  pr/pr-54/sb-manager/runtime.js
  pr/pr-54/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write
