Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

Deploy preview for PR 12 🛫
  pr/pr-12/assets/component.stories-BFQhrRvP.js
  pr/pr-12/assets/iframe-B3aZm3sq.js
  pr/pr-12/assets/preload-helper-PPVm8Dsz.js
  pr/pr-12/favicon-wrapper.svg
  pr/pr-12/favicon.svg
  pr/pr-12/iframe.html
  pr/pr-12/index.html
  pr/pr-12/index.json
  pr/pr-12/nunito-sans-bold-italic.woff2
  pr/pr-12/nunito-sans-bold.woff2
  pr/pr-12/nunito-sans-italic.woff2
  pr/pr-12/nunito-sans-regular.woff2
  pr/pr-12/project.json
  pr/pr-12/sb-addons/links-1/manager-bundle.js
  pr/pr-12/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-12/sb-common-assets/favicon-wrapper.svg
  pr/pr-12/sb-common-assets/favicon.svg
  pr/pr-12/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-12/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-12/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-12/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-12/sb-manager/globals-runtime.js
  pr/pr-12/sb-manager/globals.js
  pr/pr-12/sb-manager/manager-stores.js
  pr/pr-12/sb-manager/runtime.js
  pr/pr-12/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: add duplicate web component check (#12)
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Remove preview for PR 12 🛬
  pr/pr-12/assets/component.stories-BFQhrRvP.js
  pr/pr-12/assets/iframe-B3aZm3sq.js
  pr/pr-12/assets/preload-helper-PPVm8Dsz.js
  pr/pr-12/favicon-wrapper.svg
  pr/pr-12/favicon.svg
  pr/pr-12/iframe.html
  pr/pr-12/index.html
  pr/pr-12/index.json
  pr/pr-12/nunito-sans-bold-italic.woff2
  pr/pr-12/nunito-sans-bold.woff2
  pr/pr-12/nunito-sans-italic.woff2
  pr/pr-12/nunito-sans-regular.woff2
  pr/pr-12/project.json
  pr/pr-12/sb-addons/links-1/manager-bundle.js
  pr/pr-12/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-12/sb-common-assets/favicon-wrapper.svg
  pr/pr-12/sb-common-assets/favicon.svg
  pr/pr-12/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-12/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-12/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-12/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-12/sb-manager/globals-runtime.js
  pr/pr-12/sb-manager/globals.js
  pr/pr-12/sb-manager/manager-stores.js
  pr/pr-12/sb-manager/runtime.js
  pr/pr-12/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@3d67f50446f24498beafa75c9e633199a848b84a 🚀
  project.json
Due: prettier --write

fix: support cosmoz-omnitable v17
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 13 🛫
  pr/pr-13/assets/component.stories-u57sSBj8.js
  pr/pr-13/assets/iframe-BB3wgTNW.js
  pr/pr-13/assets/preload-helper-PPVm8Dsz.js
  pr/pr-13/favicon-wrapper.svg
  pr/pr-13/favicon.svg
  pr/pr-13/iframe.html
  pr/pr-13/index.html
  pr/pr-13/index.json
  pr/pr-13/nunito-sans-bold-italic.woff2
  pr/pr-13/nunito-sans-bold.woff2
  pr/pr-13/nunito-sans-italic.woff2
  pr/pr-13/nunito-sans-regular.woff2
  pr/pr-13/project.json
  pr/pr-13/sb-addons/links-1/manager-bundle.js
  pr/pr-13/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-13/sb-common-assets/favicon-wrapper.svg
  pr/pr-13/sb-common-assets/favicon.svg
  pr/pr-13/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-13/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-13/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-13/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-13/sb-manager/globals-runtime.js
  pr/pr-13/sb-manager/globals.js
  pr/pr-13/sb-manager/manager-stores.js
  pr/pr-13/sb-manager/runtime.js
  pr/pr-13/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: support cosmoz-omnitable v17 (#13)
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@9e65d79967986c61f7feec95c8665ab0adfe04a3 🚀
  assets/component.stories-BFQhrRvP.js
  assets/component.stories-u57sSBj8.js
  assets/iframe-B3aZm3sq.js
  assets/iframe-BB3wgTNW.js
  iframe.html
  index.html
  index.json
  project.json
  sb-addons/links-1/manager-bundle.js
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
  vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 13 🛬
  pr/pr-13/assets/component.stories-u57sSBj8.js
  pr/pr-13/assets/iframe-BB3wgTNW.js
  pr/pr-13/assets/preload-helper-PPVm8Dsz.js
  pr/pr-13/favicon-wrapper.svg
  pr/pr-13/favicon.svg
  pr/pr-13/iframe.html
  pr/pr-13/index.html
  pr/pr-13/index.json
  pr/pr-13/nunito-sans-bold-italic.woff2
  pr/pr-13/nunito-sans-bold.woff2
  pr/pr-13/nunito-sans-italic.woff2
  pr/pr-13/nunito-sans-regular.woff2
  pr/pr-13/project.json
  pr/pr-13/sb-addons/links-1/manager-bundle.js
  pr/pr-13/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-13/sb-common-assets/favicon-wrapper.svg
  pr/pr-13/sb-common-assets/favicon.svg
  pr/pr-13/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-13/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-13/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-13/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-13/sb-manager/globals-runtime.js
  pr/pr-13/sb-manager/globals.js
  pr/pr-13/sb-manager/manager-stores.js
  pr/pr-13/sb-manager/runtime.js
  pr/pr-13/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  a20568801681bb537dc00f24f734a2e6ea5343ce
Due: none

feat: add list subpath exports
  package.json
  src/list/index.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 14 🛫
  pr/pr-14/assets/component.stories-u57sSBj8.js
  pr/pr-14/assets/iframe-BB3wgTNW.js
  pr/pr-14/assets/preload-helper-PPVm8Dsz.js
  pr/pr-14/favicon-wrapper.svg
  pr/pr-14/favicon.svg
  pr/pr-14/iframe.html
  pr/pr-14/index.html
  pr/pr-14/index.json
  pr/pr-14/nunito-sans-bold-italic.woff2
  pr/pr-14/nunito-sans-bold.woff2
  pr/pr-14/nunito-sans-italic.woff2
  pr/pr-14/nunito-sans-regular.woff2
  pr/pr-14/project.json
  pr/pr-14/sb-addons/links-1/manager-bundle.js
  pr/pr-14/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-14/sb-common-assets/favicon-wrapper.svg
  pr/pr-14/sb-common-assets/favicon.svg
  pr/pr-14/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-14/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-14/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-14/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-14/sb-manager/globals-runtime.js
  pr/pr-14/sb-manager/globals.js
  pr/pr-14/sb-manager/manager-stores.js
  pr/pr-14/sb-manager/runtime.js
  pr/pr-14/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@b54dafa8c22fbbb035e651ec9398a74ffe7b3be1 🚀
  project.json
Due: prettier --write

Remove preview for PR 14 🛬
  pr/pr-14/assets/component.stories-u57sSBj8.js
  pr/pr-14/assets/iframe-BB3wgTNW.js
  pr/pr-14/assets/preload-helper-PPVm8Dsz.js
  pr/pr-14/favicon-wrapper.svg
  pr/pr-14/favicon.svg
  pr/pr-14/iframe.html
  pr/pr-14/index.html
  pr/pr-14/index.json
  pr/pr-14/nunito-sans-bold-italic.woff2
  pr/pr-14/nunito-sans-bold.woff2
  pr/pr-14/nunito-sans-italic.woff2
  pr/pr-14/nunito-sans-regular.woff2
  pr/pr-14/project.json
  pr/pr-14/sb-addons/links-1/manager-bundle.js
  pr/pr-14/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-14/sb-common-assets/favicon-wrapper.svg
  pr/pr-14/sb-common-assets/favicon.svg
  pr/pr-14/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-14/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-14/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-14/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-14/sb-manager/globals-runtime.js
  pr/pr-14/sb-manager/globals.js
  pr/pr-14/sb-manager/manager-stores.js
  pr/pr-14/sb-manager/runtime.js
  pr/pr-14/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  c5b994a9f9d64cd01ebf85f11f791dd33cca1c64
Due: none

fix: use explicit type exports in list subpath
  src/list/index.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 15 🛫
  pr/pr-15/assets/component.stories-u57sSBj8.js
  pr/pr-15/assets/iframe-BB3wgTNW.js
  pr/pr-15/assets/preload-helper-PPVm8Dsz.js
  pr/pr-15/favicon-wrapper.svg
  pr/pr-15/favicon.svg
  pr/pr-15/iframe.html
  pr/pr-15/index.html
  pr/pr-15/index.json
  pr/pr-15/nunito-sans-bold-italic.woff2
  pr/pr-15/nunito-sans-bold.woff2
  pr/pr-15/nunito-sans-italic.woff2
  pr/pr-15/nunito-sans-regular.woff2
  pr/pr-15/project.json
  pr/pr-15/sb-addons/links-1/manager-bundle.js
  pr/pr-15/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-15/sb-common-assets/favicon-wrapper.svg
  pr/pr-15/sb-common-assets/favicon.svg
  pr/pr-15/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-15/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-15/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-15/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-15/sb-manager/globals-runtime.js
  pr/pr-15/sb-manager/globals.js
  pr/pr-15/sb-manager/manager-stores.js
  pr/pr-15/sb-manager/runtime.js
  pr/pr-15/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 15 🛬
  pr/pr-15/assets/component.stories-u57sSBj8.js
  pr/pr-15/assets/iframe-BB3wgTNW.js
  pr/pr-15/assets/preload-helper-PPVm8Dsz.js
  pr/pr-15/favicon-wrapper.svg
  pr/pr-15/favicon.svg
  pr/pr-15/iframe.html
  pr/pr-15/index.html
  pr/pr-15/index.json
  pr/pr-15/nunito-sans-bold-italic.woff2
  pr/pr-15/nunito-sans-bold.woff2
  pr/pr-15/nunito-sans-italic.woff2
  pr/pr-15/nunito-sans-regular.woff2
  pr/pr-15/project.json
  pr/pr-15/sb-addons/links-1/manager-bundle.js
  pr/pr-15/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-15/sb-common-assets/favicon-wrapper.svg
  pr/pr-15/sb-common-assets/favicon.svg
  pr/pr-15/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-15/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-15/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-15/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-15/sb-manager/globals-runtime.js
  pr/pr-15/sb-manager/globals.js
  pr/pr-15/sb-manager/manager-stores.js
  pr/pr-15/sb-manager/runtime.js
  pr/pr-15/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list): add genericActions$ pattern for dynamic list actions
  src/list/list-core.ts
  src/list/render-list-core.ts
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 16 🛫
  pr/pr-16/assets/component.stories-u57sSBj8.js
  pr/pr-16/assets/iframe-BB3wgTNW.js
  pr/pr-16/assets/preload-helper-PPVm8Dsz.js
  pr/pr-16/favicon-wrapper.svg
  pr/pr-16/favicon.svg
  pr/pr-16/iframe.html
  pr/pr-16/index.html
  pr/pr-16/index.json
  pr/pr-16/nunito-sans-bold-italic.woff2
  pr/pr-16/nunito-sans-bold.woff2
  pr/pr-16/nunito-sans-italic.woff2
  pr/pr-16/nunito-sans-regular.woff2
  pr/pr-16/project.json
  pr/pr-16/sb-addons/links-1/manager-bundle.js
  pr/pr-16/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-16/sb-common-assets/favicon-wrapper.svg
  pr/pr-16/sb-common-assets/favicon.svg
  pr/pr-16/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-16/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-16/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-16/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-16/sb-manager/globals-runtime.js
  pr/pr-16/sb-manager/globals.js
  pr/pr-16/sb-manager/manager-stores.js
  pr/pr-16/sb-manager/runtime.js
  pr/pr-16/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore: async not needed
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 16 🛫
  pr/pr-16/project.json
Due: prettier --write

feat: export list/render/more
  package.json
Due: prettier --write

feat(list): replace genericActions$ with content function
  src/list/list-core.ts
  src/list/render-list-core.ts
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Remove preview for PR 16 🛬
  pr/pr-16/assets/component.stories-u57sSBj8.js
  pr/pr-16/assets/iframe-BB3wgTNW.js
  pr/pr-16/assets/preload-helper-PPVm8Dsz.js
  pr/pr-16/favicon-wrapper.svg
  pr/pr-16/favicon.svg
  pr/pr-16/iframe.html
  pr/pr-16/index.html
  pr/pr-16/index.json
  pr/pr-16/nunito-sans-bold-italic.woff2
  pr/pr-16/nunito-sans-bold.woff2
  pr/pr-16/nunito-sans-italic.woff2
  pr/pr-16/nunito-sans-regular.woff2
  pr/pr-16/project.json
  pr/pr-16/sb-addons/links-1/manager-bundle.js
  pr/pr-16/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-16/sb-common-assets/favicon-wrapper.svg
  pr/pr-16/sb-common-assets/favicon.svg
  pr/pr-16/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-16/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-16/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-16/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-16/sb-manager/globals-runtime.js
  pr/pr-16/sb-manager/globals.js
  pr/pr-16/sb-manager/manager-stores.js
  pr/pr-16/sb-manager/runtime.js
  pr/pr-16/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@24cac3253cc7144edff4b48e19cc76bc4c300468 🚀
  project.json
Due: prettier --write

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  eadb08328c898680dde7ff07df3767b30df685a0
Due: none

fix(queue): prevent button-nav from shrinking
  src/queue/style.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 17 🛫
  pr/pr-17/assets/component.stories-DzWJDMar.js
  pr/pr-17/assets/iframe-BGVOnQa5.js
  pr/pr-17/assets/preload-helper-PPVm8Dsz.js
  pr/pr-17/favicon-wrapper.svg
  pr/pr-17/favicon.svg
  pr/pr-17/iframe.html
  pr/pr-17/index.html
  pr/pr-17/index.json
  pr/pr-17/nunito-sans-bold-italic.woff2
  pr/pr-17/nunito-sans-bold.woff2
  pr/pr-17/nunito-sans-italic.woff2
  pr/pr-17/nunito-sans-regular.woff2
  pr/pr-17/project.json
  pr/pr-17/sb-addons/links-1/manager-bundle.js
  pr/pr-17/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-17/sb-common-assets/favicon-wrapper.svg
  pr/pr-17/sb-common-assets/favicon.svg
  pr/pr-17/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-17/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-17/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-17/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-17/sb-manager/globals-runtime.js
  pr/pr-17/sb-manager/globals.js
  pr/pr-17/sb-manager/manager-stores.js
  pr/pr-17/sb-manager/runtime.js
  pr/pr-17/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@e81567dd840e053e66bad9e4613b75e7934ff3e0 🚀
  assets/component.stories-DzWJDMar.js
  assets/iframe-BGVOnQa5.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 17 🛬
  pr/pr-17/assets/component.stories-DzWJDMar.js
  pr/pr-17/assets/iframe-BGVOnQa5.js
  pr/pr-17/assets/preload-helper-PPVm8Dsz.js
  pr/pr-17/favicon-wrapper.svg
  pr/pr-17/favicon.svg
  pr/pr-17/iframe.html
  pr/pr-17/index.html
  pr/pr-17/index.json
  pr/pr-17/nunito-sans-bold-italic.woff2
  pr/pr-17/nunito-sans-bold.woff2
  pr/pr-17/nunito-sans-italic.woff2
  pr/pr-17/nunito-sans-regular.woff2
  pr/pr-17/project.json
  pr/pr-17/sb-addons/links-1/manager-bundle.js
  pr/pr-17/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-17/sb-common-assets/favicon-wrapper.svg
  pr/pr-17/sb-common-assets/favicon.svg
  pr/pr-17/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-17/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-17/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-17/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-17/sb-manager/globals-runtime.js
  pr/pr-17/sb-manager/globals.js
  pr/pr-17/sb-manager/manager-stores.js
  pr/pr-17/sb-manager/runtime.js
  pr/pr-17/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  77292379ea830787588b197e97eb1936f1a02035
Due: none

feat: add actions subpath export
  package.json
Due: prettier --write

Deploy preview for PR 18 🛫
  pr/pr-18/assets/component.stories-DzWJDMar.js
  pr/pr-18/assets/iframe-BGVOnQa5.js
  pr/pr-18/assets/preload-helper-PPVm8Dsz.js
  pr/pr-18/favicon-wrapper.svg
  pr/pr-18/favicon.svg
  pr/pr-18/iframe.html
  pr/pr-18/index.html
  pr/pr-18/index.json
  pr/pr-18/nunito-sans-bold-italic.woff2
  pr/pr-18/nunito-sans-bold.woff2
  pr/pr-18/nunito-sans-italic.woff2
  pr/pr-18/nunito-sans-regular.woff2
  pr/pr-18/project.json
  pr/pr-18/sb-addons/links-1/manager-bundle.js
  pr/pr-18/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-18/sb-common-assets/favicon-wrapper.svg
  pr/pr-18/sb-common-assets/favicon.svg
  pr/pr-18/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-18/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-18/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-18/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-18/sb-manager/globals-runtime.js
  pr/pr-18/sb-manager/globals.js
  pr/pr-18/sb-manager/manager-stores.js
  pr/pr-18/sb-manager/runtime.js
  pr/pr-18/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
