Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@1da1ea0dda17470e416cbe8b9d1c93709f8048be 🚀
  project.json
Due: prettier --write

feat(use-queue): deprecate api property in favor of details
  README.md
  docs/migration-api-to-details.md
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 20 🛫
  pr/pr-20/assets/component.stories-DzWJDMar.js
  pr/pr-20/assets/component.stories-GhFFF1OO.js
  pr/pr-20/assets/iframe-32s9o9LL.js
  pr/pr-20/assets/iframe-BGVOnQa5.js
  pr/pr-20/assets/item-click.stories-4Ed2MET-.js
  pr/pr-20/assets/lit-haunted-DGmhBbUE.js
  pr/pr-20/assets/render-rfpmO1rU.js
  pr/pr-20/assets/render.stories-D734ueRg.js
  pr/pr-20/assets/use-callback-BXh127T0.js
  pr/pr-20/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-20/iframe.html
  pr/pr-20/index.html
  pr/pr-20/index.json
  pr/pr-20/project.json
  pr/pr-20/sb-addons/vitest-2/manager-bundle.js
  pr/pr-20/sb-manager/globals-runtime.js
  pr/pr-20/sb-manager/runtime.js
Due: eslint --fix, prettier --write

fix(use-queue): deprecate api property in favor of details (#20)
  README.md
  docs/migration-api-to-details.md
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Remove preview for PR 20 🛬
  pr/pr-20/assets/component.stories-GhFFF1OO.js
  pr/pr-20/assets/iframe-32s9o9LL.js
  pr/pr-20/assets/item-click.stories-4Ed2MET-.js
  pr/pr-20/assets/lit-haunted-DGmhBbUE.js
  pr/pr-20/assets/preload-helper-PPVm8Dsz.js
  pr/pr-20/assets/render-rfpmO1rU.js
  pr/pr-20/assets/render.stories-D734ueRg.js
  pr/pr-20/assets/use-callback-BXh127T0.js
  pr/pr-20/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-20/favicon-wrapper.svg
  pr/pr-20/favicon.svg
  pr/pr-20/iframe.html
  pr/pr-20/index.html
  pr/pr-20/index.json
  pr/pr-20/nunito-sans-bold-italic.woff2
  pr/pr-20/nunito-sans-bold.woff2
  pr/pr-20/nunito-sans-italic.woff2
  pr/pr-20/nunito-sans-regular.woff2
  pr/pr-20/project.json
  pr/pr-20/sb-addons/links-1/manager-bundle.js
  pr/pr-20/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-20/sb-addons/vitest-2/manager-bundle.js
  pr/pr-20/sb-common-assets/favicon-wrapper.svg
  pr/pr-20/sb-common-assets/favicon.svg
  pr/pr-20/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-20/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-20/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-20/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-20/sb-manager/globals-runtime.js
  pr/pr-20/sb-manager/globals.js
  pr/pr-20/sb-manager/manager-stores.js
  pr/pr-20/sb-manager/runtime.js
  pr/pr-20/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@084651b98697f10027cb35369a40135d542813a8 🚀
  project.json
Due: prettier --write

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  ab6013f3bf4e2776d8483701612914d0ccd661d9
Due: none

fix(deps): support cosmoz-omnitable v18
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 25 🛫
  pr/pr-25/assets/component.stories-GhFFF1OO.js
  pr/pr-25/assets/iframe-32s9o9LL.js
  pr/pr-25/assets/item-click.stories-4Ed2MET-.js
  pr/pr-25/assets/lit-haunted-DGmhBbUE.js
  pr/pr-25/assets/preload-helper-PPVm8Dsz.js
  pr/pr-25/assets/render-rfpmO1rU.js
  pr/pr-25/assets/render.stories-D734ueRg.js
  pr/pr-25/assets/use-callback-BXh127T0.js
  pr/pr-25/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-25/favicon-wrapper.svg
  pr/pr-25/favicon.svg
  pr/pr-25/iframe.html
  pr/pr-25/index.html
  pr/pr-25/index.json
  pr/pr-25/nunito-sans-bold-italic.woff2
  pr/pr-25/nunito-sans-bold.woff2
  pr/pr-25/nunito-sans-italic.woff2
  pr/pr-25/nunito-sans-regular.woff2
  pr/pr-25/project.json
  pr/pr-25/sb-addons/links-1/manager-bundle.js
  pr/pr-25/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-25/sb-addons/vitest-2/manager-bundle.js
  pr/pr-25/sb-common-assets/favicon-wrapper.svg
  pr/pr-25/sb-common-assets/favicon.svg
  pr/pr-25/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-25/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-25/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-25/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-25/sb-manager/globals-runtime.js
  pr/pr-25/sb-manager/globals.js
  pr/pr-25/sb-manager/manager-stores.js
  pr/pr-25/sb-manager/runtime.js
  pr/pr-25/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix(deps): support cosmoz-omnitable v18 (#25)
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@d5a2e8dc44f72f8aeb45d1c45011fa3dd4cb62ac 🚀
  project.json
Due: prettier --write

Remove preview for PR 25 🛬
  pr/pr-25/assets/component.stories-GhFFF1OO.js
  pr/pr-25/assets/iframe-32s9o9LL.js
  pr/pr-25/assets/item-click.stories-4Ed2MET-.js
  pr/pr-25/assets/lit-haunted-DGmhBbUE.js
  pr/pr-25/assets/preload-helper-PPVm8Dsz.js
  pr/pr-25/assets/render-rfpmO1rU.js
  pr/pr-25/assets/render.stories-D734ueRg.js
  pr/pr-25/assets/use-callback-BXh127T0.js
  pr/pr-25/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-25/favicon-wrapper.svg
  pr/pr-25/favicon.svg
  pr/pr-25/iframe.html
  pr/pr-25/index.html
  pr/pr-25/index.json
  pr/pr-25/nunito-sans-bold-italic.woff2
  pr/pr-25/nunito-sans-bold.woff2
  pr/pr-25/nunito-sans-italic.woff2
  pr/pr-25/nunito-sans-regular.woff2
  pr/pr-25/project.json
  pr/pr-25/sb-addons/links-1/manager-bundle.js
  pr/pr-25/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-25/sb-addons/vitest-2/manager-bundle.js
  pr/pr-25/sb-common-assets/favicon-wrapper.svg
  pr/pr-25/sb-common-assets/favicon.svg
  pr/pr-25/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-25/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-25/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-25/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-25/sb-manager/globals-runtime.js
  pr/pr-25/sb-manager/globals.js
  pr/pr-25/sb-manager/manager-stores.js
  pr/pr-25/sb-manager/runtime.js
  pr/pr-25/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  993d0a2186a85924a9955f01884170a4a95a0cf5
Due: none

Deploy preview for PR 26 🛫
  pr/pr-26/assets/component.stories-GhFFF1OO.js
  pr/pr-26/assets/iframe-32s9o9LL.js
  pr/pr-26/assets/item-click.stories-4Ed2MET-.js
  pr/pr-26/assets/lit-haunted-DGmhBbUE.js
  pr/pr-26/assets/preload-helper-PPVm8Dsz.js
  pr/pr-26/assets/render-rfpmO1rU.js
  pr/pr-26/assets/render.stories-D734ueRg.js
  pr/pr-26/assets/use-callback-BXh127T0.js
  pr/pr-26/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-26/favicon-wrapper.svg
  pr/pr-26/favicon.svg
  pr/pr-26/iframe.html
  pr/pr-26/index.html
  pr/pr-26/index.json
  pr/pr-26/nunito-sans-bold-italic.woff2
  pr/pr-26/nunito-sans-bold.woff2
  pr/pr-26/nunito-sans-italic.woff2
  pr/pr-26/nunito-sans-regular.woff2
  pr/pr-26/project.json
  pr/pr-26/sb-addons/links-1/manager-bundle.js
  pr/pr-26/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-26/sb-addons/vitest-2/manager-bundle.js
  pr/pr-26/sb-common-assets/favicon-wrapper.svg
  pr/pr-26/sb-common-assets/favicon.svg
  pr/pr-26/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-26/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-26/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-26/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-26/sb-manager/globals-runtime.js
  pr/pr-26/sb-manager/globals.js
  pr/pr-26/sb-manager/manager-stores.js
  pr/pr-26/sb-manager/runtime.js
  pr/pr-26/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploy preview for PR 26 🛫
  pr/pr-26/project.json
Due: prettier --write

feat: replace @neovici/cosmoz-dialog-next with @neovici/cosmoz-dialog
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-queue@3ae4654b1b4c5eb545eca02aeadb5c7abca54700 🚀
  project.json
Due: prettier --write

Remove preview for PR 26 🛬
  pr/pr-26/assets/component.stories-GhFFF1OO.js
  pr/pr-26/assets/iframe-32s9o9LL.js
  pr/pr-26/assets/item-click.stories-4Ed2MET-.js
  pr/pr-26/assets/lit-haunted-DGmhBbUE.js
  pr/pr-26/assets/preload-helper-PPVm8Dsz.js
  pr/pr-26/assets/render-rfpmO1rU.js
  pr/pr-26/assets/render.stories-D734ueRg.js
  pr/pr-26/assets/use-callback-BXh127T0.js
  pr/pr-26/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-26/favicon-wrapper.svg
  pr/pr-26/favicon.svg
  pr/pr-26/iframe.html
  pr/pr-26/index.html
  pr/pr-26/index.json
  pr/pr-26/nunito-sans-bold-italic.woff2
  pr/pr-26/nunito-sans-bold.woff2
  pr/pr-26/nunito-sans-italic.woff2
  pr/pr-26/nunito-sans-regular.woff2
  pr/pr-26/project.json
  pr/pr-26/sb-addons/links-1/manager-bundle.js
  pr/pr-26/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-26/sb-addons/vitest-2/manager-bundle.js
  pr/pr-26/sb-common-assets/favicon-wrapper.svg
  pr/pr-26/sb-common-assets/favicon.svg
  pr/pr-26/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-26/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-26/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-26/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-26/sb-manager/globals-runtime.js
  pr/pr-26/sb-manager/globals.js
  pr/pr-26/sb-manager/manager-stores.js
  pr/pr-26/sb-manager/runtime.js
  pr/pr-26/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  225d14b78deec0e421c156d3b0be8a334857f3c3
Due: none

Deploy preview for PR 27 🛫
  pr/pr-27/assets/component.stories-GhFFF1OO.js
  pr/pr-27/assets/iframe-32s9o9LL.js
  pr/pr-27/assets/item-click.stories-4Ed2MET-.js
  pr/pr-27/assets/lit-haunted-DGmhBbUE.js
  pr/pr-27/assets/preload-helper-PPVm8Dsz.js
  pr/pr-27/assets/render-rfpmO1rU.js
  pr/pr-27/assets/render.stories-D734ueRg.js
  pr/pr-27/assets/use-callback-BXh127T0.js
  pr/pr-27/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-27/favicon-wrapper.svg
  pr/pr-27/favicon.svg
  pr/pr-27/iframe.html
  pr/pr-27/index.html
  pr/pr-27/index.json
  pr/pr-27/nunito-sans-bold-italic.woff2
  pr/pr-27/nunito-sans-bold.woff2
  pr/pr-27/nunito-sans-italic.woff2
  pr/pr-27/nunito-sans-regular.woff2
  pr/pr-27/project.json
  pr/pr-27/sb-addons/links-1/manager-bundle.js
  pr/pr-27/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-27/sb-addons/vitest-2/manager-bundle.js
  pr/pr-27/sb-common-assets/favicon-wrapper.svg
  pr/pr-27/sb-common-assets/favicon.svg
  pr/pr-27/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-27/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-27/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-27/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-27/sb-manager/globals-runtime.js
  pr/pr-27/sb-manager/globals.js
  pr/pr-27/sb-manager/manager-stores.js
  pr/pr-27/sb-manager/runtime.js
  pr/pr-27/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: expose computed params from useListCore return value
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 27 🛫
  pr/pr-27/project.json
Due: prettier --write

feat(list-core): support mini-mode in renderListCore
  src/list/render-list-core.ts
  src/list/use-list-state.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 28 🛫
  pr/pr-28/assets/component.stories-GhFFF1OO.js
  pr/pr-28/assets/iframe-32s9o9LL.js
  pr/pr-28/assets/item-click.stories-4Ed2MET-.js
  pr/pr-28/assets/lit-haunted-DGmhBbUE.js
  pr/pr-28/assets/preload-helper-PPVm8Dsz.js
  pr/pr-28/assets/render-rfpmO1rU.js
  pr/pr-28/assets/render.stories-D734ueRg.js
  pr/pr-28/assets/use-callback-BXh127T0.js
  pr/pr-28/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-28/favicon-wrapper.svg
  pr/pr-28/favicon.svg
  pr/pr-28/iframe.html
  pr/pr-28/index.html
  pr/pr-28/index.json
  pr/pr-28/nunito-sans-bold-italic.woff2
  pr/pr-28/nunito-sans-bold.woff2
  pr/pr-28/nunito-sans-italic.woff2
  pr/pr-28/nunito-sans-regular.woff2
  pr/pr-28/project.json
  pr/pr-28/sb-addons/links-1/manager-bundle.js
  pr/pr-28/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-28/sb-addons/vitest-2/manager-bundle.js
  pr/pr-28/sb-common-assets/favicon-wrapper.svg
  pr/pr-28/sb-common-assets/favicon.svg
  pr/pr-28/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-28/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-28/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-28/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-28/sb-manager/globals-runtime.js
  pr/pr-28/sb-manager/globals.js
  pr/pr-28/sb-manager/manager-stores.js
  pr/pr-28/sb-manager/runtime.js
  pr/pr-28/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list-core): support mini-mode in renderListCore (#28)
  src/list/render-list-core.ts
  src/list/use-list-state.ts
Due: eslint --fix, prettier --write

feat: expose computed params from useListCore return value (#27)
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@ea8805e5b5081ff8d51fe82f54329796e567d605 🚀
  project.json
Due: prettier --write

Remove preview for PR 28 🛬
  pr/pr-28/assets/component.stories-GhFFF1OO.js
  pr/pr-28/assets/iframe-32s9o9LL.js
  pr/pr-28/assets/item-click.stories-4Ed2MET-.js
  pr/pr-28/assets/lit-haunted-DGmhBbUE.js
  pr/pr-28/assets/preload-helper-PPVm8Dsz.js
  pr/pr-28/assets/render-rfpmO1rU.js
  pr/pr-28/assets/render.stories-D734ueRg.js
  pr/pr-28/assets/use-callback-BXh127T0.js
  pr/pr-28/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-28/favicon-wrapper.svg
  pr/pr-28/favicon.svg
  pr/pr-28/iframe.html
  pr/pr-28/index.html
  pr/pr-28/index.json
  pr/pr-28/nunito-sans-bold-italic.woff2
  pr/pr-28/nunito-sans-bold.woff2
  pr/pr-28/nunito-sans-italic.woff2
  pr/pr-28/nunito-sans-regular.woff2
  pr/pr-28/project.json
  pr/pr-28/sb-addons/links-1/manager-bundle.js
  pr/pr-28/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-28/sb-addons/vitest-2/manager-bundle.js
  pr/pr-28/sb-common-assets/favicon-wrapper.svg
  pr/pr-28/sb-common-assets/favicon.svg
  pr/pr-28/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-28/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-28/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-28/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-28/sb-manager/globals-runtime.js
  pr/pr-28/sb-manager/globals.js
  pr/pr-28/sb-manager/manager-stores.js
  pr/pr-28/sb-manager/runtime.js
  pr/pr-28/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@b8027a40894847ee8df738f1058c8b8c712cff9a 🚀
  project.json
Due: prettier --write

Remove preview for PR 27 🛬
  pr/pr-27/assets/component.stories-GhFFF1OO.js
  pr/pr-27/assets/iframe-32s9o9LL.js
  pr/pr-27/assets/item-click.stories-4Ed2MET-.js
  pr/pr-27/assets/lit-haunted-DGmhBbUE.js
  pr/pr-27/assets/preload-helper-PPVm8Dsz.js
  pr/pr-27/assets/render-rfpmO1rU.js
  pr/pr-27/assets/render.stories-D734ueRg.js
  pr/pr-27/assets/use-callback-BXh127T0.js
  pr/pr-27/assets/use-pref.stories-DdOQ5wnN.js
  pr/pr-27/favicon-wrapper.svg
  pr/pr-27/favicon.svg
  pr/pr-27/iframe.html
  pr/pr-27/index.html
  pr/pr-27/index.json
  pr/pr-27/nunito-sans-bold-italic.woff2
  pr/pr-27/nunito-sans-bold.woff2
  pr/pr-27/nunito-sans-italic.woff2
  pr/pr-27/nunito-sans-regular.woff2
  pr/pr-27/project.json
  pr/pr-27/sb-addons/links-1/manager-bundle.js
  pr/pr-27/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-27/sb-addons/vitest-2/manager-bundle.js
  pr/pr-27/sb-common-assets/favicon-wrapper.svg
  pr/pr-27/sb-common-assets/favicon.svg
  pr/pr-27/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-27/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-27/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-27/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-27/sb-manager/globals-runtime.js
  pr/pr-27/sb-manager/globals.js
  pr/pr-27/sb-manager/manager-stores.js
  pr/pr-27/sb-manager/runtime.js
  pr/pr-27/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  55327801a82955f66770c41f2c005ca7c1e3639a
Due: none

test(list-core): add DOM tests for mini-mode in renderListCore
  stories/render-list-core.stories.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 29 🛫
  pr/pr-29/assets/component.stories-Bi6iBvPT.js
  pr/pr-29/assets/cosmoz-i18next-6kG1MCjj.js
  pr/pr-29/assets/flow-BqIEBwW6.js
  pr/pr-29/assets/iframe-DdbOukB6.js
  pr/pr-29/assets/item-click.stories-DjD0zNwg.js
  pr/pr-29/assets/lit-haunted-gA9wOeRP.js
  pr/pr-29/assets/preload-helper-PPVm8Dsz.js
  pr/pr-29/assets/render-Bo5zuqzw.js
  pr/pr-29/assets/render-list-core.stories-Cp0sJjax.js
  pr/pr-29/assets/render.stories-cs0wDcZO.js
  pr/pr-29/assets/style-map-Dek4y-pN.js
  pr/pr-29/assets/use-callback-DLndjOxO.js
  pr/pr-29/assets/use-pref.stories-R9BoVN7q.js
  pr/pr-29/favicon-wrapper.svg
  pr/pr-29/favicon.svg
  pr/pr-29/iframe.html
  pr/pr-29/index.html
  pr/pr-29/index.json
  pr/pr-29/nunito-sans-bold-italic.woff2
  pr/pr-29/nunito-sans-bold.woff2
  pr/pr-29/nunito-sans-italic.woff2
  pr/pr-29/nunito-sans-regular.woff2
  pr/pr-29/project.json
  pr/pr-29/sb-addons/links-1/manager-bundle.js
  pr/pr-29/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-29/sb-addons/vitest-2/manager-bundle.js
  pr/pr-29/sb-common-assets/favicon-wrapper.svg
  pr/pr-29/sb-common-assets/favicon.svg
  pr/pr-29/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-29/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-29/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-29/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-29/sb-manager/globals-runtime.js
  pr/pr-29/sb-manager/globals.js
  pr/pr-29/sb-manager/manager-stores.js
  pr/pr-29/sb-manager/runtime.js
  pr/pr-29/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 29 🛬
  pr/pr-29/assets/component.stories-Bi6iBvPT.js
  pr/pr-29/assets/cosmoz-i18next-6kG1MCjj.js
  pr/pr-29/assets/flow-BqIEBwW6.js
  pr/pr-29/assets/iframe-DdbOukB6.js
  pr/pr-29/assets/item-click.stories-DjD0zNwg.js
  pr/pr-29/assets/lit-haunted-gA9wOeRP.js
  pr/pr-29/assets/preload-helper-PPVm8Dsz.js
  pr/pr-29/assets/render-Bo5zuqzw.js
  pr/pr-29/assets/render-list-core.stories-Cp0sJjax.js
  pr/pr-29/assets/render.stories-cs0wDcZO.js
  pr/pr-29/assets/style-map-Dek4y-pN.js
  pr/pr-29/assets/use-callback-DLndjOxO.js
  pr/pr-29/assets/use-pref.stories-R9BoVN7q.js
  pr/pr-29/favicon-wrapper.svg
  pr/pr-29/favicon.svg
  pr/pr-29/iframe.html
  pr/pr-29/index.html
  pr/pr-29/index.json
  pr/pr-29/nunito-sans-bold-italic.woff2
  pr/pr-29/nunito-sans-bold.woff2
  pr/pr-29/nunito-sans-italic.woff2
  pr/pr-29/nunito-sans-regular.woff2
  pr/pr-29/project.json
  pr/pr-29/sb-addons/links-1/manager-bundle.js
  pr/pr-29/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-29/sb-addons/vitest-2/manager-bundle.js
  pr/pr-29/sb-common-assets/favicon-wrapper.svg
  pr/pr-29/sb-common-assets/favicon.svg
  pr/pr-29/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-29/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-29/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-29/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-29/sb-manager/globals-runtime.js
  pr/pr-29/sb-manager/globals.js
  pr/pr-29/sb-manager/manager-stores.js
  pr/pr-29/sb-manager/runtime.js
  pr/pr-29/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: pass item directly in omnitable-item-click event instead of index
  src/queue/item-click.ts
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
  check-duplicate-components: any of: package-lock.json
