Repository Neovici/cosmoz-queue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, check-duplicate-components

.lintstagedrc.json:

{
  "*.{js,ts}": ["eslint --fix"],
  "*.{js,ts,json,md}": ["prettier --write"],
  "package-lock.json": ["check-duplicate-components"]
}

Deploy preview for PR 30 🛫
  pr/pr-30/assets/component.stories-DrjzpCWO.js
  pr/pr-30/assets/iframe-CxeByyOY.js
  pr/pr-30/assets/item-click.stories-CZGSzja_.js
  pr/pr-30/assets/lit-haunted-BMnhs42k.js
  pr/pr-30/assets/preload-helper-PPVm8Dsz.js
  pr/pr-30/assets/render-B4hithYm.js
  pr/pr-30/assets/render.stories-CvNwgaVr.js
  pr/pr-30/assets/use-callback-Cqy5uBuA.js
  pr/pr-30/assets/use-pref.stories-CVYbO20d.js
  pr/pr-30/favicon-wrapper.svg
  pr/pr-30/favicon.svg
  pr/pr-30/iframe.html
  pr/pr-30/index.html
  pr/pr-30/index.json
  pr/pr-30/nunito-sans-bold-italic.woff2
  pr/pr-30/nunito-sans-bold.woff2
  pr/pr-30/nunito-sans-italic.woff2
  pr/pr-30/nunito-sans-regular.woff2
  pr/pr-30/project.json
  pr/pr-30/sb-addons/links-1/manager-bundle.js
  pr/pr-30/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-30/sb-addons/vitest-2/manager-bundle.js
  pr/pr-30/sb-common-assets/favicon-wrapper.svg
  pr/pr-30/sb-common-assets/favicon.svg
  pr/pr-30/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-30/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-30/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-30/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-30/sb-manager/globals-runtime.js
  pr/pr-30/sb-manager/globals.js
  pr/pr-30/sb-manager/manager-stores.js
  pr/pr-30/sb-manager/runtime.js
  pr/pr-30/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

fix: require either item or index in itemClick via discriminated union
  src/queue/item-click.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 30 🛫
  pr/pr-30/project.json
Due: prettier --write

fix: use ItemClickOpts type for omnitable-item-click event detail in onItemClick
  src/queue/item-click.ts
  src/queue/use-queue.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@d4251a4cbd0c479a77160f2802c1a139b63144cd 🚀
  assets/component.stories-DrjzpCWO.js
  assets/component.stories-GhFFF1OO.js
  assets/iframe-CxeByyOY.js
  assets/item-click.stories-CZGSzja_.js
  assets/lit-haunted-BMnhs42k.js
  assets/lit-haunted-DGmhBbUE.js
  assets/render-B4hithYm.js
  assets/render-rfpmO1rU.js
  assets/render.stories-CvNwgaVr.js
  assets/use-callback-BXh127T0.js
  assets/use-callback-Cqy5uBuA.js
  assets/use-pref.stories-CVYbO20d.js
  iframe.html
  project.json
Due: eslint --fix, prettier --write

Remove preview for PR 30 🛬
  pr/pr-30/assets/component.stories-DrjzpCWO.js
  pr/pr-30/assets/iframe-CxeByyOY.js
  pr/pr-30/assets/item-click.stories-CZGSzja_.js
  pr/pr-30/assets/lit-haunted-BMnhs42k.js
  pr/pr-30/assets/preload-helper-PPVm8Dsz.js
  pr/pr-30/assets/render-B4hithYm.js
  pr/pr-30/assets/render.stories-CvNwgaVr.js
  pr/pr-30/assets/use-callback-Cqy5uBuA.js
  pr/pr-30/assets/use-pref.stories-CVYbO20d.js
  pr/pr-30/favicon-wrapper.svg
  pr/pr-30/favicon.svg
  pr/pr-30/iframe.html
  pr/pr-30/index.html
  pr/pr-30/index.json
  pr/pr-30/nunito-sans-bold-italic.woff2
  pr/pr-30/nunito-sans-bold.woff2
  pr/pr-30/nunito-sans-italic.woff2
  pr/pr-30/nunito-sans-regular.woff2
  pr/pr-30/project.json
  pr/pr-30/sb-addons/links-1/manager-bundle.js
  pr/pr-30/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-30/sb-addons/vitest-2/manager-bundle.js
  pr/pr-30/sb-common-assets/favicon-wrapper.svg
  pr/pr-30/sb-common-assets/favicon.svg
  pr/pr-30/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-30/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-30/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-30/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-30/sb-manager/globals-runtime.js
  pr/pr-30/sb-manager/globals.js
  pr/pr-30/sb-manager/manager-stores.js
  pr/pr-30/sb-manager/runtime.js
  pr/pr-30/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  8c6e70b93936d66535d27c64613b48f2225d1048
Due: none

feat: pass paramsMeta to columns factory for cross-column narrowing
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 31 🛫
  pr/pr-31/assets/component.stories-DrjzpCWO.js
  pr/pr-31/assets/iframe-CxeByyOY.js
  pr/pr-31/assets/item-click.stories-CZGSzja_.js
  pr/pr-31/assets/lit-haunted-BMnhs42k.js
  pr/pr-31/assets/preload-helper-PPVm8Dsz.js
  pr/pr-31/assets/render-B4hithYm.js
  pr/pr-31/assets/render.stories-CvNwgaVr.js
  pr/pr-31/assets/use-callback-Cqy5uBuA.js
  pr/pr-31/assets/use-pref.stories-CVYbO20d.js
  pr/pr-31/favicon-wrapper.svg
  pr/pr-31/favicon.svg
  pr/pr-31/iframe.html
  pr/pr-31/index.html
  pr/pr-31/index.json
  pr/pr-31/nunito-sans-bold-italic.woff2
  pr/pr-31/nunito-sans-bold.woff2
  pr/pr-31/nunito-sans-italic.woff2
  pr/pr-31/nunito-sans-regular.woff2
  pr/pr-31/project.json
  pr/pr-31/sb-addons/links-1/manager-bundle.js
  pr/pr-31/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-31/sb-addons/vitest-2/manager-bundle.js
  pr/pr-31/sb-common-assets/favicon-wrapper.svg
  pr/pr-31/sb-common-assets/favicon.svg
  pr/pr-31/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-31/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-31/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-31/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-31/sb-manager/globals-runtime.js
  pr/pr-31/sb-manager/globals.js
  pr/pr-31/sb-manager/manager-stores.js
  pr/pr-31/sb-manager/runtime.js
  pr/pr-31/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat: pass paramsMeta to columns factory for cross-column narrowing (#31)
  src/list/use-list-core.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@0c2ee135656b6c23d544f45077f6617fa9298c9e 🚀
  project.json
Due: prettier --write

Remove preview for PR 31 🛬
  pr/pr-31/assets/component.stories-DrjzpCWO.js
  pr/pr-31/assets/iframe-CxeByyOY.js
  pr/pr-31/assets/item-click.stories-CZGSzja_.js
  pr/pr-31/assets/lit-haunted-BMnhs42k.js
  pr/pr-31/assets/preload-helper-PPVm8Dsz.js
  pr/pr-31/assets/render-B4hithYm.js
  pr/pr-31/assets/render.stories-CvNwgaVr.js
  pr/pr-31/assets/use-callback-Cqy5uBuA.js
  pr/pr-31/assets/use-pref.stories-CVYbO20d.js
  pr/pr-31/favicon-wrapper.svg
  pr/pr-31/favicon.svg
  pr/pr-31/iframe.html
  pr/pr-31/index.html
  pr/pr-31/index.json
  pr/pr-31/nunito-sans-bold-italic.woff2
  pr/pr-31/nunito-sans-bold.woff2
  pr/pr-31/nunito-sans-italic.woff2
  pr/pr-31/nunito-sans-regular.woff2
  pr/pr-31/project.json
  pr/pr-31/sb-addons/links-1/manager-bundle.js
  pr/pr-31/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-31/sb-addons/vitest-2/manager-bundle.js
  pr/pr-31/sb-common-assets/favicon-wrapper.svg
  pr/pr-31/sb-common-assets/favicon.svg
  pr/pr-31/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-31/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-31/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-31/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-31/sb-manager/globals-runtime.js
  pr/pr-31/sb-manager/globals.js
  pr/pr-31/sb-manager/manager-stores.js
  pr/pr-31/sb-manager/runtime.js
  pr/pr-31/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  d3242792458816e0e46c085ca582faf24f41bacd
Due: none

feat(list): add sortOn, descending, groupOn params to listCore() for default sort
  src/list/use-list-core.ts
  src/list/use-list-state.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 32 🛫
  pr/pr-32/assets/component.stories-DrjzpCWO.js
  pr/pr-32/assets/iframe-CxeByyOY.js
  pr/pr-32/assets/item-click.stories-CZGSzja_.js
  pr/pr-32/assets/lit-haunted-BMnhs42k.js
  pr/pr-32/assets/preload-helper-PPVm8Dsz.js
  pr/pr-32/assets/render-B4hithYm.js
  pr/pr-32/assets/render.stories-CvNwgaVr.js
  pr/pr-32/assets/use-callback-Cqy5uBuA.js
  pr/pr-32/assets/use-pref.stories-CVYbO20d.js
  pr/pr-32/favicon-wrapper.svg
  pr/pr-32/favicon.svg
  pr/pr-32/iframe.html
  pr/pr-32/index.html
  pr/pr-32/index.json
  pr/pr-32/nunito-sans-bold-italic.woff2
  pr/pr-32/nunito-sans-bold.woff2
  pr/pr-32/nunito-sans-italic.woff2
  pr/pr-32/nunito-sans-regular.woff2
  pr/pr-32/project.json
  pr/pr-32/sb-addons/links-1/manager-bundle.js
  pr/pr-32/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-32/sb-addons/vitest-2/manager-bundle.js
  pr/pr-32/sb-common-assets/favicon-wrapper.svg
  pr/pr-32/sb-common-assets/favicon.svg
  pr/pr-32/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-32/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-32/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-32/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-32/sb-manager/globals-runtime.js
  pr/pr-32/sb-manager/globals.js
  pr/pr-32/sb-manager/manager-stores.js
  pr/pr-32/sb-manager/runtime.js
  pr/pr-32/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

feat(list): add sortOn, descending, groupOn params to listCore() for default sort (#32)
  src/list/use-list-core.ts
  src/list/use-list-state.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@e1f69a2677376c88c00090e9475e8ecda893e5da 🚀
  project.json
Due: prettier --write

Remove preview for PR 32 🛬
  pr/pr-32/assets/component.stories-DrjzpCWO.js
  pr/pr-32/assets/iframe-CxeByyOY.js
  pr/pr-32/assets/item-click.stories-CZGSzja_.js
  pr/pr-32/assets/lit-haunted-BMnhs42k.js
  pr/pr-32/assets/preload-helper-PPVm8Dsz.js
  pr/pr-32/assets/render-B4hithYm.js
  pr/pr-32/assets/render.stories-CvNwgaVr.js
  pr/pr-32/assets/use-callback-Cqy5uBuA.js
  pr/pr-32/assets/use-pref.stories-CVYbO20d.js
  pr/pr-32/favicon-wrapper.svg
  pr/pr-32/favicon.svg
  pr/pr-32/iframe.html
  pr/pr-32/index.html
  pr/pr-32/index.json
  pr/pr-32/nunito-sans-bold-italic.woff2
  pr/pr-32/nunito-sans-bold.woff2
  pr/pr-32/nunito-sans-italic.woff2
  pr/pr-32/nunito-sans-regular.woff2
  pr/pr-32/project.json
  pr/pr-32/sb-addons/links-1/manager-bundle.js
  pr/pr-32/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-32/sb-addons/vitest-2/manager-bundle.js
  pr/pr-32/sb-common-assets/favicon-wrapper.svg
  pr/pr-32/sb-common-assets/favicon.svg
  pr/pr-32/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-32/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-32/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-32/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-32/sb-manager/globals-runtime.js
  pr/pr-32/sb-manager/globals.js
  pr/pr-32/sb-manager/manager-stores.js
  pr/pr-32/sb-manager/runtime.js
  pr/pr-32/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  478bd5ec9dfbf7e53283373e1a1d6cc01027a714
Due: none

feat(list): add configurable compareItemsFn prop to renderListCore (FE-366)
  src/list/render-list-core.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 33 🛫
  pr/pr-33/assets/component.stories-DrjzpCWO.js
  pr/pr-33/assets/iframe-CxeByyOY.js
  pr/pr-33/assets/item-click.stories-CZGSzja_.js
  pr/pr-33/assets/lit-haunted-BMnhs42k.js
  pr/pr-33/assets/preload-helper-PPVm8Dsz.js
  pr/pr-33/assets/render-B4hithYm.js
  pr/pr-33/assets/render.stories-CvNwgaVr.js
  pr/pr-33/assets/use-callback-Cqy5uBuA.js
  pr/pr-33/assets/use-pref.stories-CVYbO20d.js
  pr/pr-33/favicon-wrapper.svg
  pr/pr-33/favicon.svg
  pr/pr-33/iframe.html
  pr/pr-33/index.html
  pr/pr-33/index.json
  pr/pr-33/nunito-sans-bold-italic.woff2
  pr/pr-33/nunito-sans-bold.woff2
  pr/pr-33/nunito-sans-italic.woff2
  pr/pr-33/nunito-sans-regular.woff2
  pr/pr-33/project.json
  pr/pr-33/sb-addons/links-1/manager-bundle.js
  pr/pr-33/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-33/sb-addons/vitest-2/manager-bundle.js
  pr/pr-33/sb-common-assets/favicon-wrapper.svg
  pr/pr-33/sb-common-assets/favicon.svg
  pr/pr-33/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-33/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-33/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-33/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-33/sb-manager/globals-runtime.js
  pr/pr-33/sb-manager/globals.js
  pr/pr-33/sb-manager/manager-stores.js
  pr/pr-33/sb-manager/runtime.js
  pr/pr-33/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Remove preview for PR 33 🛬
  pr/pr-33/assets/component.stories-DrjzpCWO.js
  pr/pr-33/assets/iframe-CxeByyOY.js
  pr/pr-33/assets/item-click.stories-CZGSzja_.js
  pr/pr-33/assets/lit-haunted-BMnhs42k.js
  pr/pr-33/assets/preload-helper-PPVm8Dsz.js
  pr/pr-33/assets/render-B4hithYm.js
  pr/pr-33/assets/render.stories-CvNwgaVr.js
  pr/pr-33/assets/use-callback-Cqy5uBuA.js
  pr/pr-33/assets/use-pref.stories-CVYbO20d.js
  pr/pr-33/favicon-wrapper.svg
  pr/pr-33/favicon.svg
  pr/pr-33/iframe.html
  pr/pr-33/index.html
  pr/pr-33/index.json
  pr/pr-33/nunito-sans-bold-italic.woff2
  pr/pr-33/nunito-sans-bold.woff2
  pr/pr-33/nunito-sans-italic.woff2
  pr/pr-33/nunito-sans-regular.woff2
  pr/pr-33/project.json
  pr/pr-33/sb-addons/links-1/manager-bundle.js
  pr/pr-33/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-33/sb-addons/vitest-2/manager-bundle.js
  pr/pr-33/sb-common-assets/favicon-wrapper.svg
  pr/pr-33/sb-common-assets/favicon.svg
  pr/pr-33/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-33/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-33/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-33/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-33/sb-manager/globals-runtime.js
  pr/pr-33/sb-manager/globals.js
  pr/pr-33/sb-manager/manager-stores.js
  pr/pr-33/sb-manager/runtime.js
  pr/pr-33/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@da82241f339b097c15db2efa2e182383225046de 🚀
  project.json
Due: prettier --write

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  78783b228dc809b058809e3ee1391a4b67e695c4
Due: none

fix(list): correct hasMore off-by-one error in useMore (FE-368)
  src/list/more/use-more.test.ts
  src/list/more/use-more.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 34 🛫
  pr/pr-34/assets/component.stories-DrjzpCWO.js
  pr/pr-34/assets/iframe-CxeByyOY.js
  pr/pr-34/assets/item-click.stories-CZGSzja_.js
  pr/pr-34/assets/lit-haunted-BMnhs42k.js
  pr/pr-34/assets/preload-helper-PPVm8Dsz.js
  pr/pr-34/assets/render-B4hithYm.js
  pr/pr-34/assets/render.stories-CvNwgaVr.js
  pr/pr-34/assets/use-callback-Cqy5uBuA.js
  pr/pr-34/assets/use-pref.stories-CVYbO20d.js
  pr/pr-34/favicon-wrapper.svg
  pr/pr-34/favicon.svg
  pr/pr-34/iframe.html
  pr/pr-34/index.html
  pr/pr-34/index.json
  pr/pr-34/nunito-sans-bold-italic.woff2
  pr/pr-34/nunito-sans-bold.woff2
  pr/pr-34/nunito-sans-italic.woff2
  pr/pr-34/nunito-sans-regular.woff2
  pr/pr-34/project.json
  pr/pr-34/sb-addons/links-1/manager-bundle.js
  pr/pr-34/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-34/sb-addons/vitest-2/manager-bundle.js
  pr/pr-34/sb-common-assets/favicon-wrapper.svg
  pr/pr-34/sb-common-assets/favicon.svg
  pr/pr-34/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-34/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-34/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-34/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-34/sb-manager/globals-runtime.js
  pr/pr-34/sb-manager/globals.js
  pr/pr-34/sb-manager/manager-stores.js
  pr/pr-34/sb-manager/runtime.js
  pr/pr-34/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@8a50940024a9d3f955e677b5a8bb2aa73f5ecb88 🚀
  project.json
Due: prettier --write

Remove preview for PR 34 🛬
  pr/pr-34/assets/component.stories-DrjzpCWO.js
  pr/pr-34/assets/iframe-CxeByyOY.js
  pr/pr-34/assets/item-click.stories-CZGSzja_.js
  pr/pr-34/assets/lit-haunted-BMnhs42k.js
  pr/pr-34/assets/preload-helper-PPVm8Dsz.js
  pr/pr-34/assets/render-B4hithYm.js
  pr/pr-34/assets/render.stories-CvNwgaVr.js
  pr/pr-34/assets/use-callback-Cqy5uBuA.js
  pr/pr-34/assets/use-pref.stories-CVYbO20d.js
  pr/pr-34/favicon-wrapper.svg
  pr/pr-34/favicon.svg
  pr/pr-34/iframe.html
  pr/pr-34/index.html
  pr/pr-34/index.json
  pr/pr-34/nunito-sans-bold-italic.woff2
  pr/pr-34/nunito-sans-bold.woff2
  pr/pr-34/nunito-sans-italic.woff2
  pr/pr-34/nunito-sans-regular.woff2
  pr/pr-34/project.json
  pr/pr-34/sb-addons/links-1/manager-bundle.js
  pr/pr-34/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-34/sb-addons/vitest-2/manager-bundle.js
  pr/pr-34/sb-common-assets/favicon-wrapper.svg
  pr/pr-34/sb-common-assets/favicon.svg
  pr/pr-34/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-34/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-34/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-34/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-34/sb-manager/globals-runtime.js
  pr/pr-34/sb-manager/globals.js
  pr/pr-34/sb-manager/manager-stores.js
  pr/pr-34/sb-manager/runtime.js
  pr/pr-34/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  130146d1addf885ba79f0ca446b7e4e8c2e86826
Due: none

fix: duplicate data when _params and list$ change at the same time
  src/list/more/use-more.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-queue@372b3d84376865c3dbc9f28101603237e52aa9e7 🚀
  project.json
Due: prettier --write

Notes added by 'git notes add'
  b924e65af7a23959ff71f04134a6b03567a19ab1
Due: none

fix(renderStats): only show selection position in queue/split view
  src/queue/render.ts
Due: eslint --fix, prettier --write

Deploy preview for PR 37 🛫
  pr/pr-37/assets/component.stories-CwkcSD5L.js
  pr/pr-37/assets/iframe-seStyLSv.js
  pr/pr-37/assets/item-click.stories-CnaPCTwQ.js
  pr/pr-37/assets/lit-haunted-DDd9bf0J.js
  pr/pr-37/assets/preload-helper-PPVm8Dsz.js
  pr/pr-37/assets/render-Do4BYtlw.js
  pr/pr-37/assets/render.stories-DS_Hcnjz.js
  pr/pr-37/assets/use-callback-SMzqPS6U.js
  pr/pr-37/assets/use-pref.stories-BFF7Hv-W.js
  pr/pr-37/favicon-wrapper.svg
  pr/pr-37/favicon.svg
  pr/pr-37/iframe.html
  pr/pr-37/index.html
  pr/pr-37/index.json
  pr/pr-37/nunito-sans-bold-italic.woff2
  pr/pr-37/nunito-sans-bold.woff2
  pr/pr-37/nunito-sans-italic.woff2
  pr/pr-37/nunito-sans-regular.woff2
  pr/pr-37/project.json
  pr/pr-37/sb-addons/links-1/manager-bundle.js
  pr/pr-37/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  pr/pr-37/sb-addons/vitest-2/manager-bundle.js
  pr/pr-37/sb-common-assets/favicon-wrapper.svg
  pr/pr-37/sb-common-assets/favicon.svg
  pr/pr-37/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-37/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-37/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-37/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-37/sb-manager/globals-runtime.js
  pr/pr-37/sb-manager/globals.js
  pr/pr-37/sb-manager/manager-stores.js
  pr/pr-37/sb-manager/runtime.js
  pr/pr-37/vite-inject-mocker-entry.js
Due: eslint --fix, prettier --write
